@mixin make-card-28(
    $background-position,
    $background-size,
    $border-radius: false,
) {
    background-position: $background-position;
    background-repeat: no-repeat;
    background-size: $background-size;
    padding: $measure*7 $measure*5;
    position: relative;
    width: 100%;

    &::before{
        content: '';
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        z-index: 0;
        width: 100%;
    }

    @if $border-radius {
        border-radius: $border-radius;
        overflow: hidden;
    }

    &__wrapper{
        position: relative;
        z-index: 1;

        &__title{
            margin-bottom: $measure * 2;
        
            @media all and ($viewport-type: $tablets) {
                margin-bottom: $measure;
            }
        }

        &__subtitle{}
    }

    
}

@mixin make-card-28-modifier(
    $mask-color,
    $title-color,
    $subtitle-color,
    $text-align: false,
    $title-font: false,
    $subtitle-font: false,
    $title-font-weight: false,
    $subtitle-font-weight: false
) {
    &::before{
        background: $mask-color;
    }

    @if $text-align == "center" {
        text-align: center;
    }
    @if $text-align == "left" {
        text-align: left;

    }
    @if $text-align == "right" {
        text-align: right;

    }
    
    .g--card-28 {
        &__wrapper{

            &__title{
                color: $title-color;
                @if $title-font {
                    @extend .f--font-#{$title-font} !optional;
                }
                @if $title-font-weight {
                    font-weight: $title-font-weight;
                }
            }

            &__subtitle{
                color: $subtitle-color;
                @if $subtitle-font {
                    @extend .f--font-#{$subtitle-font} !optional;
                }
                @if $subtitle-font-weight {
                    font-weight: $subtitle-font-weight;
                }
            }
        }
    }
}