.g--card-28{
    @include make-card-28(
        $background-size: cover,
        $background-position: center,
        // $border-radius: default,
    );
    @include make-card-28-modifier(
        $mask-color: rgba(map-get($color-options, b), .5),
        $title-color: map-get($color-options, a),
        $subtitle-color: map-get($color-options, a),
        $title-font: d,
        $subtitle-font: f,
        // $title-font-weight: default,
        // $subtitle-font-weight: default,
        // $text-align: default
    );
}