.g--card-07{
    @include make-card-07();
    @include make-card-07-modifier(
        $background-color: linear-gradient(map-get($color-options, e), map-get($color-options, h)),
        $title-color: map-get($color-options, a),
        $title-font: b,
    );
    &--second{
        @include make-card-07-modifier(
            $background-color: rgba(map-get($color-options, g), .7),
            $title-color: map-get($color-options, d),
            $title-font: c,
            $border-radius: $measure*2,
            $hover-background-color: map-get($color-options, g),
            $hover-img-zoom: 1.2,
            $hover-shadow: 0 0 $measure*2 map-get($color-options, h),
            $hover-title-color: map-get($color-options, h),
            $hover-transform: translateY(-$measure),
            $img-aspect-ratio: calc(1 / 1),
            $img-height: 50px,
            $img-fit: cover,
            $img-position: center,
            $img-width: auto,
            $text-align: center,
            $title-font-weight: 700,
            $title-max-lines: 2,
        );
    }
    &--third{
        @include make-card-07-modifier(
            $background-color: linear-gradient(45deg, map-get($color-options, a), map-get($color-options, e)),
            $border-color: map-get($color-options, h),
            $border-style: solid,
            $border-width: 1px,
            $title-color: map-get($color-options, d),
            $title-font: c,
            $border-radius: $measure*2,
            $hover-transform: translateY(-$measure),
            $img-aspect-ratio: calc(1 / 1),
            $img-height: 50px,
            $img-fit: cover,
            $img-position: center,
            $img-width: auto,
            $text-align: center,
            $title-font-weight: 700,
            $title-max-lines: 2,
        );
    }
    &--fourth{
        @include make-card-07-modifier(
            $background-color: transparent,
            $border-color: map-get($color-options, h),
            $border-style: solid,
            $border-width: 4px,
            $title-color: map-get($color-options, a),
            $title-font: c,
            $border-radius: $measure*2,
            $hover-background-color: map-get($color-options, h),
            $hover-img-zoom: 1.2,
            $hover-shadow: 0 0 $measure*2 map-get($color-options, h),
            // $hover-title-color: map-get($color-options, h),
            $hover-transform: translateY(-$measure),
            $img-aspect-ratio: calc(1 / 1),
            $img-height: 50px,
            $img-fit: cover,
            $img-position: center,
            $img-width: auto,
            $text-align: center,
            $title-font-weight: 700,
            $title-max-lines: 2,
        );
    }
}