.g--card-07{
    @include make-card-07(
        $link-class: g--link-01,
    );

    @include make-card-07-modifier(
        $subtitle-color: map-get($color-options, a),
        $title-color: map-get($color-options, a),
        $subtitle-font: f,
        $title-font: c,
        // $link-class-modifier: default
        // $text-align: default
    );
}