@mixin make-card-09(
    $title-font,
) {
    padding: $measure*7 $measure*5;
    width: 100%;
    &__media{
        display: block;
        width: auto;
        height: 100px;
        object-fit: cover;
        @include make-sp-01();
    }
    &__title{
        @extend .f--font-#{$title-font} !optional;
    }
}

@mixin make-card-09-color(
    $background-color,
    $title-color,
) {
    background-color: $background-color;
    
    .g--card-09 {
        &__title{
            color: $title-color;
        }
    }
}