@mixin make-link-04() {
    text-decoration: none;
    width: fit-content;
    display: flex;
    align-items: center;
    svg{
        width: $measure;
        height: auto;
        margin-left: $measure;
    }
}

@mixin make-link-04-modifier(
    $text-color,
    $artwork-color-fill: false,
    $artwork-color-stroke: false,
    $artwork-color-hover: false,
    $text-color-hover: false
) {
    color: $text-color;
    @if $text-color-hover {
        transition: color $ease-standard-a $time-b;
    }
    .g--link-04{
        svg{
            transition: transform $ease-standard-a $time-b;
            path{
                @if $artwork-color-fill {
                    fill: $artwork-color-fill;
                }
                @if $artwork-color-stroke {
                    stroke: $artwork-color-stroke;
                }
                @if $artwork-color-hover and $artwork-color-fill {
                    transition: fill $ease-standard-a $time-b;
                }
                @if $artwork-color-hover and $artwork-color-stroke {
                    transition: stroke $ease-standard-a $time-b;
                }
            }
        }
    }
    @media (hover: hover) {
        &:hover ,
        &:focus ,
        &:active {
            color: $text-color-hover;
        }
    }
    @media (hover: hover) {
        &:hover .g--link-04,
        &:focus .g--link-04,
        &:active .g--link-04{
            &__artwork{
                transform: translateX($measure);
                path{
                    @if $artwork-color-hover and $artwork-color-fill {
                        fill: $artwork-color-hover;
                    }
                    @if $artwork-color-hover and $artwork-color-stroke {
                        stroke: $artwork-color-hover;
                    }
                }
            }
        }
    }
}