.g--link-04{
    @include make-link-04();
    @include make-link-04-modifier(
        $text-color: map-get($color-options, a),
        $artwork-color-stroke: map-get($color-options, a),
        $text-color-hover: map-get($color-options, g),
        $artwork-color-hover: map-get($color-options, g),
    );
}