.g--link-04 {
    @include make-link-04();
    @include make-link-04-modifier(
        $hover-text-color: map-get($color-options, g),
        $text-color: map-get($color-options, a),
        $underline-color: map-get($color-options, g),
        $underline-height: 1px,
    );
    &--second {
        @include make-link-04-modifier(
            $hover-text-color: map-get($color-options, h),
            $text-color: map-get($color-options, a),
            $underline-color: map-get($color-options, h),
            $underline-height: 2px,
        );
    }
}
