@mixin make-link-02() {
    text-decoration: underline;
    width: fit-content;
}

@mixin make-link-02-modifier($text-color: false, $text-color-hover: false) {
    @if $text-color {
        color: $text-color;
    }
    transition: color $ease-standard-a $time-b;
    @media (hover: hover) {
        &:hover,
        &:focus,
        &:active {
            @if $text-color-hover {
                color: $text-color-hover;
            }
        }
    }
}
