@mixin make-card-60(
    $btn-class,
    $content-font,
    $heading-font,
    $person-font,
    $position-font,
    $border-radius: false,
    $content-font-weight: false,
    $heading-font-weight: false,
    $img-position: false,
    $person-font-weight: false,
    $position-font-weight: false,
    $change-order-reponsive: false,
) {
    display: flex;
    flex-wrap: wrap;
    width: 100%;

    @if $border-radius {
        border-radius: $border-radius;
        overflow: hidden;
    }

    &__wrapper{
        width: 50%;
        padding: $measure*10;
        display: flex;
        flex-direction: column;
        justify-content: center;

        @media all and ($viewport-type: $tabletm) {
            padding: $measure*4;
        }

        @media all and ($viewport-type: $tablets) {
            width: 100%;
            @if $change-order-reponsive{
                order: 1;
            }
        }

        &__hd{
            @extend .f--font-#{$heading-font} !optional;
            @if $heading-font-weight {
                font-weight: $heading-font-weight;
            }
            margin-bottom: $measure * 3;

            @media all and ($viewport-type: $tablets) {
                margin-bottom: $measure * 2;
            }
        }

        &__bd{
            @extend .f--font-#{$content-font} !optional;
            @if $content-font-weight {
                font-weight: $content-font-weight;
            }
            margin-bottom: $measure * 3;

            @media all and ($viewport-type: $tablets) {
                margin-bottom: $measure * 2;
            }
        }
        &__ft{
            &__title{
                @extend .f--font-#{$person-font} !optional;
                @if $person-font-weight {
                    font-weight: $person-font-weight;
                }
            }
            &__subtitle{
                @extend .f--font-#{$position-font} !optional;
                @if $position-font-weight {
                    font-weight: $position-font-weight;
                }
            }
        }

        &__btn{
            @extend .#{$btn-class} !optional;
            margin-top: $measure * 4;
            display: inline-block;
            @media all and ($viewport-type: $tablets) {
                margin-top: $measure * 3;
            }
        }
    }

    &__media-wrapper{
        position: relative;
        width: 50%;

        @media all and ($viewport-type: $tablets) {
            width: 100%;
            display: flex;
        }

        &__media{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            @if $img-position {
                object-position: $img-position;
            }

            @media all and ($viewport-type: $tablets) {
                position: relative;
                top: auto;
                left: auto;
                height: auto;
            }
        }
    }
}

@mixin make-card-60-modifier(
    $content-color,
    $heading-color,
    $person-color,
    $position-color,
    $background-color: false,
    $background-color-hover: false,
    $btn-class-modifier: false,
    $text-align: false,
    $shadow-hover: false,
    $translate-hover: false,
    $zoom-hover: false,
) {

    @if $background-color-hover or $zoom-hover or $shadow-hover or $translate-hover {
        text-decoration: none !important;
        cursor: pointer;
    }

    @if $text-align == "center" {
        text-align: center;
        
        .g--card-60 {
            &__wrapper{
                &__btn{
                    margin-left: auto;
                    margin-right: auto;
                }
            }
        }
    }

    @if $text-align == "left" {
        text-align: left;

        .g--card-60 {
            &__wrapper{
                &__btn{
                    margin-left: 0;
                    margin-right: auto;
                }
            }
        }
    }

    @if $text-align == "right" {
        text-align: right;

        .g--card-60 {
            &__wrapper{
                &__btn{
                    margin-left: auto;
                    margin-right: 0;
                }
            }
        }
    }
    
    @if $shadow-hover and $translate-hover {
        transition: box-shadow $time-b $ease-standard-a, transform $time-b $ease-standard-a;
        @media all and (hover : hover) {
            &:hover,
            &:focus,
            &:active {
                box-shadow: $shadow-hover;
                transform: $translate-hover;
            }
        }
    } @else if $shadow-hover{
        transition: box-shadow $time-b $ease-standard-a;
        @media all and (hover : hover) {
            &:hover,
            &:focus,
            &:active {
                box-shadow: $shadow-hover;
            }
        }
    } @else if $translate-hover{
        transition: transform $time-b $ease-standard-a;
        @media all and (hover : hover) {
            &:hover,
            &:focus,
            &:active {
                transform: $translate-hover;
            }
        }
    }

    @if $background-color-hover {
        
        .g--card-60 {
            &__wrapper {
                transition: background $time-b $ease-standard-a;
            }
        }

        @media all and (hover : hover) {
            &:hover,
            &:focus,
            &:active {

                .g--card-60 {
                    &__wrapper {
                        background: $background-color-hover;
                    }
                }
            }
        }

    }

    @if $zoom-hover{
        .g--card-60 {
            &__media-wrapper{
                overflow: hidden;
                &__media{
                    transition: transform $time-b $ease-standard-a;
                }
            }
        }
        @media all and (hover : hover) {
            &:hover,
            &:focus,
            &:active {

                .g--card-60 {
                    &__media-wrapper{
                        &__media{
                            transform: scale($zoom-hover);
                        }
                    }
                }
            }
        }
    }

    .g--card-60 {
        &__wrapper{
            @if $background-color {
                background: $background-color;   
            }
            &__hd{
                color: $heading-color;
            }

            &__bd{
                color: $content-color;
            }

            &__ft{
                &__title{
                    color: $person-color;
                }
                &__subtitle{
                    color: $position-color;
                }
            }

            @if $btn-class-modifier {
                &__btn{
                    @extend .#{$btn-class-modifier} !optional;
                }
            }
        }
    }
}