@mixin make-card-57() {
    padding: $measure * 7 $measure * 5;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-decoration: none;

    &__title {
        margin-bottom: $measure * 2;
        @media all and ($viewport-type: $tablets) {
            margin-bottom: $measure;
        }
    }
    &__link {
        margin-top: auto;
    }
}

@mixin make-card-57-modifier(
    $background-color: false,
    $border-color: false,
    $border-radius: false,
    $border-style: false,
    $border-width: false,
    $card-min-height: false,
    $hover-background-color: false,
    $hover-shadow: false,
    $hover-title-color: false,
    $hover-title-underline-color: false,
    $hover-transform: false,
    $link-class: false,
    $link-font: false,
    $shadow: false,
    $text-align: false,
    $title-color: false,
    $title-font-weight: false,
    $title-font: false,
    $title-max-lines: false
) {
    @if $background-color {
        background: $background-color;
    }

    @if $border-color {
        border-color: $border-color;
    }

    @if $border-radius {
        border-radius: $border-radius;
    }

    @if $border-style {
        border-style: $border-style;
    }

    @if $border-width {
        border-width: $border-width;
    }

    @if $card-min-height {
        min-height: $card-min-height;
    }

    @if $shadow {
        box-shadow: $shadow;
    }

    @if $hover-background-color and $hover-shadow and $hover-transform {
        transition: background $time-b $ease-standard-a, box-shadow $time-b $ease-standard-a,
            transform $time-b $ease-standard-a;
        @media all and (hover: hover) {
            &:hover,
            &:focus,
            &:active {
                background: $hover-background-color;
                box-shadow: $hover-shadow;
                transform: $hover-transform;
            }
        }
    } @else if $hover-background-color and $hover-shadow {
        transition: background $time-b $ease-standard-a, box-shadow $time-b $ease-standard-a;
        @media all and (hover: hover) {
            &:hover,
            &:focus,
            &:active {
                background: $hover-background-color;
                box-shadow: $hover-shadow;
            }
        }
    } @else if $hover-background-color and $hover-transform {
        transition: background $time-b $ease-standard-a, transform $time-b $ease-standard-a;
        @media all and (hover: hover) {
            &:hover,
            &:focus,
            &:active {
                background: $hover-background-color;
                transform: $hover-transform;
            }
        }
    } @else if $hover-background-color {
        transition: background $time-b $ease-standard-a;
        @media all and (hover: hover) {
            &:hover,
            &:focus,
            &:active {
                background: $hover-background-color;
            }
        }
    } @else if $hover-shadow and $hover-transform {
        transition: box-shadow $time-b $ease-standard-a, transform $time-b $ease-standard-a;
        @media all and (hover: hover) {
            &:hover,
            &:focus,
            &:active {
                box-shadow: $hover-shadow;
                transform: $hover-transform;
            }
        }
    } @else if $hover-shadow {
        transition: box-shadow $time-b $ease-standard-a;
        @media all and (hover: hover) {
            &:hover,
            &:focus,
            &:active {
                box-shadow: $hover-shadow;
            }
        }
    } @else if $hover-transform {
        transition: transform $time-b $ease-standard-a;
        @media all and (hover: hover) {
            &:hover,
            &:focus,
            &:active {
                transform: $hover-transform;
            }
        }
    }

    @if $hover-title-color and $hover-title-underline-color {
        @media all and (hover: hover) {
            &:hover,
            &:focus,
            &:active {
                @media all and (hover: hover) {
                    &:hover,
                    &:focus,
                    &:active {
                        .g--card-57 {
                            &__title {
                                color: $hover-title-color;
                                text-decoration-color: $hover-title-underline-color;
                            }
                        }
                    }
                }
            }
        }
    } @else if $hover-title-color {
        @media all and (hover: hover) {
            &:hover,
            &:focus,
            &:active {
                .g--card-57 {
                    &__title {
                        color: $hover-title-color;
                    }
                }
            }
        }
    } @else if $hover-title-underline-color {
        @media all and (hover: hover) {
            &:hover,
            &:focus,
            &:active {
                .g--card-57 {
                    &__title {
                        text-decoration-color: $hover-title-underline-color;
                    }
                }
            }
        }
    }

    @if $text-align == "center" {
        text-align: center;
        align-items: center;
    }

    @if $text-align == "left" {
        text-align: left;
        align-items: flex-start;
    }

    @if $text-align == "right" {
        text-align: right;
        align-items: flex-end;
    }

    .g--card-57 {
        &__title {
            @if $title-color {
                color: $title-color;
            }

            @if $title-font {
                @extend .f--font-#{$title-font} !optional;
            }

            @if $title-font-weight {
                font-weight: $title-font-weight;
            }

            @if $title-max-lines {
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: $title-max-lines;
                -webkit-box-orient: vertical;
            }

            @if $hover-title-underline-color {
                text-decoration: underline;
                text-decoration-color: transparent;
            }

            @if $hover-title-color and $hover-title-underline-color {
                transition: color $time-b $ease-standard-a,
                    text-decoration-color $time-b $ease-standard-a;
            } @else if $hover-title-color {
                transition: color $time-b $ease-standard-a;
            } @else if $hover-title-underline-color {
                transition: text-decoration-color $time-b $ease-standard-a;
            }
        }

        &__link {
            @if $link-class {
                @extend .#{$link-class} !optional;
            }

            @if $link-font {
                @extend .f--font-#{$link-font} !optional;
            }
        }
    }
}
