.g--message-02 {
    @include make-message-02(
        $border-width: 1px,
        $text-font: d
    );

    @include make-message-02-modifier(
        $border-color: map-get($color-options, a),
        $text-color: map-get($color-options, a)
    );
}