@mixin make-layout-07() {
    &__media-wrapper {
        position: relative;
        width: 100%;

        &__media {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            display: block;
        }
    }
    &__wrapper {
        display: flex;
        flex-direction: column;
        padding: $measure * 7 0;
        width: 100%;

        &__title {
            margin-bottom: $measure * 4;
        }

        &__subtitle {
            margin-bottom: $measure * 4;
        }

        &__ft {
            &__btn {
                width: fit-content;
                margin-left: 0;
                margin-right: auto;

                @media all and ($viewport-type: $mobile) {
                    width: 100%;
                }
            }
        }
    }
}

@mixin make-layout-07-modifier(
    $align-text-img: false,
    $background-color: false,
    $breakpoint: false,
    $btn-class: false,
    $btn-font: false,
    $change-order-reponsive: false,
    $img-border-radius: false,
    $img-max-height: false,
    $img-min-height: false,
    $img-height: false,
    $img-position: false,
    $object-fit: false,
    $subtitle-color: false,
    $subtitle-font: false,
    $subtitle-font-weight: false,
    $title-color: false,
    $title-font: false,
    $title-font-weight: false,
) {
    @if $background-color {
        background: $background-color;
    }

    .g--layout-07 {
        &__media-wrapper {
            @if $object-fit == contain or $object-fit== scale-down {
                display: flex;
                align-items: center;
                justify-content: center;
            }
            @if $img-min-height {
                min-height: $img-min-height;
            }
            @if $img-height {
                min-height: $img-height;
            }
            
            @if $breakpoint {
                @media all and ($viewport-type: $breakpoint) {
                    height: auto;
                    min-height: 0;
                    @if $change-order-reponsive == true {
                        margin-bottom: $measure * 5;
                    } @else {
                        margin-bottom: 0;
                    }
                }
            }

            &__media {
                @if $object-fit {
                    object-fit: $object-fit;
                }
                @if $img-position {
                    object-position: $img-position;
                }
                @if $img-border-radius {
                    border-radius: $img-border-radius;
                    overflow: hidden;
                    position: relative;
                    top: auto;
                    left: auto;
                }
                @if $img-min-height {
                    min-height: $img-min-height;
                }
                @if $img-max-height {
                    max-height: $img-max-height;
                }
                @if $img-height {
                    height: $img-height;
                }
                @if $object-fit == contain or $object-fit== scale-down {
                    width: auto;
                    height: auto;
                    max-width: 100%;
                }
                @if $breakpoint {
                    @media all and ($viewport-type: $breakpoint) {
                        position: relative;
                        top: auto;
                        left: auto;
                        transform: none;
                    }
                }


                @if $align-text-img == "top"{
                    top: 0;
                    bottom: auto;
                    transform: translateY(0);
                }
                @if $align-text-img == "center"{
                    top: 50%;
                    bottom: auto;
                    transform: translateY(-50%);
                }
                @if $align-text-img == "bottom"{
                    top: auto;
                    bottom: 0;
                    transform: translateY(0);
                }
            }
        }

        &__wrapper {
            @if $breakpoint {
                @media all and ($viewport-type: $breakpoint) {
                    padding: 0;
                    @if $change-order-reponsive == true {
                        margin-bottom: $measure * 5;
                    } @else {
                        margin-bottom: 0;
                    }
                }
            }
            @if $align-text-img == "top"{
                justify-content: flex-start;
            }
            @if $align-text-img == "center"{
                justify-content: center;
            }
            @if $align-text-img == "bottom"{
                justify-content: flex-end;
            }

            &__title {
                @if $title-font {
                    @extend .f--font-#{$title-font} !optional;
                }
                @if $title-font-weight {
                    font-weight: $title-font-weight;
                }
                @if $title-color {
                    color: $title-color;
                }

                @if $breakpoint {
                    @media all and ($viewport-type: $breakpoint) {
                        margin-bottom: $measure * 3;
                    }
                }
            }
            &__subtitle {
                @if $subtitle-font {
                    @extend .f--font-#{$subtitle-font} !optional;
                }
                @if $subtitle-font-weight {
                    font-weight: $subtitle-font-weight;
                }

                @if $subtitle-color {
                    color: $subtitle-color;
                }

                @if $breakpoint {
                    @media all and ($viewport-type: $breakpoint) {
                        margin-bottom: $measure * 3;
                    }
                }
            }

            &__ft {
                &__btn {
                    @if $btn-class {
                        @extend .#{$btn-class} !optional;
                    }
                    @if $btn-font {
                        @extend .f--font-#{$btn-font} !optional;
                    }
                }
            }
        }
    }
}
