.g--card-02{
    @include make-card-02();
    @include make-card-02-modifier(
        $title-color: map-get($color-options, a),
        $title-font: c,
    );
    &--second{
        @include make-card-02-modifier(
            $subtitle-color: map-get($color-options, g),
            $title-color: map-get($color-options, g),
            $title-font: c,
            $hover-img-zoom: 1.2,
            $hover-title-color: map-get($color-options, h),
            $hover-transform: translateY(-$measure),
            $img-aspect-ratio:calc(1 / 1),
            $img-height: 100px,
            $img-fit: cover,
            $img-position: center,
            $img-width: auto,
            $subtitle-font: f,
            $subtitle-font-weight: 400,
            $subtitle-max-lines: 3,
           $text-align: left,
            $title-font-weight: 400,
            $title-max-lines: 3,
        );
    }
}