.g--card-02{
    @include make-card-02(
        $border-width: 1px,
        $title-font: b,
        $subtitle-font: d,
        // $text-align: default
    );
    @include make-card-02-modifier(
        $border-color: map-get($color-options, a),
        $title-color: map-get($color-options, a),
        $subtitle-color: map-get($color-options, a),
        // $text-align: default
    );

    &--second {
        @include make-card-02-modifier(
        $border-color: map-get($color-options, c),
        $background-color: rgba(map-get($color-options, c), .5),
        $title-color: map-get($color-options, b),
        $subtitle-color: map-get($color-options, b),
    );
    }
}