.g--card-02{
    @include make-card-02(
        $border-width: 1px,
        $title-font: b,
        $subtitle-font: d,
    );
    @include make-card-02-color(
        $border-color: map-get($color-options, a),
        $title-color: map-get($color-options, a),
        $subtitle-color: map-get($color-options, a),
    );
}