@mixin make-form-label-01() {
    margin-bottom: $measure;
    display: block;
}

@mixin make-form-label-01-modifier(
    $label-color: false,
    $label-font: false,
    $label-font-weight: false,
) {
    @if $label-color {
        color: $label-color;
    }
    @if $label-font {
        @extend .f--font-#{$label-font} !optional;
    }
    @if $label-font-weight {
        font-weight: $label-font-weight;
    }
}