@mixin make-backdrop-01() {
    visibility: visible;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 100;
}

@mixin make-backdrop-01-modifier($background-color: false, $opacity: false, $opacity-active: false, $transform: false, $transform-active: false, $transition: false) {
    @if $background-color {
        background-color: $background-color;
    }
    @if $opacity {
        opacity: $opacity;
    }
    @if $transform {
        transform: $transform;
    }
    @if $transition {
        transition: $transition;
    }

    &--is-active {
        @if $transform-active {
            transform: $transform-active;
        }
        @if $opacity-active {
            opacity: $opacity-active;
        }
    }
}
