.g--card-26 {
    @include make-card-26();
    @include make-card-26-modifier(
        $img-aspect-ratio: calc(16 / 9),
        // $full-image-height: false,
        // $hover-img-zoom: false,
        // $hover-title-color: false,
        // $hover-transform: false,
        // $img-aspect-ratio: false,
        // $img-border-radius: false,
        // $img-height: false,
        // $img-position: false,
        $text-align: center,
        $title-color: map-get($color-options, a),
        $title-font: f,
        // $title-font-weight: false,
        // $title-max-lines: false,
    );

    &--second{
        @include make-card-26-modifier(
            // $full-image-height: false,
            $hover-img-zoom: 1.5,
            $hover-title-color: map-get($color-options, g),
            // $hover-transform: false,
            // $img-aspect-ratio: false,
            $img-border-radius: $measure*2 $measure*4,
            // $img-height: false,
            // $img-position: false,
            $text-align: left,
            $title-color: map-get($color-options, f),
            // $title-font: false,
            $title-font-weight: bold,
            $title-max-lines: 5,
        );
    }
}