.g--card-15{
    @include make-card-15(
        $link-class: g--link-01,
        $title-font: c,
    );
    @include make-card-15-modifier(
        $title-color: map-get($color-options, a),
        // $link-class-modifier: default
        // $text-align: default
    );
}