@mixin make-cta-01() {
    display: block;
    padding: 8% 12%;
    text-align: center;
    width: 100%;

    @media all and ($viewport-type: $tabletl) {
        padding: 12%;
    }

    @media all and ($viewport-type: $tabletm) {
        padding: 9% 8%;
    }

    @media all and ($viewport-type: $mobile) {
        padding: 11% 12%;
    }

    &__title {
        margin-bottom: $measure * 6;

        @media all and ($viewport-type: $tablets) {
            margin-bottom: $measure * 4;
        }
    }

    &__btn {
        margin-left: auto;
        margin-right: auto;
    }
}

@mixin make-cta-01-modifier(
    $background-color: false,
    $btn-class: false,
    $btn-font: false,
    $hover-background-color: false,
    $hover-shadow: false,
    $hover-title-color: false,
    $hover-transform: false,
    $text-align: false,
    $title-color: false,
    $title-font-weight: false,
    $title-font: false,
    $title-max-lines: false
) {
    @if $background-color {
        background: $background-color;
    }

    @if $hover-background-color and $hover-shadow and $hover-transform {
        transition: background $time-b $ease-standard-a, box-shadow $time-b $ease-standard-a,
            transform $time-b $ease-standard-a;
        @media all and (hover: hover) {
            &:hover,
            &:focus,
            &:active {
                background: $hover-background-color;
                box-shadow: $hover-shadow;
                transform: $hover-transform;
            }
        }
    } @else if $hover-background-color and $hover-shadow {
        transition: background $time-b $ease-standard-a, box-shadow $time-b $ease-standard-a;
        @media all and (hover: hover) {
            &:hover,
            &:focus,
            &:active {
                background: $hover-background-color;
                box-shadow: $hover-shadow;
            }
        }
    } @else if $hover-background-color and $hover-transform {
        transition: background $time-b $ease-standard-a, transform $time-b $ease-standard-a;
        @media all and (hover: hover) {
            &:hover,
            &:focus,
            &:active {
                background: $hover-background-color;
                transform: $hover-transform;
            }
        }
    } @else if $hover-background-color {
        transition: background $time-b $ease-standard-a;
        @media all and (hover: hover) {
            &:hover,
            &:focus,
            &:active {
                background: $hover-background-color;
            }
        }
    } @else if $hover-shadow and $hover-transform {
        transition: box-shadow $time-b $ease-standard-a, transform $time-b $ease-standard-a;
        @media all and (hover: hover) {
            &:hover,
            &:focus,
            &:active {
                box-shadow: $hover-shadow;
                transform: $hover-transform;
            }
        }
    } @else if $hover-shadow {
        transition: box-shadow $time-b $ease-standard-a;
        @media all and (hover: hover) {
            &:hover,
            &:focus,
            &:active {
                box-shadow: $hover-shadow;
            }
        }
    } @else if $hover-transform {
        transition: transform $time-b $ease-standard-a;
        @media all and (hover: hover) {
            &:hover,
            &:focus,
            &:active {
                transform: $hover-transform;
            }
        }
    }

    @if $hover-title-color {
        @media all and (hover: hover) {
            &:hover,
            &:focus,
            &:active {
                .g--cta-01 {
                    &__title {
                        color: $hover-title-color;
                    }
                }
            }
        }
    }

    @if $text-align == "center" {
        text-align: center;

        .g--cta-01 {
            &__btn {
                margin-left: auto;
                margin-right: auto;
            }
        }
    }

    @if $text-align == "left" {
        text-align: left;

        .g--cta-01 {
            &__btn {
                margin-left: 0;
                margin-right: auto;
            }
        }
    }

    @if $text-align == "right" {
        text-align: right;

        .g--cta-01 {
            &__btn {
                margin-left: auto;
                margin-right: 0;
            }
        }
    }

    .g--cta-01 {
        &__title {
            @if $title-color {
                color: $title-color;
            }

            @if $title-font {
                @extend .f--font-#{$title-font} !optional;
            }
            @if $title-font-weight {
                font-weight: $title-font-weight;
            }

            @if $title-max-lines {
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: $title-max-lines;
                -webkit-box-orient: vertical;
            }

            @if $hover-title-color {
                transition: color $time-b $ease-standard-a;
            }
        }

        @if $btn-font {
            &__btn {
                @extend .f--font-#{$btn-font} !optional;
            }
        }

        @if $btn-class {
            &__btn {
                @extend .#{$btn-class} !optional;
            }
        }
    }
}
