@mixin make-cta-01(
    $btn-class,
    $title-font,
) {
    padding: $measure * 20 0;
    text-align: center;

    @media all and ($viewport-type: $tablets) {
        padding: $measure * 15 0;
    }

    &__title{
        @extend .f--font-#{$title-font} !optional;
        margin-bottom: $measure*6;

        @media all and ($viewport-type: $tablets) {
            margin-bottom: $measure * 4;
        }
    }

    &__btn{
        @extend .#{$btn-class} !optional;
        margin-left: auto;
        margin-right: auto;
    }
}

@mixin make-cta-01-modifier(
    $background-color,
    $title-color,
    $btn-class-modifier: false
) {
    background-color: $background-color;

    .g--cta-01{
        &__title{
            color: $title-color;
        }
        
        @if $btn-class-modifier {
            &__btn{
                @extend .#{$btn-class-modifier} !optional;
            }
        }
    }
}
