.g--cta-01 {
    @include make-cta-01();
    @include make-cta-01-modifier(
        $background-color: lighten(map-get($color-options, a), 82%),
        $btn-class: g--btn-01,
        $title-color: map-get($color-options, a),
        $title-font: a,
        // $btn-font: false,
        // $hover-background-color: false,
        // $hover-shadow: false,
        // $hover-title-color: false,
        // $hover-transform: false,
        // $text-align: false,
        // $title-font-weight: false,
        // $title-max-lines: false,
    );
    @include make-cta-01-modifier($btn-class: g--btn-01--second);
}
