@mixin make-hero-01(
    $title-font,
    $header-height-desktop,
    $header-height-tabletl: false,
    $header-height-tabletm: false,
    $header-height-tablets: false,
    $header-height-mobile: false,
    $title-font-weight: false,
) {
    width: 100%;

    &__wrapper {
        padding-bottom: $measure * 10;
        padding-top: calc(#{$measure} * 14 + #{$header-height-desktop});
    
        @if $header-height-tabletl {
            @media all and ($viewport-type: $tabletl) {
                padding-top: calc(#{$measure} * 14 + #{$header-height-tabletl});
            }
        }
    
        @if $header-height-tabletm {
            @media all and ($viewport-type: $tabletm) {
                padding-top: calc(#{$measure} * 14 + #{$header-height-tabletm});
            }
        }
    
        @if $header-height-tablets {
            @media all and ($viewport-type: $tablets) {
                padding-top: calc(#{$measure} * 14 + #{$header-height-tablets});
                padding-bottom: $measure * 5;
            }
        }
    
        @if $header-height-mobile {
            @media all and ($viewport-type: $mobile) {
                padding-top: calc(#{$measure} * 14 + #{$header-height-mobile});
            }
        }

        &__title {
            @extend .f--font-#{$title-font} !optional;

            @if $title-font-weight {
                font-weight: $title-font-weight;
            }
        }
    }

    &__media-wrapper {
        height: 500px;
        overflow: hidden;

        @media all and ($viewport-type: $tabletm) {
            height: 400px;
        }

        @media all and ($viewport-type: $tablets) {
            height: 300px;
        }

        &__media {
            display: block;
            object-fit: cover;
            width: 100%;
            min-height: 100%;
            position: relative;
        }
    }
}

@mixin make-hero-01-modifier(
    $background-color,
    $title-color,
    $text-align: false
) {
    background: $background-color;

    @if $text-align == "center" {
        text-align: center;
    }

    @if $text-align == "left" {
        text-align: left;
    }

    @if $text-align == "right" {
        text-align: right;
    }

    .g--hero-01 {
        &__wrapper {
            &__title {
                color: $title-color;
            }
        }
    }
}