.g--hero-01 {
    @include make-hero-01();
    @include make-hero-01-modifier(
        $background-color: lighten(map-get($color-options, a), 82%),
        $header-height: 96px,
        // $img-border-radius: $measure*8 $measure*8 0 0,
        $img-height: 500px,
        $img-object-fit: cover,
        $img-position: center,
        $title-color: map-get($color-options, a),
        $title-font: a,
        $text-align: center
        // $title-font-weight: false,
    );

    @media all and ($viewport-type: $tabletm) {
        @include make-hero-01-modifier($img-height: 400px);
    }

    @media all and ($viewport-type: $tablets) {
        @include make-hero-01-modifier($header-height: 86px, $img-height: 300px);
    }
}
