@mixin make-form-hubspot-01(
    $checkbox-link-class,
    $checkbox-square-width,
    $checkbox-title-font,
    $file-input-btn-font,
    $form-error-font,
    $input-border-radius,
    $input-border-width,
    $input-error-font,
    $input-font,
    $label-font,
    $radio-circle-border-width,
    $radio-circle-width,
    $select-artwork-border-width,
    $submit-btn-class,
    $textarea-height,
    $checkbox-title-font-weight: false,
    $file-input-btn-font-weight: false,
    $form-error-font-weight: false,
    $input-error-font-weight: false,
    $input-font-weight: false,
    $label-font-weight: false,
    $mobile-font-size: false,
    $select-artwork-border-radius: false
) {
    .hs-form,
    form {
        fieldset {
            max-width: none;
            .field,
            .hs-form-field {
                position: relative;
                margin-bottom: $measure * 2;
                width: 100%;
                label {
                    @extend .f--font-#{$label-font} !optional;
                    @if $label-font-weight {
                        font-weight: $label-font-weight;
                    }
                    margin-bottom: $measure;
                    display: block;
                }

                //* generic input, textarea, radio, checkbox
                .input {
                    //* generic input
                    input {
                        @extend .f--font-#{$input-font} !optional;
                        @if $input-font-weight {
                            font-weight: $input-font-weight;
                        }
                        display: block;
                        border: $input-border-width solid;
                        padding: $measure * 0.5 $measure;
                        width: 100%;
                        border-radius: $input-border-radius;
                        transition: border-color $time-b $ease-standard-a;
                        @if $mobile-font-size {
                            @media all and ($viewport-type: $mobile) {
                                font-size: $mobile-font-size;
                            }
                        }
                        &:-webkit-autofill,
                        &:-webkit-autofill:hover,
                        &:-webkit-autofill:focus {
                            border: $input-border-width solid;
                        }
                        &.invalid,
                        &.error {
                            border: $input-border-width solid;
                        }
                    }

                    //* textarea
                    textarea {
                        @extend .f--font-#{$input-font} !optional;
                        @if $input-font-weight {
                            font-weight: $input-font-weight;
                        }
                        display: block;
                        resize: vertical;
                        height: $textarea-height;
                        border: $input-border-width solid;
                        padding: $measure * 0.5 $measure;
                        width: 100%;
                        border-radius: $input-border-radius;
                        transition: border-color $time-b $ease-standard-a;
                        @if $mobile-font-size {
                            @media all and ($viewport-type: $mobile) {
                                font-size: $mobile-font-size;
                            }
                        }
                        &:-webkit-autofill,
                        &:-webkit-autofill:hover,
                        &:-webkit-autofill:focus {
                            border: $input-border-width solid;
                        }
                        &.invalid,
                        &.error {
                            border: $input-border-width solid;
                        }
                    }

                    //* radio and checkbox
                    .inputs-list {
                        list-style: none;
                        display: flex;
                        flex-wrap: wrap;

                        //* multiple radio
                        .hs-form-radio {
                            margin-bottom: $measure;
                            label {
                                position: relative;
                                margin-bottom: 0;
                                input {
                                    position: absolute;
                                    opacity: 0;
                                    cursor: pointer;
                                    left: 0;
                                    top: 0;
                                    width: 100%;
                                    height: 100%;
                                    z-index: 0;
                                    padding: 0;
                                    &:checked ~ span::after {
                                        opacity: 1;
                                    }
                                }
                                span {
                                    @extend .f--font-#{$checkbox-title-font} !optional;
                                    @if $checkbox-title-font-weight {
                                        font-weight: $checkbox-title-font-weight;
                                    }
                                    position: relative;
                                    display: block;
                                    padding-left: calc(#{$measure} + #{$radio-circle-width});
                                    cursor: pointer;
                                    a {
                                        @extend .#{$checkbox-link-class} !optional;
                                    }
                                    .hs-form-required,
                                    span {
                                        display: inline;
                                        padding-left: 0;
                                        &::before {
                                            content: none;
                                        }
                                    }
                                    &::before {
                                        content: "";
                                        position: absolute;
                                        left: 0;
                                        top: 50%;
                                        transform: translateY(-50%);
                                        height: $radio-circle-width;
                                        width: $radio-circle-width;
                                        border: $radio-circle-border-width solid;
                                        border-radius: 50%;
                                    }
                                    &::after {
                                        content: "";
                                        position: absolute;
                                        width: $radio-circle-width * 0.75;
                                        height: $radio-circle-width * 0.75;
                                        top: 50%;
                                        left: $radio-circle-width * 0.5;
                                        transform: translate(-50%, -50%);
                                        background-repeat: no-repeat;
                                        background-size: contain;
                                        background-position: center;
                                        opacity: 0;
                                        border-radius: 50%;
                                        transition: opacity $time-b $ease-standard-a;
                                    }
                                }
                            }
                        }

                        //* multiple checkbox
                        .hs-form-checkbox {
                            margin-bottom: $measure;
                            label {
                                position: relative;
                                margin-bottom: 0;
                                input {
                                    position: absolute;
                                    opacity: 0;
                                    cursor: pointer;
                                    left: 0;
                                    top: 0;
                                    width: 100%;
                                    height: 100%;
                                    z-index: 0;
                                    padding: 0;
                                    &:checked ~ span::after {
                                        opacity: 1;
                                    }
                                }
                                span {
                                    @extend .f--font-#{$checkbox-title-font} !optional;
                                    @if $checkbox-title-font-weight {
                                        font-weight: $checkbox-title-font-weight;
                                    }
                                    position: relative;
                                    display: block;
                                    padding-left: calc(#{$measure} + #{$checkbox-square-width});
                                    cursor: pointer;
                                    a {
                                        @extend .#{$checkbox-link-class} !optional;
                                    }
                                    .hs-form-required,
                                    span {
                                        display: inline;
                                        padding-left: 0;
                                        &::before {
                                            content: none;
                                        }
                                    }
                                    &::before {
                                        content: "";
                                        position: absolute;
                                        left: 0;
                                        top: 50%;
                                        transform: translateY(-50%);
                                        height: $measure * 2;
                                        width: $measure * 2;
                                        border: 1px solid rgba(map-get($color-options, b), 0.3);
                                    }
                                }
                            }
                            &:not(:last-child) {
                                margin-right: $measure * 3;
                            }
                        }

                        //* single checkbox
                        .hs-form-booleancheckbox {
                            label {
                                position: relative;
                                margin-bottom: 0;
                                input {
                                    position: absolute;
                                    opacity: 0;
                                    cursor: pointer;
                                    left: 0;
                                    top: 0;
                                    width: 100%;
                                    height: 100%;
                                    z-index: 0;
                                    padding: 0;
                                    &:checked ~ span::after {
                                        opacity: 1;
                                    }
                                }
                                span {
                                    @extend .f--font-#{$checkbox-title-font} !optional;
                                    @if $checkbox-title-font-weight {
                                        font-weight: $checkbox-title-font-weight;
                                    }
                                    position: relative;
                                    display: block;
                                    padding-left: calc(#{$measure} + #{$checkbox-square-width});
                                    cursor: pointer;
                                    a {
                                        @extend .#{$checkbox-link-class} !optional;
                                    }
                                    .hs-form-required,
                                    span {
                                        display: inline;
                                        padding-left: 0;
                                        &::before {
                                            content: none;
                                        }
                                    }
                                    &::before {
                                        content: "";
                                        position: absolute;
                                        left: 0;
                                        top: 50%;
                                        transform: translateY(-50%);
                                        height: $measure * 2;
                                        width: $measure * 2;
                                        border: 1px solid rgba(map-get($color-options, b), 0.3);
                                    }
                                }
                            }
                        }
                    }
                }

                //* radio label, checkbox label
                &.hs-fieldtype-radio,
                &.hs-fieldtype-checkbox,
                &.hs-fieldtype-booleancheckbox {
                    label {
                        cursor: pointer;
                    }
                }

                //* select
                &.hs-fieldtype-select {
                    .input {
                        position: relative;
                        &::after {
                            content: "";
                            position: absolute;
                            top: 50%;
                            right: $measure;
                            width: $measure * 1.5;
                            height: $measure * 1.5;
                            border-right: $select-artwork-border-width solid;
                            border-bottom: $select-artwork-border-width solid;
                            transform: rotate(45deg) translateX(-75%) translateY(-35%);
                            pointer-events: none;
                            @if $select-artwork-border-radius {
                                border-radius: $select-artwork-border-radius;
                            }
                        }
                        select {
                            @extend .f--font-#{$input-font} !optional;
                            @if $input-font-weight {
                                font-weight: $input-font-weight;
                            }
                            display: block;
                            border: $input-border-width solid;
                            padding: $measure * 0.5 $measure;
                            width: 100%;
                            border-radius: $input-border-radius;
                            transition: border-color $time-b $ease-standard-a;
                            @if $mobile-font-size {
                                @media all and ($viewport-type: $mobile) {
                                    font-size: $mobile-font-size;
                                }
                            }
                            &:-webkit-autofill,
                            &:-webkit-autofill:hover,
                            &:-webkit-autofill:focus {
                                border: $input-border-width solid;
                            }
                            &.invalid,
                            &.error {
                                border: $input-border-width solid;
                            }
                        }
                    }
                }

                //* file
                &.hs-fieldtype-file {
                    .input {
                        input {
                            @extend .f--font-#{$input-font} !optional;
                            @if $input-font-weight {
                                font-weight: $input-font-weight;
                            }
                            cursor: pointer;
                            position: relative;
                            -webkit-padding-before: 0 !important;
                            -webkit-padding-after: 0 !important;
                            -webkit-padding-start: 0 !important;
                            display: block;
                            border: $input-border-width solid;
                            padding: $measure * 0.5 $measure;
                            width: 100%;
                            border-radius: $input-border-radius;
                            transition: border-color $time-b $ease-standard-a;
                            @if $mobile-font-size {
                                @media all and ($viewport-type: $mobile) {
                                    font-size: $mobile-font-size;
                                }
                            }
                            &::-webkit-file-upload-button {
                                cursor: pointer;
                                height: 100%;
                                padding: $measure * 0.5 $measure * 3;
                                appearance: none;
                                -webkit-appearance: none;
                                border: none;
                                margin-right: $measure;
                                @extend .f--font-#{$file-input-btn-font} !optional;
                                @if $file-input-btn-font-weight {
                                    font-weight: $file-input-btn-font-weight;
                                }
                                transition: all $time-b ease-in-out;
                            }
                        }
                    }
                }

                //* date
                &.hs-fieldtype-date {
                    .input {
                        position: relative;
                        &::after {
                            content: "";
                            height: $measure * 3;
                            width: $measure * 3;
                            background-repeat: no-repeat;
                            background-position: center;
                            background-size: contain;
                            position: absolute;
                            top: 50%;
                            right: $measure;
                            transform: translateY(-50%);
                            pointer-events: none;
                        }
                        input {
                            @extend .f--font-#{$input-font} !optional;
                            @if $input-font-weight {
                                font-weight: $input-font-weight;
                            }
                            display: block;
                            border: $input-border-width solid;
                            padding: $measure * 0.5 $measure;
                            width: 100%;
                            border-radius: $input-border-radius;
                            transition: border-color $time-b $ease-standard-a;
                            @if $mobile-font-size {
                                @media all and ($viewport-type: $mobile) {
                                    font-size: $mobile-font-size;
                                }
                            }
                            &:-webkit-autofill,
                            &:-webkit-autofill:hover,
                            &:-webkit-autofill:focus {
                                border: $input-border-width solid;
                            }
                            &.invalid,
                            &.error {
                                border: $input-border-width solid;
                            }
                        }
                    }
                }

                //* error message after each input
                .hs-error-msgs {
                    list-style: none;
                    label {
                        @extend .f--font-#{$input-error-font} !optional;
                        @if $input-error-font-weight {
                            font-weight: $input-error-font-weight;
                        }
                        margin-top: $measure * 0.5;
                        margin-bottom: 0;
                        display: block;
                        border: none;
                    }
                }
            }

            &.form-columns-2 {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                .field {
                    float: none;
                    width: calc(50% - 16px);
                    @media all and ($viewport-type: $tablets) {
                        width: 100%;
                    }
                }
            }
        }

        //* submit btn
        .hs_submit {
            .actions {
                .hs-button {
                    border-radius: 0;
                    @extend .#{$submit-btn-class} !optional;
                }
            }
        }

        //* form error
        .hs_error_rollup {
            .hs-error-msgs,
            .inputs-list {
                list-style: none;
                label {
                    @extend .f--font-#{$form-error-font} !optional;
                    @if $form-error-font-weight {
                        font-weight: $form-error-font-weight;
                    }
                    margin-bottom: $measure * 2;
                    display: block;
                    border: none;
                }
            }
        }
    }
}

@mixin make-form-hubspot-01-modifier(
    $checkbox-artwork-img,
    $checkbox-square-color,
    $checkbox-square-color-focus,
    $checkbox-title-color,
    $date-background-image-a,
    $input-error-text-color,
    $file-input-btn-background-color,
    $file-input-btn-text-color,
    $form-error-text-color,
    $input-background-color,
    $input-background-color-autofill,
    $input-border-color,
    $input-border-color-focus,
    $input-error-border-color,
    $input-placeholder-color,
    $input-text-color,
    $label-color,
    $radio-artwork-color,
    $radio-circle-color,
    $radio-circle-color-focus,
    $select-artwork-color,
    $checkbox-link-class-modifier: false,
    $option-color: false,
    $option-background: false,
    $submit-btn-class-modifier: false
) {
    .hs-form {
        fieldset {
            .field,
            .hs-form-field {
                label {
                    color: $label-color;
                }

                //* generic input, textarea, radio, checkbox
                .input {
                    //* generic input
                    input {
                        border-color: $input-border-color;
                        background-color: $input-background-color !important;
                        color: $input-text-color !important;
                        &:-webkit-autofill,
                        &:-webkit-autofill:hover,
                        &:-webkit-autofill:focus {
                            border-color: $input-border-color;
                            -webkit-text-fill-color: $input-text-color;
                            -webkit-box-shadow: 0 0 0px 1000px $input-background-color-autofill inset;
                        }
                        &::placeholder {
                            color: $input-placeholder-color;
                        }
                        &:focus,
                        &:not(:placeholder-shown) {
                            border-color: $input-border-color-focus;
                        }
                        &.invalid,
                        &.error {
                            border-color: $input-error-border-color;
                            &:-webkit-autofill,
                            &:-webkit-autofill:hover,
                            &:-webkit-autofill:focus {
                                border-color: $input-error-border-color;
                            }
                            &:focus,
                            &:not(:placeholder-shown) {
                                border-color: $input-error-border-color;
                            }
                        }
                    }

                    //* textarea
                    textarea {
                        border-color: $input-border-color;
                        background-color: $input-background-color !important;
                        color: $input-text-color !important;
                        &:-webkit-autofill,
                        &:-webkit-autofill:hover,
                        &:-webkit-autofill:focus {
                            border-color: $input-border-color;
                            -webkit-text-fill-color: $input-text-color;
                            -webkit-box-shadow: 0 0 0px 1000px $input-background-color-autofill inset;
                        }
                        &::placeholder {
                            color: $input-placeholder-color;
                        }
                        &:focus,
                        &:not(:placeholder-shown) {
                            border-color: $input-border-color-focus;
                        }
                        &.invalid,
                        &.error {
                            border-color: $input-error-border-color;
                            &:-webkit-autofill,
                            &:-webkit-autofill:hover,
                            &:-webkit-autofill:focus {
                                border-color: $input-error-border-color;
                            }
                            &:focus,
                            &:not(:placeholder-shown) {
                                border-color: $input-error-border-color;
                            }
                        }
                    }

                    //* radio and checkbox
                    .inputs-list {
                        //* multiple radio
                        .hs-form-radio {
                            label {
                                input {
                                    &:focus ~ span::before,
                                    &:checked ~ span::before {
                                        border-color: $radio-circle-color-focus;
                                    }
                                }
                                span {
                                    color: $checkbox-title-color;
                                    @if $checkbox-link-class-modifier {
                                        a {
                                            @extend .#{$checkbox-link-class-modifier} !optional;
                                        }
                                    }
                                    &::before {
                                        border-color: $radio-circle-color;
                                    }
                                    &::after {
                                        background: $radio-artwork-color;
                                    }
                                }
                            }
                        }

                        //* multiple checkbox
                        .hs-form-checkbox {
                            label {
                                input {
                                    &:focus ~ span::before,
                                    &:checked ~ span::before {
                                        border-color: $checkbox-square-color-focus;
                                    }
                                }
                                span {
                                    color: $checkbox-title-color;
                                    @if $checkbox-link-class-modifier {
                                        a {
                                            @extend .#{$checkbox-link-class-modifier} !optional;
                                        }
                                    }
                                    &::before {
                                        border-color: $checkbox-square-color;
                                    }
                                    &::after {
                                        background-image: url("#{$checkbox-artwork-img}");
                                    }
                                }
                            }
                        }

                        //* single checkbox
                        .hs-form-booleancheckbox {
                            label {
                                input {
                                    &:focus ~ span::before,
                                    &:checked ~ span::before {
                                        border-color: $checkbox-square-color-focus;
                                    }
                                }
                                span {
                                    color: $checkbox-title-color;
                                    @if $checkbox-link-class-modifier {
                                        a {
                                            @extend .#{$checkbox-link-class-modifier} !optional;
                                        }
                                    }
                                    &::before {
                                        border-color: $checkbox-square-color;
                                    }
                                    &::after {
                                        background-image: url("#{$checkbox-artwork-img}");
                                    }
                                }
                            }
                        }
                    }
                }

                //* select
                &.hs-fieldtype-select {
                    .input {
                        &::after {
                            border-right-color: $select-artwork-color;
                            border-bottom-color: $select-artwork-color;
                        }
                        select {
                            border-color: $input-border-color;
                            background-color: $input-background-color !important;
                            color: $input-text-color !important;
                            &:focus,
                            &:valid {
                                border-color: $input-border-color-focus;
                            }
                            @if $option-color or $option-background {
                                option {
                                    @if $option-color {
                                        color: $option-color;
                                    }
                                    @if $option-background {
                                        background: $option-background;
                                    }
                                }
                            }
                        }
                    }
                }

                //* file
                &.hs-fieldtype-file {
                    .input {
                        input {
                            border-color: $input-border-color;
                            background-color: $input-background-color !important;
                            color: $input-text-color !important;
                            &::-webkit-file-upload-button {
                                background-color: $file-input-btn-background-color;
                                color: $file-input-btn-text-color;
                            }
                            &:hover,
                            &:focus,
                            &:valid {
                                border-color: $input-border-color-focus;
                            }
                        }
                    }
                }

                //* date
                &.hs-fieldtype-date {
                    .input {
                        &::after {
                            background-image: $date-background-image-a;
                        }
                        input {
                            border-color: $input-border-color;
                            background-color: $input-background-color !important;
                            color: $input-text-color !important;
                            &:-webkit-autofill,
                            &:-webkit-autofill:hover,
                            &:-webkit-autofill:focus {
                                border-color: $input-border-color;
                                -webkit-text-fill-color: $input-text-color;
                                -webkit-box-shadow: 0 0 0px 1000px $input-background-color-autofill inset;
                            }
                            &::placeholder {
                                color: $input-placeholder-color;
                            }
                            &:focus,
                            &:not(:placeholder-shown) {
                                border-color: $input-border-color-focus;
                            }
                            &.invalid,
                            &.error {
                                border-color: $input-error-border-color;
                                &:-webkit-autofill,
                                &:-webkit-autofill:hover,
                                &:-webkit-autofill:focus {
                                    border-color: $input-error-border-color;
                                }
                                &:focus,
                                &:not(:placeholder-shown) {
                                    border-color: $input-error-border-color;
                                }
                            }
                        }
                    }
                }

                //* error message after each input
                .hs-error-msgs {
                    label {
                        color: $input-error-text-color;
                    }
                }
            }
        }

        @if $submit-btn-class-modifier {
            //* submit btn
            .hs_submit {
                .actions {
                    .hs-button {
                        @extend .#{$submit-btn-modifier} !optional;
                    }
                }
            }
        }

        //* form error
        .hs_error_rollup {
            .hs-error-msgs,
            .inputs-list {
                label {
                    color: $form-error-text-color;
                }
            }
        }
    }
}
