@mixin make-form-hubspot-01() {
    .hs-form,
    form {
        fieldset {
            max-width: none;

            &.form-columns-2 {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                .field {
                    float: none;
                    width: calc(50% - 16px);
                    @media all and ($viewport-type: $tablets) {
                        width: 100%;
                    }
                }
            }
        }

        .hs-form-field,
        .field {
            position: relative;
            margin-bottom: $measure * 2;
            width: 100%;
            label {
                margin-bottom: $measure;
                display: block;
            }

            //* generic input, textarea, radio, checkbox
            .input {
                //* generic input
                input {
                    display: block;
                    padding: $measure * 0.5 $measure;
                    width: 100%;
                    transition: border-color $time-b $ease-standard-a;
                }

                //* textarea
                textarea {
                    display: block;
                    resize: vertical;
                    padding: $measure * 0.5 $measure;
                    width: 100%;
                    transition: border-color $time-b $ease-standard-a;
                }

                //* radio and checkbox
                .inputs-list {
                    list-style: none;
                    display: flex;
                    flex-wrap: wrap;

                    //* multiple radio
                    .hs-form-radio {
                        margin-bottom: $measure;
                        &:not(:last-child) {
                            margin-right: $measure * 3;
                        }
                        label {
                            position: relative;
                            margin-bottom: 0;
                            input {
                                position: absolute;
                                opacity: 0;
                                cursor: pointer;
                                left: 0;
                                top: 0;
                                width: 100%;
                                height: 100%;
                                z-index: 0;
                                padding: 0;
                                &:checked ~ span::after {
                                    opacity: 1;
                                }
                            }
                            span {
                                position: relative;
                                display: block;
                                cursor: pointer;
                                .hs-form-required,
                                span {
                                    display: inline;
                                    padding-left: 0;
                                    &::before {
                                        content: none;
                                    }
                                }
                                &::before {
                                    content: "";
                                    position: absolute;
                                    left: 0;
                                    top: 50%;
                                    transform: translateY(-50%);
                                    border-radius: 50%;
                                }
                                &::after {
                                    content: "";
                                    position: absolute;
                                    top: 50%;
                                    transform: translate(-50%, -50%);
                                    background-repeat: no-repeat;
                                    background-size: contain;
                                    background-position: center;
                                    opacity: 0;
                                    border-radius: 50%;
                                    transition: opacity $time-b $ease-standard-a;
                                }
                            }
                        }
                    }

                    //* multiple checkbox
                    .hs-form-checkbox {
                        margin-bottom: $measure;
                        label {
                            position: relative;
                            margin-bottom: 0;
                            input {
                                position: absolute;
                                opacity: 0;
                                cursor: pointer;
                                left: 0;
                                top: 0;
                                width: 100%;
                                height: 100%;
                                z-index: 0;
                                padding: 0;
                                &:checked ~ span::after {
                                    opacity: 1;
                                }
                            }
                            span {
                                position: relative;
                                cursor: pointer;
                                display: flex;
                                align-items: center;
                                .hs-form-required,
                                span {
                                    display: inline;
                                    padding-left: 0;
                                    &::before {
                                        content: none;
                                    }
                                }
                                &::before {
                                    content: "";
                                    position: absolute;
                                    left: 0;
                                    top: 50%;
                                    transform: translateY(-50%);
                                    border-style: solid;
                                }
                                &::after {
                                    content: "";
                                    opacity: 0;
                                    position: absolute;
                                    top: 50%;
                                    transform: translate(-50%, -50%);
                                    background-size: contain !important;
                                    background-position: center !important;
                                    background-repeat: no-repeat !important;
                                    transition: opacity $time-b $ease-standard-a;
                                }
                            }
                        }
                        &:not(:last-child) {
                            margin-right: $measure * 3;
                        }
                    }

                    //* single checkbox
                    .hs-form-booleancheckbox {
                        label {
                            position: relative;
                            margin-bottom: 0;
                            input {
                                position: absolute;
                                opacity: 0;
                                cursor: pointer;
                                left: 0;
                                top: 0;
                                width: 100%;
                                height: 100%;
                                z-index: 0;
                                padding: 0;
                                &:checked ~ span::after {
                                    opacity: 1;
                                }
                            }
                            span {
                                position: relative;
                                cursor: pointer;
                                display: flex;
                                align-items: center;
                                .hs-form-required,
                                span {
                                    display: inline;
                                    padding-left: 0;
                                    &::before {
                                        content: none;
                                    }
                                }
                                &::before {
                                    content: "";
                                    position: absolute;
                                    left: 0;
                                    top: 50%;
                                    transform: translateY(-50%);
                                    border-style: solid;
                                }
                                &::after {
                                    content: "";
                                    opacity: 0;
                                    position: absolute;
                                    top: 50%;
                                    transform: translate(-50%, -50%);
                                    background-size: contain !important;
                                    background-position: center !important;
                                    background-repeat: no-repeat !important;
                                    transition: opacity $time-b $ease-standard-a;
                                }
                            }
                        }
                    }
                }
            }

            //* radio label, checkbox label
            &.hs-fieldtype-radio,
            &.hs-fieldtype-checkbox,
            &.hs-fieldtype-booleancheckbox {
                label {
                    cursor: pointer;
                }
            }

            //* select
            &.hs-fieldtype-select {
                .input {
                    position: relative;
                    &::after {
                        content: "";
                        position: absolute;
                        top: 50%;
                        right: $measure;
                        width: $measure * 1.5;
                        height: $measure * 1.5;
                        transform: translateY(-50%);
                        pointer-events: none;
                        background-position: center;
                        background-repeat: no-repeat;
                        background-size: contain;
                    }
                    select {
                        display: block;
                        padding: $measure * 0.5 $measure;
                        width: 100%;
                        transition: border-color $time-b $ease-standard-a;
                    }
                }
            }

            //* file
            &.hs-fieldtype-file {
                .input {
                    input {
                        cursor: pointer;
                        position: relative;
                        -webkit-padding-before: 0 !important;
                        -webkit-padding-after: 0 !important;
                        -webkit-padding-start: 0 !important;
                        display: block;
                        padding: $measure * 0.5 $measure;
                        width: 100%;
                        transition: border-color $time-b $ease-standard-a;
                        &::-webkit-file-upload-button {
                            cursor: pointer;
                            height: 100%;
                            padding: $measure * 0.5 $measure * 3;
                            appearance: none;
                            -webkit-appearance: none;
                            border: none;
                            margin-right: $measure;
                            transition: all $time-b ease-in-out;
                        }
                    }
                }
            }

            //* date
            &.hs-fieldtype-date {
                .input {
                    position: relative;
                    &::after {
                        content: "";
                        height: $measure * 3;
                        width: $measure * 3;
                        background-repeat: no-repeat;
                        background-position: center;
                        background-size: contain;
                        position: absolute;
                        top: 50%;
                        right: $measure;
                        transform: translateY(-50%);
                        pointer-events: none;
                    }
                    input {
                        display: block;
                        padding: $measure * 0.5 $measure;
                        width: 100%;
                        transition: border-color $time-b $ease-standard-a;
                    }
                }
            }

            //* error message after each input
            .hs-error-msgs {
                list-style: none;
                label {
                    margin-top: $measure * 0.5;
                    margin-bottom: 0;
                    display: block;
                    border: none;
                }
            }
        }

        //* submit btn
        // .hs_submit {
        //     .actions {
        //         .hs-button {
        //             border-radius: 0;
        //         }
        //     }
        // }

        //* form error
        .hs_error_rollup {
            .hs-error-msgs,
            .inputs-list {
                list-style: none;
                label {
                    margin-bottom: $measure * 2;
                    display: block;
                    border: none;
                }
            }
        }
    }
}

@mixin make-form-hubspot-01-modifier(
    $checkbox-artwork-background: false,
    $checkbox-artwork-border-radius: false,
    $checkbox-link-class: false,
    $checkbox-square-border-radius: false,
    $checkbox-square-border-width: false,
    $checkbox-square-color: false,
    $checkbox-square-color-focus: false,
    $checkbox-square-width: false,
    $checkbox-title-color: false,
    $checkbox-title-font: false,
    $checkbox-title-font-weight: false,
    $date-background-image-a: false,
    $file-input-btn-background-color: false,
    $file-input-btn-font: false,
    $file-input-btn-font-weight: false,
    $file-input-btn-text-color: false,
    $form-error-font: false,
    $form-error-font-weight: false,
    $form-error-text-color: false,
    $input-background-color: false,
    $input-background-color-autofill: false,
    $input-border-color: false,
    $input-border-color-focus: false,
    $input-border-radius: false,
    $input-border-style: false,
    $input-border-width: false,
    $input-error-border-color: false,
    $input-error-font: false,
    $input-error-font-weight: false,
    $input-error-text-color: false,
    $input-font: false,
    $input-font-size-mobile: false,
    $input-font-weight: false,
    $input-placeholder-color: false,
    $input-text-color: false,
    $label-color: false,
    $label-font: false,
    $label-font-weight: false,
    $option-background: false,
    $option-color: false,
    $radio-artwork-color: false,
    $radio-circle-border-style: false,
    $radio-circle-border-width: false,
    $radio-circle-color: false,
    $radio-circle-color-focus: false,
    $radio-circle-width: false,
    $select-artwork: false,
    $submit-btn-class: false,
    $textarea-height: false,
) {
    .hs-form {
            .field,
            .hs-form-field {
                label {
                    @if $label-font {
                        @extend .f--font-#{$label-font} !optional;
                    }
                    @if $label-font-weight {
                        font-weight: $label-font-weight;
                    }
                    @if $label-color {
                        color: $label-color;
                    }
                }

                //* generic input, textarea, radio, checkbox
                .input {
                    //* generic input
                    input {
                        @if $input-border-style {
                            border-style: $input-border-style;
                        }
                        @if $input-border-color {
                            border-color: $input-border-color;
                            &:-webkit-autofill,
                            &:-webkit-autofill:hover,
                            &:-webkit-autofill:focus {
                                border-color: $input-border-color;
                            }
                        }
                        @if $input-border-width {
                            border-width: $input-border-width;
                        }
                        @if $input-border-radius {
                            border-radius: $input-border-radius;
                        }
                        @if $input-font {
                            @extend .f--font-#{$input-font} !optional;
                        }
                        @if $input-font-weight {
                            font-weight: $input-font-weight;
                        }
                        @if $input-background-color {
                            background-color: $input-background-color !important;
                        }
                        @if $input-text-color {
                            color: $input-text-color !important;
                            &:-webkit-autofill,
                            &:-webkit-autofill:hover,
                            &:-webkit-autofill:focus {
                                -webkit-text-fill-color: $input-text-color;
                            }
                        }
                        @if $input-font-size-mobile {
                            @media all and ($viewport-type: $mobile) {
                                font-size: $input-font-size-mobile;
                            }
                        }
                        @if $input-background-color-autofill {
                            &:-webkit-autofill,
                            &:-webkit-autofill:hover,
                            &:-webkit-autofill:focus {
                                -webkit-box-shadow: 0 0 0px 1000px $input-background-color-autofill inset;
                            }
                        }
                        @if $input-placeholder-color {
                            &::placeholder {
                                color: $input-placeholder-color;
                            }
                        }
                        @if $input-border-color-focus {
                            &:focus,
                            &:not(:placeholder-shown) {
                                border-color: $input-border-color-focus;
                            }
                        }
                        @if $input-error-border-color {
                            &.invalid,
                            &.error {
                                border-color: $input-error-border-color;
                                &:-webkit-autofill,
                                &:-webkit-autofill:hover,
                                &:-webkit-autofill:focus {
                                    border-color: $input-error-border-color;
                                }
                                &:focus,
                                &:not(:placeholder-shown) {
                                    border-color: $input-error-border-color;
                                }
                            }
                        }
                    }

                    //* textarea
                    textarea {
                        @if $input-background-color {
                            background-color: $input-background-color !important;
                        }
                        @if $input-text-color {
                            color: $input-text-color !important;
                            &:-webkit-autofill,
                            &:-webkit-autofill:hover,
                            &:-webkit-autofill:focus {
                                -webkit-text-fill-color: $input-text-color;
                            }
                        }
                        @if $input-font {
                            @extend .f--font-#{$input-font} !optional;
                        }
                        @if $input-font-weight {
                            font-weight: $input-font-weight;
                        }
                        @if $textarea-height {
                            height: $textarea-height;
                        }
                        @if $input-border-width {
                            border-width: $input-border-width;
                            &:-webkit-autofill,
                            &:-webkit-autofill:hover,
                            &:-webkit-autofill:focus {
                                border-width: $input-border-width;
                            }
                            &.invalid,
                            &.error {
                                border-width: $input-border-width;
                            }
                        }
                        @if $input-border-style {
                            border-style: $input-border-style;
                        }
                        @if $input-border-color {
                            border-color: $input-border-color;
                            &:-webkit-autofill,
                            &:-webkit-autofill:hover,
                            &:-webkit-autofill:focus {
                                border-color: $input-border-color;
                            }
                        }
                        @if $input-border-radius {
                            border-radius: $input-border-radius;
                        }
                        @if $input-font-size-mobile {
                            @media all and ($viewport-type: $mobile) {
                                font-size: $input-font-size-mobile;
                            }
                        }
                        @if $input-background-color-autofill {
                            &:-webkit-autofill,
                            &:-webkit-autofill:hover,
                            &:-webkit-autofill:focus {
                                -webkit-box-shadow: 0 0 0px 1000px $input-background-color-autofill inset;
                            }
                        }
                        @if $input-placeholder-color {
                            &::placeholder {
                                color: $input-placeholder-color;
                            }
                        }
                        @if $input-border-color-focus {
                            &:focus,
                            &:not(:placeholder-shown) {
                                border-color: $input-border-color-focus;
                            }
                        }
                        @if $input-error-border-color {
                            &.invalid,
                            &.error {
                                border-color: $input-error-border-color;
                                &:-webkit-autofill,
                                &:-webkit-autofill:hover,
                                &:-webkit-autofill:focus {
                                    border-color: $input-error-border-color;
                                }
                                &:focus,
                                &:not(:placeholder-shown) {
                                    border-color: $input-error-border-color;
                                }
                            }
                        }
                    }

                    //* radio and checkbox
                    .inputs-list {
                        //* multiple radio
                        .hs-form-radio {
                            label {
                                input {
                                    @if $radio-circle-color-focus {
                                        &:focus ~ span::before,
                                        &:checked ~ span::before {
                                            border-color: $radio-circle-color-focus;
                                        }
                                    }
                                }
                                span {
                                    @if $checkbox-title-color {
                                        color: $checkbox-title-color;
                                    }
                                    @if $checkbox-title-font {
                                        @extend .f--font-#{$checkbox-title-font} !optional;
                                    }
                                    @if $checkbox-title-font-weight {
                                        font-weight: $checkbox-title-font-weight;
                                    }
                                    @if $checkbox-link-class {
                                        a {
                                            @extend .#{$checkbox-link-class} !optional;
                                        }
                                    }
                                    @if $radio-circle-width {
                                        padding-left: calc(#{$measure} + #{$radio-circle-width});
                                    }
                                    &::before {
                                        @if $radio-circle-color {
                                            border-color: $radio-circle-color;
                                        }
                                        @if $radio-circle-width {
                                            height: $radio-circle-width;
                                            width: $radio-circle-width;
                                        }
                                        @if $radio-circle-border-width {
                                            border-width: $radio-circle-border-width;
                                        }
                                        @if $radio-circle-border-style {
                                            border-style: $radio-circle-border-style;
                                        }
                                    }
                                    &::after {
                                        @if $radio-circle-width {
                                            width: $radio-circle-width * 0.6;
                                            height: $radio-circle-width * 0.6;
                                            left: $radio-circle-width * 0.5;
                                        }
                                        @if $radio-artwork-color {
                                            background: $radio-artwork-color;
                                        }
                                    }
                                }
                            }
                        }

                        //* multiple checkbox
                        .hs-form-checkbox {
                            label {
                                input {
                                    @if $checkbox-square-color-focus {
                                        &:focus ~ span::before,
                                        &:checked ~ span::before {
                                            border-color: $checkbox-square-color-focus;
                                        }
                                    }
                                }
                                span {
                                    @if $checkbox-title-color {
                                        color: $checkbox-title-color;
                                    }
                                    @if $checkbox-title-font {
                                        @extend .f--font-#{$checkbox-title-font} !optional;
                                    }
                                    @if $checkbox-title-font-weight {
                                        font-weight: $checkbox-title-font-weight;
                                    }
                                    @if $checkbox-link-class {
                                        a {
                                            @extend .#{$checkbox-link-class} !optional;
                                        }
                                    }
                                    @if $checkbox-square-width {
                                        min-height: $checkbox-square-width;
                                        padding-left: calc(#{$measure} + #{$checkbox-square-width});
                                        &::before {
                                            height: $checkbox-square-width;
                                            width: $checkbox-square-width;
                                        }
                                        &::after {
                                            left: calc(#{$checkbox-square-width}*.5);
                                            width: calc(#{$checkbox-square-width}*.6);
                                            height: calc(#{$checkbox-square-width}*.6);
                                            max-width: calc(#{$checkbox-square-width} - 4px);
                                            max-height: calc(#{$checkbox-square-width} - 4px);
                                        }
                                    }
                                    @if $checkbox-square-color {
                                        &::before {
                                            border-color: $checkbox-square-color;
                                        }
                                    }
                                    @if $checkbox-square-border-radius {
                                        &::before {
                                            border-radius: $checkbox-square-border-radius;
                                        }
                                    }
                                    @if $checkbox-square-border-width {
                                        &::before {
                                            border-width: $checkbox-square-border-width;
                                        }
                                    }
                                    @if $checkbox-artwork-background {
                                        &::after {
                                            background: $checkbox-artwork-background;
                                        }
                                    }
                                    @if $checkbox-artwork-border-radius {
                                        &::after {
                                            border-radius: $checkbox-artwork-border-radius;
                                        }
                                    }
                                }
                            }
                        }

                        //* single checkbox
                        .hs-form-booleancheckbox {
                            label {
                                input {
                                    @if $checkbox-square-color-focus {
                                        &:focus ~ span::before,
                                        &:checked ~ span::before {
                                            border-color: $checkbox-square-color-focus;
                                        }
                                    }
                                }
                                span {
                                    @if $checkbox-title-color {
                                        color: $checkbox-title-color;
                                    }
                                    @if $checkbox-title-font {
                                        @extend .f--font-#{$checkbox-title-font} !optional;
                                    }
                                    @if $checkbox-title-font-weight {
                                        font-weight: $checkbox-title-font-weight;
                                    }
                                    @if $checkbox-link-class {
                                        a {
                                            @extend .#{$checkbox-link-class} !optional;
                                        }
                                    }
                                    @if $checkbox-square-width {
                                        min-height: $checkbox-square-width;
                                        padding-left: calc(#{$measure} + #{$checkbox-square-width});
                                        &::before {
                                            height: $checkbox-square-width;
                                            width: $checkbox-square-width;
                                        }
                                        &::after {
                                            left: calc(#{$checkbox-square-width}*.5);
                                            width: calc(#{$checkbox-square-width}*.6);
                                            height: calc(#{$checkbox-square-width}*.6);
                                            max-width: calc(#{$checkbox-square-width} - 4px);
                                            max-height: calc(#{$checkbox-square-width} - 4px);
                                        }
                                    }
                                    @if $checkbox-square-color {
                                        &::before {
                                            border-color: $checkbox-square-color;
                                        }
                                    }
                                    @if $checkbox-square-border-radius {
                                        &::before {
                                            border-radius: $checkbox-square-border-radius;
                                        }
                                    }
                                    @if $checkbox-square-border-width {
                                        &::before {
                                            border-width: $checkbox-square-border-width;
                                        }
                                    }
                                    @if $checkbox-artwork-background {
                                        &::after {
                                            background: $checkbox-artwork-background;
                                        }
                                    }
                                    @if $checkbox-artwork-border-radius {
                                        &::after {
                                            border-radius: $checkbox-artwork-border-radius;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }

                //* select
                &.hs-fieldtype-select {
                    .input {
                        &::after {
                            @if $select-artwork {
                                background-image: $select-artwork;
                            }
                        }
                        select {
                            @if $input-background-color {
                                background-color: $input-background-color !important;
                            }
                            @if $input-text-color {
                                color: $input-text-color !important;
                            }
                            @if $input-border-width {
                                border-width: $input-border-width;
                                &:-webkit-autofill,
                                &:-webkit-autofill:hover,
                                &:-webkit-autofill:focus {
                                    border-width: $input-border-width;
                                }
                                &.invalid,
                                &.error {
                                    border-width: $input-border-width;
                                }
                            }
                            @if $input-border-style {
                                border-style: $input-border-style;
                            }
                            @if $input-border-color {
                                border-color: $input-border-color;
                            }
                            @if $input-border-radius {
                                border-radius: $input-border-radius;
                            }
                            @if $input-font {
                                @extend .f--font-#{$input-font} !optional;
                            }
                            @if $input-font-weight {
                                font-weight: $input-font-weight;
                            }
                            @if $input-font-size-mobile {
                                @media all and ($viewport-type: $mobile) {
                                    font-size: $input-font-size-mobile;
                                }
                            }
                            @if $input-border-color-focus {
                                &:focus,
                                &:valid {
                                    border-color: $input-border-color-focus;
                                }
                            }
                            @if $option-color or $option-background {
                                option {
                                    @if $option-color {
                                        color: $option-color;
                                    }
                                    @if $option-background {
                                        background: $option-background;
                                    }
                                }
                            }
                        }
                    }
                }

                //* file
                &.hs-fieldtype-file {
                    .input {
                        input {
                            @if $input-border-style {
                                border-style: $input-border-style;
                            }
                            @if $input-border-color {
                                border-color: $input-border-color;
                            }
                            @if $input-border-radius {
                                border-radius: $input-border-radius;
                            }
                            @if $input-font {
                                @extend .f--font-#{$input-font} !optional;
                            }
                            @if $input-font-weight {
                                font-weight: $input-font-weight;
                            }
                            @if $input-font-size-mobile {
                                @media all and ($viewport-type: $mobile) {
                                    font-size: $input-font-size-mobile;
                                }
                            }
                            @if $input-background-color {
                                background-color: $input-background-color !important;
                            }
                            @if $input-text-color {
                                color: $input-text-color !important;
                            }
                            &::-webkit-file-upload-button {
                                @if $file-input-btn-background-color {
                                    background-color: $file-input-btn-background-color;
                                }
                                @if $file-input-btn-text-color {
                                    color: $file-input-btn-text-color;
                                }
                                @if $file-input-btn-font {
                                    @extend .f--font-#{$file-input-btn-font} !optional;
                                }
                                @if $file-input-btn-font-weight {
                                    font-weight: $file-input-btn-font-weight;
                                }
                            }
                            @if $input-border-color-focus {
                                &:hover,
                                &:focus,
                                &:valid {
                                    border-color: $input-border-color-focus;
                                }
                            }
                        }
                    }
                }

                //* date
                &.hs-fieldtype-date {
                    .input {
                        @if $date-background-image-a {
                            &::after {
                                background-image: $date-background-image-a;
                            }
                        }
                        input {
                            @if $input-border-style {
                                border-style: $input-border-style;
                            }
                            @if $input-border-color {
                                border-color: $input-border-color;
                                &:-webkit-autofill,
                                &:-webkit-autofill:hover,
                                &:-webkit-autofill:focus {
                                    border-color: $input-border-color;
                                }
                            }
                            @if $input-border-radius {
                                border-radius: $input-border-radius;
                            }
                            @if $input-font {
                                @extend .f--font-#{$input-font} !optional;
                            }
                            @if $input-font-weight {
                                font-weight: $input-font-weight;
                            }
                            @if $input-font-size-mobile {
                                @media all and ($viewport-type: $mobile) {
                                    font-size: $input-font-size-mobile;
                                }
                            }
                            @if $input-background-color {
                                background-color: $input-background-color !important;
                            }
                            @if $input-text-color {
                                color: $input-text-color !important;
                                &:-webkit-autofill,
                                &:-webkit-autofill:hover,
                                &:-webkit-autofill:focus {
                                    -webkit-text-fill-color: $input-text-color;
                                }
                            }
                            @if $input-background-color-autofill {
                                &:-webkit-autofill,
                                &:-webkit-autofill:hover,
                                &:-webkit-autofill:focus {
                                    -webkit-box-shadow: 0 0 0px 1000px $input-background-color-autofill inset;
                                }
                            }
                            @if $input-placeholder-color {
                                &::placeholder {
                                    color: $input-placeholder-color;
                                }
                            }
                            @if $input-border-color-focus {
                                &:focus,
                                &:not(:placeholder-shown) {
                                    border-color: $input-border-color-focus;
                                }
                            }
                            @if $input-error-border-color {
                                &.invalid,
                                &.error {
                                    border-color: $input-error-border-color;
                                    &:-webkit-autofill,
                                    &:-webkit-autofill:hover,
                                    &:-webkit-autofill:focus {
                                        border-color: $input-error-border-color;
                                    }
                                    &:focus,
                                    &:not(:placeholder-shown) {
                                        border-color: $input-error-border-color;
                                    }
                                }
                            }
                        }
                    }
                }

                //* error message after each input
                .hs-error-msgs {
                    label {
                        @if $input-error-font {
                            @extend .f--font-#{$input-error-font} !optional;
                        }
                        @if $input-error-font-weight {
                            font-weight: $input-error-font-weight;
                        }
                        @if $input-error-text-color {
                            color: $input-error-text-color;
                        }
                    }
                }
            }
        

        @if $submit-btn-class {
            //* submit btn
            .hs_submit {
                .actions {
                    .hs-button {
                        @extend .#{$submit-btn-class} !optional;
                    }
                }
            }
        }

        //* form error
        .hs_error_rollup {
            .hs-error-msgs,
            .inputs-list {
                label {
                    @if $form-error-font {
                        @extend .f--font-#{$form-error-font} !optional;
                    }
                    @if $form-error-font-weight {
                        font-weight: $form-error-font-weight;
                    }
                    @if $form-error-text-color {
                        color: $form-error-text-color;
                    }
                }
            }
        }
    }
}
