.g--form-hubspot-01{
    @include make-form-hubspot-01();
    @include make-form-hubspot-01-modifier(
        $checkbox-artwork-background: url('./img/global-components/form-fields/checkbox-artwork.svg'),
        $checkbox-square-border-width: 1px,
        $checkbox-square-color: rgba(map-get($color-options, a), .2),
        $checkbox-square-color-focus: map-get($color-options, a),
        $checkbox-title-color: map-get($color-options, a),
        $date-background-image-a: './img/global-components/form-fields/checkbox-artwork.svg',
        $input-error-text-color: map-get($color-options, g),
        $file-input-btn-background-color: map-get($color-options, a),
        $file-input-btn-text-color: map-get($color-options, b),
        $form-error-text-color: map-get($color-options, g),
        $input-background-color: transparent,
        $input-background-color-autofill: transparent,
        $input-border-style: solid,
        $input-border-color: rgba(map-get($color-options, a), .2),
        $input-border-color-focus: map-get($color-options, a),
        $input-error-border-color: map-get($color-options, g),
        $input-placeholder-color: transparent,
        $input-text-color: map-get($color-options, a),
        $label-color: map-get($color-options, a),
        $radio-artwork-color: map-get($color-options, g),
        $radio-circle-color: rgba(map-get($color-options, a), .2),
        $radio-circle-color-focus: map-get($color-options, a),
        $select-artwork: url('./img/global-components/form-fields/checkbox-artwork.svg'),
        $option-color: false,
        $option-background: false,
        $checkbox-link-class: g--link-01,
        $checkbox-square-width: $measure*2,
        $checkbox-title-font: f,
        $file-input-btn-font: f,
        $form-error-font: g,
        $input-border-radius: 0,
        $input-border-width: 1px,
        $input-error-font: f,
        $input-font: f,
        $label-font: f,
        $radio-circle-border-width: 1px,
        $radio-circle-border-style: solid,
        $radio-circle-width: $measure*2,
        $submit-btn-class: g--btn-01,
        $textarea-height: $measure*10,
        $checkbox-title-font-weight: false,
        $file-input-btn-font-weight: false,
        $form-error-font-weight: false,
        $input-error-font-weight: false,
        $input-font-weight: false,
        $label-font-weight: false,
    );
}