@mixin make-modal-01() {
    .g--modal-01 {
        $padding: $measure * 7;
        opacity: 0;
        visibility: hidden;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1000;
        padding: $padding;
        padding-right: calc((#{$padding} * 0.5) - (#{$measure}));
        &__btn {
            position: absolute;
            top: $measure * 2;
            right: $measure * 2;
        }

        &__wrapper {
            max-height: calc(90vh - (#{$padding} * 2));
            overflow-y: auto;
            padding-right: calc((#{$padding} * 0.5) + (#{$measure}));
        }

        &--is-active {
            visibility: visible;
            opacity: 1;
        }

        &__backdrop {
            visibility: visible;
            opacity: 1;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100vh;
            z-index: 100;
            transform: translate(0px, 100%);
            transition: transform 0.3s 0s ease;
            &--is-active {
                transform: translate(0px, 0%);
            }
        }
    }
}

@mixin make-modal-01-modifier(
    $transition-modal: false,
    $transition-backdrop: false,
    $modal-bg-color: false,
    $backdrop-bg-color: false,
    $size: false,
    $icon-color: false,
    $icon-height: false,
    $icon-width: false
) {
    .g--modal-01 {
        @if $transition-modal {
            transition: $transition-modal;
        }
        @if $modal-bg-color {
            background-color: $modal-bg-color;
        }
        @if $size == small {
            width: 50%;
        }
        @if $size == medium {
            width: 70%;
        }
        @if $size == large {
            width: 90%;
        }

        &__btn {
            &__icon {
                @if $icon-height {
                    height: $icon-height;
                }
                @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
                    @if $icon-width {
                        width: $icon-width;
                    }
                }
                path {
                    @if $icon-color {
                        fill: $icon-color;
                    }
                }
            }
        }

        &__backdrop {
            @if $backdrop-bg-color {
                background-color: $backdrop-bg-color;
            }
            @if $transition-backdrop {
                transition: $transition-backdrop;
            }
        }
    }
}
