@mixin make-form-checkbox-01() {
    position: relative;
    &__item{
        position: absolute;
        opacity: 0;
        cursor: pointer;
        left:0;
        top:0;
        width: 100%;
        height: 100%;
        z-index: 0;
        padding: 0;
        &:checked + .g--form-checkbox-01__title::after{
            opacity: 1;
        }
    }
    &__title{
        position: relative;
        display: block;
        padding-left: $measure;
        cursor: pointer;
        &::before{
            content: '';
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
        }
        &::after{
            content: '';
            position: absolute;
            top: 50%;
            transform: translate(-50%, -50%);
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
            opacity: 0;
            transition: opacity $time-b $ease-standard-a;
        }
    }
}

@mixin make-form-checkbox-01-modifier(
    $artwork-img: false,
    $error-border-color: false,
    $font: false,
    $font-weight: false,
    $square-border-radius: false,
    $square-border-style: false,
    $square-border-width: false,
    $square-border-color: false,
    $square-color-focus: false,
    $square-width: false,
    $text-color: false,
) {
    .g--form-checkbox-01{
        &__item{
            &:focus + .g--form-checkbox-01__title::before,
            &:checked + .g--form-checkbox-01__title::before{
                border-color: $square-color-focus;
            }
        }
        &__title{
            @if $font {
                @extend .f--font-#{$font} !optional;
            }
            @if $font-weight {
                font-weight: $font-weight;
            }
            @if $text-color {
                color: $text-color;
            }
            @if $square-width {
                padding-left: calc(#{$measure} + #{$square-width});
            }
            &::before{
                @if $square-border-color {
                    border-color: $square-border-color;
                }
                @if $square-width {
                    height: $square-width;
                    width: $square-width;
                }
                @if $square-border-width {
                    border-width: $square-border-width;
                }
                @if $square-border-style {
                    border-style: $square-border-style;
                }
                @if $square-border-radius {
                    border-radius: $square-border-radius;
                }
            }
            &::after{
                @if $artwork-img {
                    background-image: url('#{$artwork-img}');
                }
                @if $square-width {
                    width: $square-width*.65;
                    height: $square-width*.65;
                    left: $square-width*.5;
                }
            }
        }
    }
    &.g--form-checkbox-01--error{
        .g--form-checkbox-01{
            &__item{
                &:focus + .g--form-checkbox-01__title::before,
                &:checked + .g--form-checkbox-01__title::before{
                    @if $error-border-color {
                        border-color: $error-border-color;
                    }
                }
            }
            &__title{
                &::before {
                    @if $error-border-color {
                        border-color: $error-border-color;
                    }
                }
            }
        }
    }
}