@mixin make-form-checkbox-01(
    $artwork-width,
    $square-border-radius,
    $square-border-width,
    $square-width,
    $font,
    $font-weight: false,
) {
    position: relative;
    &__input{
        position: absolute;
        opacity: 0;
        cursor: pointer;
        left:0;
        top:0;
        width: 100%;
        height: 100%;
        z-index: 0;
        padding: 0;
    }
    &__title{
        @extend .f--font-#{$font} !optional;
        @if $font-weight {
            font-weight: $font-weight;
        }
        display: block;
        padding-left: calc(#{$measure} + #{$artwork-width});
        &::before{
            content: '';
            position: absolute;
            left:0;
            top:50%;
            transform: translateY(-50%);
            height: $square-width;
            width: $square-width;
            border: $square-border-width solid;
            border-radius: $square-border-radius;
        }
        &::after{
            content: '';
            width: $square-width*.6;
            height: $square-width*.4;
            top: 50%;
            left: $square-width/2;
            transform: translate(-50%, -50%) rotate(45deg);
            border-left: $artwork-width solid;
            border-bottom: $artwork-width solid;
        }
    }
}

@mixin make-form-checkbox-01-modifier(
    $text-color,
    $square-color,
    $artwork-color
    // $background-color-autofill,
    // $border-color,
    // $border-color-focus,
    // $placeholder-color,
    // $text-color,
) {
    &__title{
        color: $text-color;
        &::before{
            border-color: $square-color;
        }
        &::after{
            border-color: $artwork-color;
        }
    }
}

@mixin make-form-checkbox-01-error(
    $error-border-color,
) {
    border-color: $error-border-color;
    &:-webkit-autofill, &:-webkit-autofill:hover, &:-webkit-autofill:focus {
        border-color: $error-border-color;
    }
    &:focus,
    &:not(:placeholder-shown){
        border-color: $error-border-color;
    }
}