.g--form-checkbox-01{
    @include make-form-checkbox-01();
    @include make-form-checkbox-01-modifier(
        $artwork-background: url('./img/global-components/form-fields/checkbox-artwork.svg'),
        $artwork-background-repeat: no-repeat,
        $artwork-background-size: contain,
        $artwork-background-position: center,
        $error-border-color: map-get($color-options, f),
        $square-border-color: rgba(map-get($color-options, a), .2),
        $square-color-focus: map-get($color-options, a),
        $text-color: map-get($color-options, a),
        $font: f,
        $square-border-radius: 0,
        $square-border-style: solid,
        $square-border-width: 1px,
        $square-width: $measure*2,
        // $font-weight: default,
    );
}