@mixin make-form-label-02() {
    display: block;
    position: absolute;
    top: $measure*2.5;
    left: $measure;
    transition: all $time-b $ease-standard-a;
    pointer-events: none;
}

@mixin make-form-label-02-focus() {
    transform: translateY(calc(-100% - #{$measure*.5}));
}

@mixin make-form-label-02-modifier(
    $label-color: false,
    $label-font: false,
    $label-font-weight: false,
) {
    @if $label-font {
        @extend .f--font-#{$label-font} !optional;
    }
    @if $label-font-weight {
        font-weight: $label-font-weight;
    }
    @if $label-color {
        color: $label-color;
    }
}

@mixin make-form-label-02-focus-modifier(
    $label-color: false,
    $label-font: false,
    $label-font-weight: false,
) {
    @if $label-font {
        @extend .f--font-#{$label-font} !optional;
    }
    @if $label-font-weight {
        font-weight: $label-font-weight;
    }
    @if $label-color {
        color: $label-color;
    }
}