@mixin make-form-label-02(
    $label-font,
    $label-font-weight: false,
) {
    @extend .f--font-#{$label-font} !optional;
    @if $label-font-weight {
        font-weight: $label-font-weight;
    }
    display: block;
    position: absolute;
    top: $measure*2.5;
    left: $measure;
    transition: all $time-b $ease-standard-a;
    pointer-events: none;
}

@mixin make-form-label-02-focus(
    $label-font,
    $label-font-weight: false,
) {
    @extend .f--font-#{$label-font} !optional;
    @if $label-font-weight {
        font-weight: $label-font-weight;
    }
    transform: translateY(calc(-100% - #{$measure*.5}));
}

@mixin make-form-label-02-modifier(
    $label-color
) {
    color: $label-color;
}

@mixin make-form-label-02-focus-modifier(
    $label-color
) {
    color: $label-color;
}