.g--hero-06 {
    @include make-hero-06();
    @include make-hero-06-modifier(
        $background-color: lighten(map-get($color-options, a), 82%),
        $breakpoint: $tablets,
        $header-height: 96px,
        $img-height: 200px,
        $img-object-fit: cover,
        $img-position: center,
        $title-color: map-get($color-options, a),
        $title-font: a,
        // $link-class: false,
        // $link-font: false,
        // $text-align: center
        // $title-font-weight: false,
    );
}
