@mixin make-btn-03() {
    text-decoration: none;
    width: fit-content;
    display: flex;
    align-items: center;

    svg {
        height: auto;
        margin-left: $measure;
    }
}

@mixin make-btn-03-modifier(
    $text-color: false,
    $text-color-hover: false,
    $icon-top: false,
    $icon-width: false,
    $btn-font: false,
    $btn-font-weight: false,
    $artwork-color-fill: false,
    $artwork-color-stroke: false,
    $artwork-color-hover: false
) {
    @if $text-color {
        color: $text-color;
    }
    @if $text-color-hover {
        transition: color $ease-standard-a $time-b;
    }
    @if $btn-font {
        @extend .f--font-#{$btn-font} !optional;
    }
    @if $btn-font-weight {
        font-weight: $btn-font-weight;
    }
    svg {
        @if $icon-width {
            width: $icon-width;
        }

        @if $icon-top {
            position: relative;
            top: $icon-top;
        }
        transition: transform $ease-standard-a $time-b;
        path {
            @if $artwork-color-fill {
                fill: $artwork-color-fill;
            }
            @if $artwork-color-stroke {
                stroke: $artwork-color-stroke;
            }
            @if $artwork-color-hover and $artwork-color-fill {
                transition: fill $ease-standard-a $time-b;
            }
            @if $artwork-color-hover and $artwork-color-stroke {
                transition: stroke $ease-standard-a $time-b;
            }
        }
    }
    @media (hover: hover) {
        &:hover,
        &:focus,
        &:active {
            @if $text-color-hover {
                color: $text-color-hover;
            }
        }
    }
    @media (hover: hover) {
        &:hover,
        &:focus,
        &:active {
            svg {
                transform: translateX($measure);
                path {
                    @if $artwork-color-hover and $artwork-color-fill {
                        fill: $artwork-color-hover;
                    }
                    @if $artwork-color-hover and $artwork-color-stroke {
                        stroke: $artwork-color-hover;
                    }
                }
            }
        }
    }
}
