.g--btn-03{
    @include make-btn-03();
    @include make-btn-03-modifier(
        $text-color: map-get($color-options, a),
        $text-color-hover: map-get($color-options, g),
        $icon-top: 0px,
        $btn-font: c,
        $btn-font-weight: 600,
        $artwork-color-fill: map-get($color-options, f),
        $artwork-color-stroke: map-get($color-options, g),
        $artwork-color-hover: map-get($color-options, h)
    );
}