.g--cta-04 {
    @include make-cta-04();
    @include make-cta-04-modifier(
        $background-position: left top,
        $background-size: cover,
        // $border-color: map-get($color-options, a),
        // $border-radius: 0,
        // $border-style: solid,
        // $border-width: 1px,
        $btn-class: g--btn-01,
        $mask-color: rgba(map-get($color-options, a), 0.1),
        $subtitle-color: map-get($color-options, a),
        $subtitle-font: d,
        $title-color: map-get($color-options, a),
        $title-font: b,
        // $border-color: map-get($color-options, a),
        // $border-radius: 0,
        // $border-style: solid,
        // $border-width: 1px,
        // $btn-font: false,
        // $hover-background-color: map-get($color-options, h),
        // $hover-background-img-zoom: 1.2,
        // $hover-border-color: map-get($color-options, f),
        // $hover-border-radius: $measure * 4,
        // $hover-mask-color: rgba(map-get($color-options, a), 0.5),
        // $hover-shadow: false,
        // $hover-subtitle-color: false,
        // $hover-title-color: false,
        // $hover-transform: false,
        // $subtitle-font-weight: false,
        // $subtitle-max-lines: false,
        // $text-align: false,
        // $title-font-weight: false,
        // $title-max-lines: false,
    );
    @include make-cta-04-modifier($btn-class: g--btn-01--second);
}
