.g--cta-04{
    @include make-cta-04();
    @include make-cta-04-modifier(
        // $background-color: false,
        // $hover-background-color: false,
        $background-position: left top,
        $background-size: cover,
        $btn-class: g--btn-01,
        // $btn-font: false,
        $border-radius: 90px,
        $mask-color: rgba(map-get($color-options, a), .5),
        $subtitle-color: map-get($color-options, b),
        $hover-subtitle-color: map-get($color-options, c),
        $subtitle-font: d,
        // $subtitle-font-weight: false,
        $subtitle-max-lines: 1,
        $title-color: map-get($color-options, b),
        $hover-title-color: map-get($color-options, c),
        $title-font: b,
        // $title-font-weight: false,
        // $title-max-lines: false,
        // $text-align: false,
        $hover-shadow: 0 0 $measure*2 map-get($color-options, h),
        $hover-transform: translateY(-$measure),
    );
}