.g--card-36 {
    @include make-card-36(
        $meta-font: g,
        $title-font: c,
        $pill-class: g--pill-01,
        // $border-radius: default
    );
    @include make-card-36-modifier(
        $background-color: map-get($color-options, g),
        $meta-color: map-get($color-options, a),
        $title-color: map-get($color-options, a),
        $title-color-hover: map-get($color-options, b),
        $background-color-hover: map-get($color-options, f),
        // $pill-class-modifier: default,
        // $text-align: default 
    );
}