@mixin make-card-54() {
    padding: $measure * 3;
    width: 100%;
    display: flex;
    text-decoration: none;
    justify-content: space-between;

    &__bd {
        &__title{
            margin-bottom: $measure;
        }
    }

    &__wrapper {
        margin-left: $measure * 4;
        display: flex;
        align-items: center;
        justify-content: center;
        &__artwork{
            width: 50%;
            height: 60%;
        }
    }
}

@mixin make-card-54-modifier(
    $background-color: false,
    $border-color: false,
    $border-radius: false,
    $border-style: false,
    $border-width: false,
    $hover-background-color: false,
    $hover-icon-background: false,
    $hover-icon-border-color: false,
    $hover-icon-color: false,
    $hover-icon-transform: false,
    $hover-shadow: false,
    $hover-title-color: false,
    $hover-transform: false,
    $icon-align: false,
    $icon-background: false,
    $icon-border-color: false,
    $icon-border-radius: false,
    $icon-border-style: false,
    $icon-border-width: false,
    $icon-color-fill: false,
    $icon-color-stroke: false,
    $icon-top: false,
    $icon-width: false,
    $shadow: false,
    $subtitle-color: false,
    $subtitle-font: false,
    $subtitle-font-weight: false,
    $text-align: false,
    $title-color: false,
    $title-font: false,
    $title-font-weight: false,
) {
    @if $background-color {
        background: $background-color;
    }
    @if $border-color {
        border-color: $border-color;
    }
    @if $border-style {
        border-style: $border-style;
    }
    @if $border-width {
        border-width: $border-width;
    }
    @if $shadow {
        box-shadow: $shadow;
    }

    @if $hover-background-color and $hover-shadow and $hover-transform {
        transition: background $time-b $ease-standard-a, box-shadow $time-b $ease-standard-a, transform $time-b $ease-standard-a;
        @media all and (hover: hover) {
            &:hover,
            &:focus,
            &:active {
                background: $hover-background-color;
                box-shadow: $hover-shadow;
                transform: $hover-transform;
            }
        }
    } @else if $hover-background-color and $hover-shadow {
        transition: background $time-b $ease-standard-a, box-shadow $time-b $ease-standard-a;
        @media all and (hover: hover) {
            &:hover,
            &:focus,
            &:active {
                background: $hover-background-color;
                box-shadow: $hover-shadow;
            }
        }
    } @else if $hover-background-color and $hover-transform {
        transition: background $time-b $ease-standard-a, transform $time-b $ease-standard-a;
        @media all and (hover: hover) {
            &:hover,
            &:focus,
            &:active {
                background: $hover-background-color;
                transform: $hover-transform;
            }
        }
    } @else if $hover-background-color {
        transition: background $time-b $ease-standard-a;
        @media all and (hover: hover) {
            &:hover,
            &:focus,
            &:active {
                background: $hover-background-color;
            }
        }
    } @else if $hover-shadow and $hover-transform {
        transition: box-shadow $time-b $ease-standard-a, transform $time-b $ease-standard-a;
        @media all and (hover: hover) {
            &:hover,
            &:focus,
            &:active {
                box-shadow: $hover-shadow;
                transform: $hover-transform;
            }
        }
    } @else if $hover-shadow {
        transition: box-shadow $time-b $ease-standard-a;
        @media all and (hover: hover) {
            &:hover,
            &:focus,
            &:active {
                box-shadow: $hover-shadow;
            }
        }
    } @else if $hover-transform {
        transition: transform $time-b $ease-standard-a;
        @media all and (hover: hover) {
            &:hover,
            &:focus,
            &:active {
                transform: $hover-transform;
            }
        }
    }
    @if $hover-title-color {
        @media all and (hover: hover) {
            &:hover,
            &:focus,
            &:active {
                .g--card-54 {
                    &__bd {
                        &__title {
                            color: $hover-title-color;
                        }
                    }
                }
            }
        }
    }
    @if $hover-icon-color and $icon-color-fill {
        &__wrapper {
            &__artwork {
                * {
                    transition: fill $time-b $ease-standard-a;
                }
            }
        }
        @media all and (hover: hover) {
            &:hover,
            &:focus,
            &:active {
                .g--card-54 {
                    &__wrapper {
                        &__artwork {
                            * {
                                fill: $hover-icon-color;
                            }
                        }
                    }
                }
            }
        }
    }
    @if $hover-icon-color and $icon-color-stroke {
        &__wrapper {
            &__artwork {
                * {
                    transition: stroke $time-b $ease-standard-a;
                }
            }
        }
        @media all and (hover: hover) {
            &:hover,
            &:focus,
            &:active {
                .g--card-54 {
                    &__wrapper {
                        &__artwork {
                            * {
                                stroke: $hover-icon-color;
                            }
                        }
                    }
                }
            }
        }
    }
    @if $hover-icon-transform and $hover-icon-border-color and $hover-icon-background {
        &__wrapper {
            transition: transform $time-b $ease-standard-a, border-color $time-b $ease-standard-a, background $time-b $ease-standard-a;
        }
        @media all and (hover: hover) {
            &:hover,
            &:focus,
            &:active {
                .g--card-54 {
                    &__wrapper {
                        transform: $hover-icon-transform;
                        background: $hover-icon-background;
                        border-color: $hover-icon-border-color;
                    }
                }
            }
        }
    } @else if $hover-icon-transform and $hover-icon-border-color {
        &__wrapper {
            transition: transform $time-b $ease-standard-a, border-color $time-b $ease-standard-a;
        }
        @media all and (hover: hover) {
            &:hover,
            &:focus,
            &:active {
                .g--card-54 {
                    &__wrapper {
                        transform: $hover-icon-transform;
                        border-color: $hover-icon-border-color;
                    }
                }
            }
        }
    } @else if $hover-icon-transform and $hover-icon-background {
        &__wrapper {
            transition: transform $time-b $ease-standard-a, background $time-b $ease-standard-a;
        }
        @media all and (hover: hover) {
            &:hover,
            &:focus,
            &:active {
                .g--card-54 {
                    &__wrapper {
                        transform: $hover-icon-transform;
                        background: $hover-icon-background;
                    }
                }
            }
        }
    } @else if $hover-icon-transform {
        &__wrapper {
            transition: transform $time-b $ease-standard-a;
        }
        @media all and (hover: hover) {
            &:hover,
            &:focus,
            &:active {
                .g--card-54 {
                    &__wrapper {
                        transform: $hover-icon-transform;
                    }
                }
            }
        }
    } @else if $hover-icon-border-color and $hover-icon-background {
        &__wrapper {
            transition: border-color $time-b $ease-standard-a, background $time-b $ease-standard-a;
        }
        @media all and (hover: hover) {
            &:hover,
            &:focus,
            &:active {
                .g--card-54 {
                    &__wrapper {
                        background: $hover-icon-background;
                        border-color: $hover-icon-border-color;
                    }
                }
            }
        }
    } @else if $hover-icon-border-color {
        &__wrapper {
            transition: border-color $time-b $ease-standard-a;
        }
        @media all and (hover: hover) {
            &:hover,
            &:focus,
            &:active {
                .g--card-54 {
                    &__wrapper {
                        border-color: $hover-icon-border-color;
                    }
                }
            }
        }
    } @else if $hover-icon-background {
        &__wrapper {
            transition: background $time-b $ease-standard-a;
        }
        @media all and (hover: hover) {
            &:hover,
            &:focus,
            &:active {
                .g--card-54 {
                    &__wrapper {
                        background: $hover-icon-background;
                    }
                }
            }
        }
    }

    @if $border-radius {
        border-radius: $border-radius;
    }
    @if $text-align == "center" {
        text-align: center;
    }
    @if $text-align == "left" {
        text-align: left;
    }
    @if $text-align == "right" {
        text-align: right;
    }
    @if $icon-align == "center" {
        align-items: center;
    }
    @if $icon-align == "top" {
        align-items: flex-start;
    }
    @if $icon-align == "bottom" {
        align-items: flex-end;
    }
    .g--card-54 {
        &__bd {
            @if $icon-width {
                width: calc(100% - #{$icon-width} - #{$measure*4});
            }
            &__title {
                @if $title-color {
                    color: $title-color;
                }
                @if $title-font {
                    @extend .f--font-#{$title-font} !optional;
                }
                @if $title-font-weight {
                    font-weight: $title-font-weight;
                }
                @if $hover-title-color {
                    transition: color $time-b $ease-standard-a;
                }
            }

            &__subtitle {
                @if $subtitle-color {
                    color: $subtitle-color;
                }
                @if $subtitle-font {
                    @extend .f--font-#{$subtitle-font} !optional;
                }
                @if $subtitle-font-weight {
                    font-weight: $subtitle-font-weight;
                }
            }
        }
        &__wrapper{
            @if $icon-background {
                background: $icon-background;
            }
            @if $icon-width {
                width: $icon-width;
                height: $icon-width;
            }
            @if $icon-border-color {
                border-color: $icon-border-color;
            }
            @if $icon-border-radius {
                border-radius: $icon-border-radius;
            }
            @if $icon-border-style {
                border-style: $icon-border-style;
            }
            @if $icon-border-width {
                border-width: $icon-border-width;
            }
            @if $icon-top {
                margin-top: $icon-top;
            }
            &__artwork{
                *{
                    @if $icon-color-fill {
                        fill: $icon-color-fill;
                    }
                    @if $icon-color-stroke {
                        stroke: $icon-color-stroke;
                    }
                }
            }
        }
    }
}
