.g--card-54 {
    @include make-card-54();
    @include make-card-54-modifier(
        $background-color: rgba(map-get($color-options, a), 0.1),
        $border-color: map-get($color-options, a),
        $border-style: solid,
        $border-width: 1px,
        $hover-icon-transform: translateX(4px),
        $icon-align: center,
        $icon-border-color: map-get($color-options, a),
        $icon-border-radius: 50%,
        $icon-border-style: solid,
        $icon-border-width: 1px,
        $icon-width: 42px,
        $title-color: map-get($color-options, a),
        $title-font-weight: 400,
        $title-font: c,
    );
    &--second {
        @include make-card-54-modifier(
            $background-color: rgba(map-get($color-options, g), 0.3),
            $border-color: map-get($color-options, g),
            $border-radius: $measure*4,
            $border-style: double,
            $border-width: 4px,
            $hover-background-color: rgba(map-get($color-options, g), 0.5),
            $hover-icon-background: map-get($color-options, e),
            $hover-icon-border-color: map-get($color-options, g),
            $hover-icon-color: map-get($color-options, g),
            $hover-shadow: 0 0 $measure*2 map-get($color-options, g),
            $hover-title-color: map-get($color-options, b),
            $hover-transform: translateY(-$measure),
            $icon-align: top,
            $icon-color-fill: map-get($color-options, a),
            $icon-width: $measure*3,
            $text-align: right
        );
    }
}
