@mixin make-card-06(
    $border-width,    
    $link-class,
    $subtitle-font,
    $title-font,
    $border-radius: false,
) {
    border: $border-width solid;
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: $measure*7 $measure*5;
    position: relative;
    width: 100%;

    @if $border-radius {
        border-radius: $border-radius;
    }

    &__media{
        display: block;
        height: 100px;
        margin-bottom: $measure * 2;
        object-fit: cover;
        width: 100px;

        @media all and ($viewport-type: $tablets) {
            margin-bottom: $measure;
        }
    }
    &__title{
        @extend .f--font-#{$title-font} !optional;
        margin-bottom: $measure * 2;

        @media all and ($viewport-type: $tablets) {
            margin-bottom: $measure;
        }
    }

    &__subtitle{
        @extend .f--font-#{$subtitle-font} !optional;
        margin-bottom: $measure * 2;

        @media all and ($viewport-type: $tablets) {
            margin-bottom: $measure;
        }
    }
    &__link{
        @extend .#{$link-class} !optional;
        margin-top: auto;
    }
}

@mixin make-card-06-modifier(
    $border-color,
    $subtitle-color,
    $title-color,
    $background-color: false,
    $link-class-modifier: false,
    $text-align: false,
) {
    border-color: $border-color;

    @if $background-color {
        background-color: $background-color;
    }

    @if $text-align == "center" {
        text-align: center;

        .g--card-06 {
            &__media {
                margin-left: auto;
                margin-right: auto;
            }
        }
        
    }
    @if $text-align == "left" {
        text-align: left;

        .g--card-06 {
            &__media {
                margin-left: 0;
                margin-right: auto;
            }
        }
    }
    @if $text-align == "right" {
        text-align: right;

        .g--card-06 {
            &__media {
                margin-left: auto;
                margin-right: 0;
            }
        }
    }
    
    .g--card-6 {
        @if $link-class-modifier {
            &__link{
                @extend .#{$link-class-modifier} !optional;
            }
        }
        
        &__title{
            color: $title-color;
        }
        &__subtitle{
            color: $subtitle-color;
        }
    }
}