.g--card-06{
    @include make-card-06(
        $border-width: 1px,    
        $link-class: g--link-01,
        $subtitle-font: f,
        $title-font: c,
        // $border-radius: default,
    );
    @include make-card-06-modifier(
        $border-color: map-get($color-options, a),
        $subtitle-color: map-get($color-options, a),
        $title-color: map-get($color-options, a),
        // $background-color: default,
        // $text-align: default
    );
}