.g--card-06{
    @include make-card-06();
    @include make-card-06-modifier(
        $background-position: center,
        $background-size: cover,
        $border-radius: 0,
        $hover-background-img-zoom: 2,
        $hover-img-zoom: 1.2,
        $hover-shadow: 0 0 $measure*4 map-get($color-options, a),
        $hover-title-color: map-get($color-options, h),
        $hover-transform: translateY(-$measure),
        $img-aspect-ratio: calc(1 / 1),
        $img-fit: cover,
        $img-height: 100px,
        $img-position: center,
        $img-width: auto,
        $link-font: f,
        $link-class: g--link-01,
        $mask-color: rgba(map-get($color-options, a), .2),
        $subtitle-color: map-get($color-options, a),
        $subtitle-font-weight: 400,
        $subtitle-font: f,
        $subtitle-max-lines: 3,
       $text-align: left,
        $title-color: map-get($color-options, a),
        $title-font-weight: 400,
        $title-font: c,
        $title-max-lines: 3,
    );
    &--second{
        @include make-card-06-modifier(
            $background-position: center,
            $background-size: cover,
            $border-radius: 0,
            $hover-background-img-zoom: 2,
            $hover-img-zoom: 1.2,
            $hover-shadow: 0 0 $measure*4 map-get($color-options, a),
            $hover-title-color: map-get($color-options, h),
            $hover-transform: translateY(-$measure),
            $img-aspect-ratio: calc(1 / 1),
            $img-fit: cover,
            $img-height: 100px,
            $img-position: center,
            $img-width: auto,
            $link-font: f,
            $link-class: g--link-01,
            $mask-color: rgba(map-get($color-options, a), .2),
            $subtitle-color: map-get($color-options, a),
            $subtitle-font-weight: 400,
            $subtitle-font: f,
            $subtitle-max-lines: 3,
           $text-align: left,
            $title-color: map-get($color-options, a),
            $title-font-weight: 400,
            $title-font: c,
            $title-max-lines: 3,
        );
    }
}