@mixin make-layout-10() {
    &__wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: $measure * 7 0;
        width: 100%;

        &__title {
            margin-bottom: $measure * 4;
        }

        &__subtitle {
            margin-bottom: $measure * 4;
        }
    }
    &__media-wrapper {
        position: relative;
        width: 100%;
    }
}

@mixin make-layout-10-modifier(
    $subtitle-font: false,
    $title-font: false,
    $object-fit: cover,
    $img-border-radius: false,
    $img-position: false,
    $title-font-weight: false,
    $subtitle-font-weight: false,
    $change-order-reponsive: false,
    $subtitle-color: false,
    $title-color: false,
    $background-color: false,
    $breakpoint: false
) {
    @if $background-color {
        background: $background-color;
    }

    .g--layout-10 {
        &__media-wrapper {
            @if $object-fit == contain or $object-fit== scale-down {
                display: flex;
                align-items: center;
            } @else {
                min-height: 500px;
                @if $img-border-radius {
                    border-radius: $img-border-radius;
                    overflow: hidden;
                }
                @media all and ($viewport-type: $tabletl) {
                    min-height: 450px;
                }

                @media all and ($viewport-type: $tabletm) {
                    min-height: 400px;
                }
            }

            @if $object-fit == contain or $object-fit== scale-down {
                &__media {
                    width: 100%;
                    height: auto;
                    object-fit: $object-fit;
                    display: block;
                    @if $img-position {
                        object-position: $img-position;
                    }
                    @if $img-border-radius {
                        border-radius: $img-border-radius;
                    }
                }
            } @else {
                &__media {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    object-fit: $object-fit;
                    display: block;
                    @if $img-position {
                        object-position: $img-position;
                    }
                    @if $breakpoint {
                    }
                    @media all and ($viewport-type: $breakpoint) {
                        position: relative;
                        top: auto;
                        left: auto;
                    }
                }
            }

            @if $breakpoint {
                @media all and ($viewport-type: $breakpoint) {
                    height: auto;
                    min-height: 0;
                    @if $change-order-reponsive {
                        margin-bottom: $measure * 5;
                    }
                }
            }
        }
        &__wrapper {
            @if $breakpoint {
                @media all and ($viewport-type: $breakpoint) {
                    padding: 0;
                    @if $change-order-reponsive == false {
                        margin-bottom: $measure * 5;
                    }
                }
            }

            &__title {
                @if $title-font {
                    @extend .f--font-#{$title-font} !optional;
                }
                @if $title-font-weight {
                    font-weight: $title-font-weight;
                }
                @if $title-color {
                    color: $title-color;
                }
                @if $breakpoint {
                    @media all and ($viewport-type: $breakpoint) {
                        margin-bottom: $measure * 3;
                    }
                }
            }

            &__subtitle {
                @if $subtitle-font {
                    @extend .f--font-#{$subtitle-font} !optional;
                }
                @if $subtitle-font-weight {
                    font-weight: $subtitle-font-weight;
                }
                @if $subtitle-color {
                    color: $subtitle-color;
                }
            }
        }
    }
}
