.g--layout-10 {
    @include make-layout-10();
    @include make-layout-10-modifier(
        $subtitle-font: f,
        $title-font: c,
        $object-fit: cover,
        // $img-border-radius: $measure * 4,
        // $img-position: false,
        $title-font-weight: 400,
        $subtitle-font-weight: 400,
        $change-order-reponsive: true,
        $subtitle-color: map-get($color-options, a),
        $title-color: map-get($color-options, a),
        // $background-color: false,
        $breakpoint: $tablets
    );
}
