@mixin make-layout-02() {
    padding: $measure * 15 0;
    text-align: center;

    @media all and ($viewport-type: $tablets) {
        padding: $measure * 10 0;
    }

    &__title {
        margin-bottom: $measure * 4;

        @media all and ($viewport-type: $tablets) {
            margin-bottom: $measure * 3;
        }
    }
}

@mixin make-layout-02-modifier(
    $title-font: false,
    $title-font-weight: false,
    $title-color: false,
    $subtitle-font: false,
    $subtitle-font-weight: false,
    $subtitle-color: false,
    $background-color: false
) {
    @if $background-color {
        background: $background-color;
    }

    .g--layout-02 {
        &__title {
            @if $title-font {
                @extend .f--font-#{$title-font} !optional;
            }
            @if $title-font-weight {
                font-weight: $title-font-weight;
            }
            @if $title-color {
                color: $title-color;
            }
        }
        &__subtitle {
            @if $subtitle-font {
                @extend .f--font-#{$subtitle-font} !optional;
            }
            @if $subtitle-font-weight {
                font-weight: $subtitle-font-weight;
            }

            @if $subtitle-color {
                color: $subtitle-color;
            }
        }
    }
}
