.g--layout-02{
    @include make-layout-02(
        $subtitle-font: f,
        $title-font: a,
    );
    @include make-layout-02-modifier(
        $subtitle-color: map-get($color-options, a),
        $title-color: map-get($color-options, a),
        // $background-color: map-get($color-options, e),
    );
}