.g--form-input-02 {
    @include make-form-input-02();
    @include make-form-input-02-modifier(
        $border-color: rgba(map-get($color-options, a), 0.2),
        $border-color-focus: map-get($color-options, a),
        $background-color: transparent,
        $background-color-autofill: transparent,
        $error-border-color: map-get($color-options, g),
        $placeholder-color: transparent,
        $text-color: map-get($color-options, a),
        $font: f,
        $border-width: 0 0 1px,
        $border-radius: 0,
        // $font-weight: default,
        $border-style: solid,
        // $mobile-font-size: false
    );
    &--second {
        @include make-form-input-02-modifier($border-width: 1px);
    }

    &--third {
        @include make-form-input-02-modifier(
            $border-color: map-get($color-options, b),
            $border-color-focus: map-get($color-options, b),
            $text-color: map-get($color-options, b)
        );
    }
}
