.g--card-44 {
    @include make-card-44();
    @include make-card-44-modifier(
        $title-font: e,
        $subtitle-font: f,
        // $img-border-radius: false,
        // $img-object-fit: false,
        // $img-position: false,
        // $img-width: false,
        // $img-height: false,
        // $img-aspect-ratio: false,
        // $title-font-weight: false,
        // $subtitle-font-weight: false,
        $title-color: map-get($color-options, a),
        $subtitle-color: map-get($color-options, a),
        $img-background-color: map-get($color-options, a),
        $img-background-color-hover: map-get($color-options, g),
        // $text-align: false,
        $title-color-hover: map-get($color-options, g)
    );
}
