@mixin make-layout-03() {
    &__media-wrapper {
        position: relative;
        width: 100%;

        @media all and ($viewport-type: $tablets) {
            height: auto;
            min-height: 0;
        }

        &__media {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            display: block;

            @media all and ($viewport-type: $tablets) {
                position: relative;
                top: auto;
                left: auto;
            }
        }
    }
    &__wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: $measure * 7 0;
        width: 100%;

        @media all and ($viewport-type: $tablets) {
            padding: 0;
        }

        &__meta {
            margin-bottom: $measure * 7;

            @media all and ($viewport-type: $tablets) {
                margin-bottom: $measure * 5;
            }
        }

        &__title {
            margin-bottom: $measure * 4;

            @media all and ($viewport-type: $tablets) {
                margin-bottom: $measure * 3;
            }
        }

        &__subtitle {
            margin-bottom: $measure * 4;

            @media all and ($viewport-type: $tablets) {
                margin-bottom: $measure * 3;
            }
        }

        &__ft {
            &__btn {
                width: fit-content;
                margin-left: 0;
                margin-right: auto;

                @media all and ($viewport-type: $mobile) {
                    width: 100%;
                }
            }
        }
    }
}

@mixin make-layout-03-modifier(
    $meta-font: false,
    $meta-font-weight: false,
    $meta-color: false,
    $title-font: false,
    $title-font-weight: false,
    $title-color: false,
    $subtitle-font: false,
    $subtitle-font-weight: false,
    $subtitle-color: false,
    $object-fit: cover,
    $img-position: false,
    $img-border-radius: false,
    $change-order-reponsive: false,
    $background-color: false,
    $btn-font: false,
    $btn-class: false,
    $btn-class-modifier: false,
    $breakpoint: false
) {
    @if $background-color {
        background: $background-color;
    }

    .g--layout-03 {
        &__media-wrapper {
            @if $object-fit == contain or $object-fit== scale-down {
                display: flex;
                align-items: center;
            } @else {
                min-height: 500px;
                @if $img-border-radius {
                    border-radius: $img-border-radius;
                    overflow: hidden;
                }
                @media all and ($viewport-type: $tabletl) {
                    min-height: 450px;
                }

                @media all and ($viewport-type: $tabletm) {
                    min-height: 400px;
                }
            }

            @if $breakpoint{
                @media all and ($viewport-type: $breakpoint) {
                    @if $change-order-reponsive == false {
                        margin-bottom: $measure * 5;
                    }
                }
            }


            &__media {
                @if $object-fit {
                    object-fit: $object-fit;
                }
                @if $img-position {
                    object-position: $img-position;
                }
            }

            &__wrapper {

                @if $breakpoint{
                    @media all and ($viewport-type: $breakpoint) {
                        @if $change-order-reponsive {
                            margin-bottom: $measure * 5;
                        }
                    }
                }
                
                &__meta {
                    @if $meta-font {
                        @extend .f--font-#{$meta-font} !optional;
                    }
                    @if $meta-font-weight {
                        font-weight: $meta-font-weight;
                    }

                    @if $meta-color {
                        color: $meta-color;
                    }
                }

                &__title {
                    @if $title-font {
                        @extend .f--font-#{$title-font} !optional;
                    }
                    @if $title-font-weight {
                        font-weight: $title-font-weight;
                    }
                    @if $title-color {
                        color: $title-color;
                    }
                }
                &__subtitle {
                    @if $subtitle-font {
                        @extend .f--font-#{$subtitle-font} !optional;
                    }
                    @if $subtitle-font-weight {
                        font-weight: $subtitle-font-weight;
                    }

                    @if $subtitle-color {
                        color: $subtitle-color;
                    }
                }

                &__ft {
                    &__btn {
                        @if $btn-class {
                            @extend .#{$btn-class} !optional;
                        }
                        @if $btn-class-modifier {
                            @extend .#{$btn-class-modifier} !optional;
                        }
                        @if $btn-font {
                            @extend .f--font-#{$btn-font} !optional;
                        }
                    }
                }
            }
        }
    }
}
