@mixin make-layout-03(
    $btn-class,
    $meta-font,
    $subtitle-font,
    $title-font,
    $img-border-radius: false,
    $img-position: false,
    $meta-font-weight: false,
    $title-font-weight: false,
    $subtitle-font-weight: false,
    $change-order-reponsive: false,
) {

    &__media-wrapper{
        min-height: 500px;
        position: relative;
        width: 100%;

        @if $img-border-radius {
            border-radius: $img-border-radius;
            overflow: hidden
        }

        @media all and ($viewport-type: $tabletl) {
            min-height: 450px;
        }

        @media all and ($viewport-type: $tabletm) {
            min-height: 400px;
        }

        @media all and ($viewport-type: $tablets) {
            min-height: 0;
            height: auto;
            @if  $change-order-reponsive == false{
                margin-bottom: $measure*5;
            }
        }

        &__media{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            display: block;
            @if $img-position {
                object-position: $img-position;
            }

            @media all and ($viewport-type: $tablets) {
                position: relative;
                top: auto;
                left: auto;
            }
        }
    }
    &__wrapper{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: $measure*7 0;
        width: 100%;

        @media all and ($viewport-type: $tablets) {
            padding: 0;
            @if  $change-order-reponsive{
                margin-bottom: $measure*5;
            }
        }

        &__meta{
            @extend .f--font-#{$meta-font} !optional;
            @if $meta-font-weight {
                font-weight: $meta-font-weight;
            }
            margin-bottom: $measure * 7;

            @media all and ($viewport-type: $tablets) {
                margin-bottom: $measure * 5;
            }
        }

        &__title{
            @extend .f--font-#{$title-font} !optional;
            @if $title-font-weight {
                font-weight: $title-font-weight;
            }
            margin-bottom: $measure*4;
    
            @media all and ($viewport-type: $tablets) {
                margin-bottom: $measure * 3;
            }
        }

        &__subtitle{
            @extend .f--font-#{$subtitle-font} !optional;
            @if $subtitle-font-weight {
                font-weight: $subtitle-font-weight;
            }
            margin-bottom: $measure*4;
    
            @media all and ($viewport-type: $tablets) {
                margin-bottom: $measure * 3;
            }
        }

        &__ft{
            &__btn{
                @extend .#{$btn-class} !optional;
                width: fit-content;
                margin-left: 0;
                margin-right: auto;

                @media all and ($viewport-type: $mobile) {
                    width: 100%;
                }
            }
        }
    }
}

@mixin make-layout-03-modifier(
    $meta-color,
    $subtitle-color,
    $title-color,
    $background-color: false,
    $btn-class-modifier: false,
) {
    @if $background-color {
        background: $background-color;
    }

    .g--layout-03{
        &__wrapper{
            &__meta{
                color: $meta-color;
            }

            &__title{
                color: $title-color;
            }

            &__subtitle{
                color: $subtitle-color;
            }
            
            &__ft{
                @if $btn-class-modifier {
                    &__btn{
                        @extend .#{$btn-class-modifier} !optional;
                    }
                }
            }
        }
    }
}