.g--layout-03 {
    @include make-layout-03();
    @include make-layout-03-modifier(
        $align-text-img: center,
        $meta-font: f,
        $meta-font-weight: 400,
        $meta-color: map-get($color-options, a),
        $subtitle-font: f,
        $subtitle-font-weight: 400,
        $subtitle-color: map-get($color-options, a),
        $title-font: c,
        $title-font-weight: 400,
        $title-color: map-get($color-options, a),
        $object-fit: cover,
        $img-height: 200px,
        $img-position: false,
        // $img-border-radius: $measure * 4,
        $change-order-reponsive: true,
        $btn-font: f,
        $btn-class: g--btn-01,
        $breakpoint: $tablets
        // $background-color: map-get($color-options, e),
    );
}
