@mixin make-card-43() {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    text-decoration: none;
    overflow: hidden;
    &__wrapper {
        width: 50%;
        padding: $measure * 10;
        @media all and ($viewport-type: $tabletm) {
            padding: $measure * 5;
        }

        &__hd {
            margin-bottom: $measure * 3;
        }
    }
    &__media-wrapper {
        width: 50%;
        position: relative;
        overflow: hidden;
        &__media {
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

@mixin make-card-43-modifier(
    $background-color: false,
    $border-color: false,
    $border-radius: false,
    $border-style: false,
    $border-width: false,
    $breakpoint: false,
    $card-min-height: false,
    $change-order-reponsive: false,
    $content-color: false,
    $content-font-weight: false,
    $content-font: false,
    $content-max-lines: false,
    $hover-background-color: false,
    $hover-border-color: false,
    $hover-border-radius: false,
    $hover-img-zoom: false,
    $hover-shadow: false,
    $hover-title-color: false,
    $hover-title-underline-color: false,
    $hover-transform: false,
    $img-aspect-ratio-responsive: false,
    $img-height-responsive: false,
    $img-position: false,
    $shadow: false,
    $text-align: false,
    $title-color: false,
    $title-font-weight: false,
    $title-font: false,
    $title-max-lines: false
) {
    @if $border-color {
        border-color: $border-color;
    }
    @if $border-style {
        border-style: $border-style;
    }
    @if $border-width {
        border-width: $border-width;
    }
    @if $border-radius {
        border-radius: $border-radius;
    }
    @if $card-min-height {
        min-height: $card-min-height;
    }
    @if $shadow {
        box-shadow: $shadow;
    }

    // Handling hover styles
    $hover-options: (
        "border-color": $hover-border-color,
        "border-radius": $hover-border-radius,
        "box-shadow": $hover-shadow,
        "transform": $hover-transform,
    );

    $hover-transition-list: (); // Initialize an empty list for transitions

    @each $property, $value in $hover-options {
        @if $value {
            $transition: unquote("#{$property} #{$time-b} #{$ease-standard-a}");
            $hover-transition-list: append($hover-transition-list, $transition, $separator: comma);
            @media all and (hover: hover) {
                &:hover,
                &:active {
                    #{$property}: $value;
                }
            }
            // Apply the transitions
            transition: $hover-transition-list;
        }
    }

    @if $hover-img-zoom {
        @media all and (hover: hover) {
            &:hover,
            &:active {
                .g--card-43 {
                    &__media-wrapper {
                        &__media {
                            transform: scale($hover-img-zoom);
                        }
                    }
                }
            }
        }
    }
    @if $hover-background-color {
        @media all and (hover: hover) {
            .g--card-43 {
                &__wrapper {
                    transition: background-color $time-b $ease-standard-a;
                }
            }
            &:hover,
            &:active {
                .g--card-43 {
                    &__wrapper {
                        background-color: $hover-background-color;
                    }
                }
            }
        }
    }

    @if $hover-title-color and $hover-title-underline-color {
        @media all and (hover: hover) {
            &:hover,
            &:active {
                @media all and (hover: hover) {
                    &:hover,
                    &:active {
                        .g--card-43 {
                            &__wrapper {
                                &__hd {
                                    color: $hover-title-color;
                                    text-decoration-color: $hover-title-underline-color;
                                }
                            }
                        }
                    }
                }
            }
        }
    } @else if $hover-title-color {
        @media all and (hover: hover) {
            &:hover,
            &:active {
                .g--card-43 {
                    &__wrapper {
                        &__hd {
                            color: $hover-title-color;
                        }
                    }
                }
            }
        }
    } @else if $hover-title-underline-color {
        @media all and (hover: hover) {
            &:hover,
            &:active {
                .g--card-43 {
                    &__wrapper {
                        &__hd {
                            text-decoration-color: $hover-title-underline-color;
                        }
                    }
                }
            }
        }
    }

    @if $text-align == "center" {
        text-align: center;
    }

    @if $text-align == "left" {
        text-align: left;
    }

    @if $text-align == "right" {
        text-align: right;
    }

    .g--card-43 {
        &__wrapper {
            @if $breakpoint {
                @media all and ($viewport-type: $breakpoint) {
                    width: 100%;
                    @if $change-order-reponsive {
                        order: 1;
                    }
                }
            }
            @if $background-color {
                background-color: $background-color;
            }

            &__hd {
                @if $title-color {
                    color: $title-color;
                }
                @if $title-font {
                    @extend .f--font-#{$title-font} !optional;
                }
                @if $title-font-weight {
                    font-weight: $title-font-weight;
                }
                @if $breakpoint {
                    @media all and ($viewport-type: $breakpoint) {
                        margin-bottom: $measure * 2;
                    }
                }
                @if $title-max-lines {
                    overflow: hidden;
                    text-overflow: ellipsis;
                    display: -webkit-box;
                    -webkit-line-clamp: $title-max-lines;
                    -webkit-box-orient: vertical;
                }
                @if $hover-title-underline-color {
                    text-decoration: underline;
                    text-decoration-color: transparent;
                }
                @if $hover-title-color and $hover-title-underline-color {
                    transition: color $time-b $ease-standard-a,
                        text-decoration-color $time-b $ease-standard-a;
                } @else if $hover-title-color {
                    transition: color $time-b $ease-standard-a;
                } @else if $hover-title-underline-color {
                    transition: text-decoration-color $time-b $ease-standard-a;
                }
            }

            &__bd {
                @if $content-color {
                    color: $content-color;
                }
                @if $content-font {
                    @extend .f--font-#{$content-font} !optional;
                }
                @if $content-font-weight {
                    font-weight: $content-font-weight;
                }
                @if $content-max-lines {
                    overflow: hidden;
                    text-overflow: ellipsis;
                    display: -webkit-box;
                    -webkit-line-clamp: $content-max-lines;
                    -webkit-box-orient: vertical;
                }
            }
        }

        &__media-wrapper {
            @if $breakpoint {
                @media all and ($viewport-type: $breakpoint) {
                    width: 100%;
                }
            }
            &__media {
                @if $img-position {
                    object-position: $img-position;
                }
                @if $breakpoint {
                    @media all and ($viewport-type: $breakpoint) {
                        position: relative;
                        top: auto;
                        left: auto;
                        @if $img-height-responsive {
                            height: $img-height-responsive;
                        }
                        @if $img-aspect-ratio-responsive {
                            aspect-ratio: $img-aspect-ratio-responsive;
                        }
                    }
                }
                @if $hover-img-zoom {
                    transition: transform $time-b $ease-standard-a;
                }
            }
        }
    }
}
