@mixin make-card-42(
    $meta-font,
    $pill-class,
    $title-font,
    $border-radius: false,
) {
    overflow: hidden;
    
    @if $border-radius {
        border-radius: $border-radius;
    }

    &__media {
        aspect-ratio: 16 / 9;
        display: block;
        object-fit: cover;
        width: 100%;
    }

    &__wrapper {
        padding: $measure * 6 $measure * 5;

        &__meta {
            @extend .f--font-#{$meta-font} !optional;
            margin-bottom: $measure * 3;
        }

        &__title {
            @extend .f--font-#{$title-font} !optional;
            margin-bottom: $measure * 3;
        }

        &__pill {
            @extend .#{$pill-class} !optional;

            &:not(:last-child) {
                margin-right: $measure * 2;
            }
        }

    }
}

@mixin make-card-42-modifier(
    $background-color,
    $meta-color,
    $title-color,
    $background-color-hover: false,
    $pill-class-modifier: false,
    $text-align: false,
    $title-color-hover: false,
) {

    @if $background-color-hover and $title-color-hover {
        
        .g--card-42 {
            &__wrapper {
                transition: background $time-b $ease-standard-a;
    
                &__title {
                    transition: color $time-b $ease-standard-a;
                }
            }
        }

        @media all and (hover : hover) {
            &:hover,
            &:focus,
            &:active {

                .g--card-42 {
                    &__wrapper {
                        background: $background-color-hover;

                        &__title {
                            color: $title-color-hover;
                        }
                    }
                }
            }
        }

    } @else if $background-color-hover {

        .g--card-42 {
            &__wrapper {
                transition: background $time-b $ease-standard-a;
            }
        }

        @media all and (hover : hover) {
            &:hover,
            &:focus,
            &:active {
                
                .g--card-42 {
                    &__wrapper {
                        background: $background-color-hover;
                    }
                }
            }
        }
    } @else if $title-color-hover {

        .g--card-42  {
            &__wrapper {
                &__title {
                    transition: color $time-b $ease-standard-a;
                }
            }
        }

        @media all and (hover : hover) {
            &:hover,
            &:focus,
            &:active {
                .g--card-36 {
                    &__wrapper {
                        &__title {
                            color: $title-color-hover;
                        }
                    }
                }
            }
        }
    }

    @if $text-align == "center" {
        .g--card-42 {
            &__wrapper {
                text-align: center;

                &__pill {
                    margin-left: auto;
                    margin-right: auto;
                }
            }
        }
    }

    @if $text-align == "left" {
        .g--card-42 {
            &__wrapper {
                text-align: left;

                &__pill {
                    margin-left: 0;
                    margin-right: auto;
                }
            }
        }
    }

    @if $text-align == "right" {
        .g--card-42 {
            &__wrapper {
                text-align: right;

                &__pill {
                    margin-left: auto;
                    margin-right: 0;
                }
            }
        }
    }

    .g--card-42 {
        &__wrapper {
            background: $background-color;

            &__meta {
                color: $meta-color;
            }

            &__title {
                color: $title-color;
            }
        }

        @if $pill-class-modifier {
            &__wrapper {
                &__pill {
                    @extend .#{$pill-class-modifier} !optional;
                }
            }
        }
    }
}