@mixin make-card-42(
    $meta-font,
    $pill-class,
    $title-font,
    $border-radius: false,
    $img-position: false,
    $meta-font-weight: false,
    $title-font-weight: false,
) {
    overflow: hidden;
    width: 100%;
    display: flex;
    flex-direction: column;
    
    @if $border-radius {
        border-radius: $border-radius;
    }

    &__media {
        aspect-ratio: 16 / 9;
        display: block;
        object-fit: cover;
        width: 100%;
        height: 100%;
        @if $img-position {
            object-position: $img-position;
        }
        @media all and ($viewport-type: $tablets) {
            aspect-ratio: 4 / 3;
        }
    }

    &__wrapper {
        padding: $measure * 6 $measure * 5;

        &__meta {
            @extend .f--font-#{$meta-font} !optional;
            @if $meta-font-weight {
                font-weight: $meta-font-weight;
            }
            margin-bottom: $measure * 3;
        }

        &__title {
            @extend .f--font-#{$title-font} !optional;
            @if $title-font-weight {
                font-weight: $title-font-weight;
            }
            margin-bottom: $measure * 3;
        }
        &__list-group{
            display: flex;
            flex-wrap: wrap;
            row-gap: $measure;
            &__list-item {
                @extend .#{$pill-class} !optional;
    
                &:not(:last-child) {
                    margin-right: $measure * 2;
                }
            }
        }

    }
}

@mixin make-card-42-modifier(
    $background-color,
    $meta-color,
    $title-color,
    $background-color-hover: false,
    $pill-class-modifier: false,
    $text-align: false,
    $title-color-hover: false,
) {
    background: $background-color;
    @if $background-color-hover or $title-color-hover {
        text-decoration: none !important;
    }
    @if $background-color-hover and $title-color-hover {
        
        .g--card-42 {
            &__wrapper {
                transition: background $time-b $ease-standard-a;
    
                &__title {
                    transition: color $time-b $ease-standard-a;
                }
            }
        }

        @media all and (hover : hover) {
            &:hover,
            &:focus,
            &:active {

                .g--card-42 {
                    &__wrapper {
                        background: $background-color-hover;

                        &__title {
                            color: $title-color-hover;
                        }
                    }
                }
            }
        }

    } @else if $background-color-hover {

        .g--card-42 {
            &__wrapper {
                transition: background $time-b $ease-standard-a;
            }
        }

        @media all and (hover : hover) {
            &:hover,
            &:focus,
            &:active {
                
                .g--card-42 {
                    &__wrapper {
                        background: $background-color-hover;
                    }
                }
            }
        }
    } @else if $title-color-hover {

        .g--card-42  {
            &__wrapper {
                &__title {
                    transition: color $time-b $ease-standard-a;
                }
            }
        }

        @media all and (hover : hover) {
            &:hover,
            &:focus,
            &:active {
                .g--card-42 {
                    &__wrapper {
                        &__title {
                            color: $title-color-hover;
                        }
                    }
                }
            }
        }
    }

    @if $text-align == "center" {
        .g--card-42 {
            &__wrapper {
                text-align: center;
                &__list-group{
                    &__list-item{
                        margin-left: auto;
                        margin-right: auto;
                    }
                }
            }
        }
    }

    @if $text-align == "left" {
        .g--card-42 {
            &__wrapper {
                text-align: left;
                &__list-group{
                    &__list-item{
                        margin-left: 0;
                        margin-right: auto;
                    }
                }
            }
        }
    }

    @if $text-align == "right" {
        .g--card-42 {
            &__wrapper {
                text-align: right;
                &__list-group{
                    &__list-item{
                        margin-left: auto;
                        margin-right: 0;
                    }
                }
            }
        }
    }
    @if $text-align == "center" {

        .g--card-42 {
            &__wrapper{
                text-align: center;
                &__list-group {
                    justify-content: center;
                    &__list-item{
                        margin-left: $measure;
                        margin-right: $measure;
                        &:first-child{
                            margin-left: $measure;
                        }
                        &:last-child{
                            margin-right: $measure;
                        }
                        &:not(:first-child){
                            margin-left: $measure;
                        }
                        &:not(:last-child){
                            margin-right: $measure;
                        }
                    }
                }
            }
        }
    }

    @if $text-align == "left" {

        .g--card-42 {
            &__wrapper{
                text-align: left;
                &__list-group {
                    justify-content: flex-start;
                    &__list-item{
                        margin-left: 0;
                        &:first-child{
                            margin-left: 0;
                        }
                        &:last-child{
                            margin-right: 0;
                        }
                        &:not(:first-child){
                            margin-left: 0;
                        }
                        &:not(:last-child){
                            margin-right: $measure*2;
                        }
                    }
                }
            }
        }
    }

    @if $text-align == "right" {

        .g--card-42 {
            &__wrapper{
                text-align: right;
                &__list-group {
                    justify-content: flex-end;
                    &__list-item{
                        margin-right: 0;
                        &:first-child{
                            margin-left: 0;
                        }
                        &:last-child{
                            margin-right: 0;
                        }
                        &:not(:first-child){
                            margin-left: $measure*2;
                        }
                        &:not(:last-child){
                            margin-right: 0;
                        }
                    }
                }
            }
        }
    }

    .g--card-42 {
        &__wrapper {

            &__meta {
                color: $meta-color;
            }

            &__title {
                color: $title-color;
            }
        }

        @if $pill-class-modifier {
            &__wrapper {
                &__list-group{
                    &__list-item{
                        @extend .#{$pill-class-modifier} !optional;
                    }
                }
            }
        }
    }
}