.g--card-42 {
    @include make-card-42();
    @include make-card-42-modifier(
        $background-color: lighten(map-get($color-options, a), 82%),
        $border-color: map-get($color-options, a),
        $border-style: solid,
        $border-width: 1px,
        $border-radius: 0,
        $breakpoint: $tablets,
        $hover-background-color: rgba(map-get($color-options, h), 0.5),
        $hover-border-color: map-get($color-options, f),
        $hover-border-radius: $measure * 4,
        $hover-img-zoom: 1.4,
        $hover-shadow: 0 0 $measure * 5 map-get($color-options, h),
        $hover-title-color: map-get($color-options, g),
        $hover-transform: translateY(-$measure),
        // $img-aspect-ratio-responsive: 1,
        $img-height-responsive: 300px,
        $img-position: left bottom,
        $meta-color: map-get($color-options, a),
        $meta-font: f,
        $meta-font-weight: false,
        $pill-class: g--pill-01,
        $text-align: left,
        $title-color: map-get($color-options, a),
        $title-font: c,
        $title-font-weight: false,
        $title-max-lines: 3
    );
}
