@mixin make-cta-02(
    $background-size,
    $background-position,
    $title-font,
    $btn-class,
) {
    background-size: $background-size;
    background-position: $background-position;
    padding: $measure * 20 0;
    position: relative;
    text-align: center;
    @media all and ($viewport-type: $tablets) {
        padding: $measure * 15 0;
    }
    &::before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 0;
    }
    &__title{
        @extend .f--font-#{$title-font} !optional;
        margin-bottom: $measure*6;
        @media all and ($viewport-type: $tablets) {
            margin-bottom: $measure * 4;
        }
    }
    &__btn{
        @extend .#{$btn-class} !optional;
    }
}

@mixin make-cta-02-modifier(
    $mask-color,
    $title-color,
    $btn-class-modifier: false
) {
    &::before{
        background: $mask-color;
    }
    .g--cta-02{
        &__title{
            color: $title-color;
        }
        @if $btn-class-modifier {
            &__btn{
                @extend .#{$btn-class-modifier} !optional;
            }
        }
    }
}
