@mixin make-cta-02(
    $btn-class,
    $background-position,
    $background-size,
    $title-font,
) {
    background-position: $background-position;
    background-size: $background-size;
    padding: $measure * 20 $measure * 30;
    position: relative;
    text-align: center;

    @media all and ($viewport-type: $tabletl) {
        padding: $measure * 20 $measure * 20;
    }

    @media all and ($viewport-type: $tabletm) {
        padding: $measure * 10;
    }

    @media all and ($viewport-type: $mobile) {
        padding: $measure * 7;
    }

    &::before{
        content: '';
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 0;
    }

    &__title{
        @extend .f--font-#{$title-font} !optional;
        margin-bottom: $measure*6;
        position: relative;

        @media all and ($viewport-type: $tablets) {
            margin-bottom: $measure * 4;
        }
    }

    &__btn{
        @extend .#{$btn-class} !optional;
        margin-left: auto;
        margin-right: auto;
        position: relative;
    }
}

@mixin make-cta-02-modifier(
    $mask-color,
    $title-color,
    $btn-class-modifier: false,
    $text-align: false
) {
    &::before{
        background: $mask-color;
    }

    @if $text-align == "center" {
        text-align: center;

        .g--cta-02 {
            &__btn {
                margin-left: auto;
                margin-right: auto;
            }
        }
        
    }
    @if $text-align == "left" {
        text-align: left;

        .g--cta-02 {
            &__btn {
                margin-left: 0;
                margin-right: auto;
            }
        }
    }
    @if $text-align == "right" {
        text-align: right;

        .g--cta-02 {
            &__btn {
                margin-left: auto;
                margin-right: 0;
            }
        }
    }

    .g--cta-02{
        &__title{
            color: $title-color;
        }
        
        @if $btn-class-modifier {
            &__btn{
                @extend .#{$btn-class-modifier} !optional;
            }
        }
    }
}
