.g--cta-02{
    @include make-cta-02();
    @include make-cta-02-modifier(
        $background-position: center,
        $background-size: cover,
        $hover-background-img-zoom: 1.2,
        $btn-class: g--btn-02,
        // $btn-font: false,
        $mask-color: rgba(map-get($color-options, a), .5),
        $title-color: map-get($color-options, b),
        $hover-title-color: map-get($color-options, a),
        // $text-align: false,
        $title-font: c,
        // $title-font-weight: false,
        $hover-shadow: 0 0 $measure*2 map-get($color-options, h),
        $hover-transform: translateY(-$measure),
        // $title-max-lines: false,
    );
}