@mixin make-subscribe-03() {
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    column-gap: $measure * 2;
    width: 100%;

    &__wrapper {
        min-width: 50%;
        position: relative;
    }
}

@mixin make-subscribe-03-modifier(
    $breakpoint: false,
    $btn-min-height: false,
    $btn-width: false,
    $error-height: false,
    $input-min-height: false,
    $recaptcha: false
) {
    .g--subscribe-03 {
        &__wrapper {
            @if $recaptcha {
                margin-bottom: $measure;
            }
            @if $error-height {
                margin-bottom: $error-height;
            }
            @if $btn-width {
                width: calc(100% - #{$measure * 2} - #{$btn-width});
            }
            @if $breakpoint {
                @media all and ($viewport-type: $breakpoint) {
                    width: 100%;
                    margin-bottom: $measure *2;
                    position: initial;
                }
            }
            @if $input-min-height {
                input {
                    min-height: $input-min-height;
                }
            }
        }
        @if $recaptcha {
            &__item {
                order: 1;
                width: 100%;
                @if $breakpoint {
                    @media all and ($viewport-type: $breakpoint) {
                        order: 0;
                        margin-bottom: $measure;
                    }
                }
            }
        }
        &__btn {
            @if $recaptcha {
                margin-bottom: $measure;
            }
            @if $error-height {
                margin-bottom: $error-height;
            }
            @if $breakpoint {
                @media all and ($viewport-type: $breakpoint) {
                    width: 100%;
                    margin-bottom: 0;
                }
            }
            @if $btn-min-height {
                min-height: $btn-min-height;
            }
        }
    }
}
