@mixin make-card-05() {
    padding: 0 $measure * 2;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-decoration: none;
    &__media-wrapper {
        overflow: hidden;
        margin-bottom: $measure * 2;
        &__media {
            display: block;
            @media all and ($viewport-type: $tablets) {
                margin-bottom: $measure;
            }
        }
    }

    &__title {
        margin-bottom: $measure * 2;
        @media all and ($viewport-type: $tablets) {
            margin-bottom: $measure;
        }
    }

    &__subtitle {
        margin-bottom: $measure * 2;
    }
}

@mixin make-card-05-modifier(
    $hover-img-border-radius: false,
    $hover-img-zoom: false,
    $hover-title-color: false,
    $hover-title-underline-color: false,
    $hover-transform: false,
    $img-aspect-ratio: false,
    $img-height: false,
    $img-position: false,
    $img-fit: false,
    $img-width: false,
    $link-class: false,
    $link-font: false,
    $subtitle-color: false,
    $subtitle-font: false,
    $subtitle-font-weight: false,
    $subtitle-max-lines: false,
    $text-align: false,
    $title-color: false,
    $title-font: false,
    $title-font-weight: false,
    $title-max-lines: false
) {
    @if $hover-transform {
        transition: transform $time-b $ease-standard-a;
        @media all and (hover: hover) {
            &:hover,
            &:active {
                transform: $hover-transform;
            }
        }
    }

    @if $hover-title-color and $hover-title-underline-color {
        @media all and (hover: hover) {
            &:hover,
            &:active {
                @media all and (hover: hover) {
                    &:hover,
                    &:active {
                        .g--card-05 {
                            &__title {
                                color: $hover-title-color;
                                text-decoration-color: $hover-title-underline-color;
                            }
                        }
                    }
                }
            }
        }
    } @else if $hover-title-color {
        @media all and (hover: hover) {
            &:hover,
            &:active {
                .g--card-05 {
                    &__title {
                        color: $hover-title-color;
                    }
                }
            }
        }
    } @else if $hover-title-underline-color {
        @media all and (hover: hover) {
            &:hover,
            &:active {
                .g--card-05 {
                    &__title {
                        text-decoration-color: $hover-title-underline-color;
                    }
                }
            }
        }
    }

    @if $hover-img-border-radius {
        @media all and (hover: hover) {
            &:hover,
            &:active {
                .g--card-05 {
                    &__media-wrapper {
                        border-radius: $hover-img-border-radius;
                    }
                }
            }
        }
    }

    @if $hover-img-zoom {
        @media all and (hover: hover) {
            &:hover,
            &:active {
                .g--card-05 {
                    &__media-wrapper {
                        &__media {
                            transform: scale($hover-img-zoom);
                        }
                    }
                }
            }
        }
    }

    @if $text-align == "center" {
        text-align: center;
        align-items: center;
        .g--card-05 {
            &__media-wrapper {
                margin-left: auto;
                margin-right: auto;
                &__media {
                    margin-left: auto;
                    margin-right: auto;
                }
            }
        }
    }
    @if $text-align == "left" {
        text-align: left;
        align-items: flex-start;
        .g--card-05 {
            &__media-wrapper {
                margin-left: 0;
                margin-right: auto;
                &__media {
                    margin-left: 0;
                    margin-right: auto;
                }
            }
        }
    }
    @if $text-align == "right" {
        text-align: right;
        align-items: flex-end;
        .g--card-05 {
            &__media-wrapper {
                margin-left: auto;
                margin-right: 0;
                &__media {
                    margin-left: auto;
                    margin-right: 0;
                }
            }
        }
    }
    .g--card-05 {
        &__media-wrapper {
            @if $img-aspect-ratio {
                aspect-ratio: $img-aspect-ratio;
            }
            @if $img-width {
                width: $img-width;
            }
            @if $img-height {
                height: $img-height;
            }
            @if $hover-img-border-radius {
                transition: border-radius $time-b $ease-standard-a;
            }
            &__media {
                @if $img-aspect-ratio {
                    aspect-ratio: $img-aspect-ratio;
                }
                @if $img-width {
                    width: 100%;
                }
                @if $img-height {
                    height: 100%;
                }
                @if $img-fit {
                    object-fit: $img-fit;
                }
                @if $img-position {
                    object-position: $img-position;
                }
                @if $hover-img-zoom {
                    transition: transform $time-b $ease-standard-a;
                }
            }
        }

        &__title {
            @if $title-color {
                color: $title-color;
            }
            @if $title-font {
                @extend .f--font-#{$title-font} !optional;
            }
            @if $title-font-weight {
                font-weight: $title-font-weight;
            }
            @if $title-max-lines {
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: $title-max-lines;
                -webkit-box-orient: vertical;
            }
            @if $hover-title-underline-color {
                text-decoration: underline;
                text-decoration-color: transparent;
            }
            @if $hover-title-color and $hover-title-underline-color {
                transition: color $time-b $ease-standard-a,
                    text-decoration-color $time-b $ease-standard-a;
            } @else if $hover-title-color {
                transition: color $time-b $ease-standard-a;
            } @else if $hover-title-underline-color {
                transition: text-decoration-color $time-b $ease-standard-a;
            }
        }

        &__subtitle {
            @if $subtitle-color {
                color: $subtitle-color;
            }
            @if $subtitle-font {
                @extend .f--font-#{$subtitle-font} !optional;
            }
            @if $subtitle-font-weight {
                font-weight: $subtitle-font-weight;
            }
            @if $subtitle-max-lines {
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: $subtitle-max-lines;
                -webkit-box-orient: vertical;
            }
        }
        &__link {
            @if $link-class {
                @extend .#{$link-class} !optional;
            }
            @if $link-font {
                @extend .f--font-#{$link-font} !optional;
            }
        }
    }
}
