@mixin make-card-05(
    $title-font,
    $subtitle-font,
    $link-class,
) {
    padding: $measure*7 $measure*5;
    position: relative;
    &__media{
        width: auto;
        height: 100px;
        object-fit: cover;
        @include make-sp-1();
    }
    &__title{
        @extend .f--font-#{$title-font} !optional;
        @include make-sp-1();
    }
    &__subtitle{
        @extend .f--font-#{$subtitle-font} !optional;
        @include make-sp-1();
    }
    &__link{
        @extend .#{$link-class} !optional;
    }
}

@mixin make-card-05-color(
    $background-color,
    $title-color,
    $subtitle-color,
) {
    background-color: $background-color;
    &__title{
        color: $title-color;
    }
    &__subtitle{
        color: $subtitle-color;
    }
}