@mixin make-card-05(
    $link-class,
    $border-radius: false,
) {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: $measure*7 $measure*5;
    position: relative;
    width: 100%;

    @if $border-radius {
        border-radius: $border-radius;
    }

    &__media{
        display: block;
        height: 100px;
        margin-bottom: $measure * 2;
        object-fit: cover;
        width: auto;
    
        @media all and ($viewport-type: $tablets) {
            margin-bottom: $measure;
        }
    }

    &__title{
        margin-bottom: $measure * 2;

        @media all and ($viewport-type: $tablets) {
            margin-bottom: $measure;
        }
    }

    &__subtitle{
        margin-bottom: $measure * 2;
        
        @media all and ($viewport-type: $tablets) {
            margin-bottom: $measure;
        }
    }

    &__link{
        @extend .#{$link-class} !optional;
        margin-top: auto;
    }
}

@mixin make-card-05-modifier(
    $background-color,
    $subtitle-color,
    $title-color,
    $link-class-modifier: false,
    $subtitle-font: false,
    $subtitle-font-weight: false,
    $text-align: false,
    $title-font: false,
    $title-font-weight: false,
) {
    background: $background-color;
    
    @if $text-align == "center" {
        text-align: center;

        .g--card-05 {
            &__media {
                margin-left: auto;
                margin-right: auto;
            }
        }
        
    }
    @if $text-align == "left" {
        text-align: left;

        .g--card-05 {
            &__media {
                margin-left: 0;
                margin-right: auto;
            }
        }
    }
    @if $text-align == "right" {
        text-align: right;

        .g--card-05 {
            &__media {
                margin-left: auto;
                margin-right: 0;
            }
        }
        
    }

    .g--card-05 {
        @if $link-class-modifier {
            &__link{
                @extend .#{$link-class-modifier} !optional;
            }
        }

        &__title{
            color: $title-color;
            @if $title-font {
                @extend .f--font-#{$title-font} !optional;
            }
            @if $title-font-weight {
                font-weight: $title-font-weight;
            }
        }

        &__subtitle{
            color: $subtitle-color;
            @if $subtitle-font {
                @extend .f--font-#{$subtitle-font} !optional;
            }
            @if $subtitle-font-weight {
                font-weight: $subtitle-font-weight;
            }
        }
    }
}