.g--card-05{
    @include make-card-05();
    @include make-card-05-modifier(
        $link-class: g--link-02,
        $title-color: map-get($color-options, a),
        $title-font: b,
    );
    &--second{
        @include make-card-05-modifier(
            $subtitle-color: map-get($color-options, g),
            $title-color: map-get($color-options, g),
            $title-font: c,
            $hover-img-zoom: 1.2,
            $hover-title-color: map-get($color-options, h),
            $hover-transform: translateY(-$measure),
            $img-aspect-ratio:calc(1 / 1),
            $img-height: 100px,
            $img-fit: cover,
            $img-position: center,
            $img-width: auto,
            $link-class: g--link-02--second,
            $link-font: b,
            $subtitle-font: f,
            $subtitle-font-weight: 400,
            $subtitle-max-lines: 3,
            $text-align: center,
            $title-font-weight: 400,
            $title-max-lines: 3,
        );
    }
}