.g--card-05 {
    @include make-card-05();
    @include make-card-05-modifier(
        $link-class: g--link-01,
        $link-font: f,
        $title-color: map-get($color-options, a),
        $title-font: c
    );
    &--second {
        @include make-card-05-modifier(
            $hover-img-border-radius: $measure,
            $hover-img-zoom: 1.2,
            $hover-title-color: map-get($color-options, h),
            $hover-title-underline-color: map-get($color-options, f),
            $hover-transform: translateY(-$measure),
            $img-aspect-ratio: calc(1 / 1),
            $img-border-radius: 50%,
            $img-fit: cover,
            $img-height: 100px,
            $img-position: center,
            $img-width: auto,
            $link-class: g--link-01--second,
            $link-font: b,
            $subtitle-color: map-get($color-options, g),
            $subtitle-font-weight: 400,
            $subtitle-font: f,
            $subtitle-max-lines: 3,
            $title-color: map-get($color-options, g),
            $title-font-weight: 400,
            $title-font: c,
            $title-max-lines: 3,
            $text-align: left
        );
    }
}
