.g--card-52{
    @include make-card-52(
        // $change-order-reponsive: default,
        // $border-radius: default,
    );
    @include make-card-52-modifier(
        $background-color: rgba(map-get($color-options, a), .1),
        $title-color: map-get($color-options, a),
        $title-font: d,
        // title-font-weight: default
    );
}