@mixin make-search-01() {
    display: block;
    width: 100%;

    &__title{
        display: block;
        margin-bottom: $measure * 2;

        @media all and ($viewport-type: $tablets) {
            margin-bottom: $measure;
        }
    }

    &__wrapper{
        position: relative;

        &__item{
            display: block;
            appearance: none;
            -webkit-appearance: none;
            padding: $measure*.5 $measure;
            width:100%;

            @media all and ($viewport-type: $mobile){
                font-size: 1rem;
            }

            &::-webkit-search-decoration{
                display: none;
            }
        }

        &__artwork{
            position: absolute;
            top: 50%;
            right: $measure;
            transform: translateY(-50%);
            width: $measure*2;
            height: 100%;
            pointer-events: none;
        }
    }
}

@mixin make-search-01-modifier(
    $input-background-color: false,
    $input-background-color-autofill: false,
    $input-border-radius: false,
    $input-border-width: false,
    $input-border-style: false,
    $input-border-color: false,
    $input-text-color: false,
    $input-font: false,
    $input-font-weight: false,
    $title-color: false,
    $title-font: false,
    $title-font-weight: false,
    $artwork-color: false,
    $placeholder-color: false,
) {
    .g--search-01 {
        &__title {
            @if $title-color {
                color: $title-color;
            }
            
            @if $title-font {
                @extend .f--font-#{$title-font} !optional;
            }

            @if $title-font-weight {
                font-weight: $title-font-weight;
            }
        }
        &__wrapper{
            &__item{
                @if $input-font {
                    @extend .f--font-#{$input-font} !optional;
                }

                @if $input-font-weight {
                    font-weight: $input-font-weight;
                }

                @if $input-border-width {
                    border-width: $input-border-width;
                }

                @if $input-border-style {
                    border-style: $input-border-style;
                }

                @if $input-border-color {
                    border-color: $input-border-color;
                    transition: border-color $time-b $ease-standard-a;
                }

                @if $input-border-radius {
                    border-radius: $input-border-radius;
                }

                
                @if $input-background-color {
                    background-color: $input-background-color !important;
                }

                @if $input-text-color {
                    color: $input-text-color !important;
                }
                
                &:-webkit-autofill, 
                &:-webkit-autofill:hover, 
                &:-webkit-autofill:focus {

                    @if $input-border-width {
                        border-width: $input-border-width;
                    }

                    @if $input-border-color {
                        border-color: $input-border-color;
                    }

                    @if $input-text-color {
                        -webkit-text-fill-color: $input-text-color;
                    }

                    @if $input-background-color-autofill {
                        -webkit-box-shadow: 0 0 0px 1000px $input-background-color-autofill inset;
                    }
                }

                &::placeholder{

                    @if $input-font {
                        @extend .f--font-#{$input-font} !optional;
                    }

                    @if $input-font-weight {
                        font-weight: $input-font-weight;
                    }

                    @if $placeholder-color {
                        color: $placeholder-color;
                    }
                }
            }

            &__artwork{
                path{
                    @if $artwork-color {
                        stroke: $artwork-color;
                    }
                }
            }
        }
    }
}