.g--search-01{
    @include make-search-01();
    @include make-search-01-modifier(
        $input-background-color: transparent,
        $input-background-color-autofill: transparent,
        $input-border-radius: 8px,
        $input-border-width: 3px,
        $input-border-style: dotted,
        $input-border-color: map-get($color-options, e),
        $input-text-color: map-get($color-options, f),
        $input-font: f,
        // $input-font-weight: false,
        $title-color: map-get($color-options, g),
        $title-font: c,
        // $title-font-weight: false
        $artwork-color: map-get($color-options, g),
        $placeholder-color: rgba(map-get($color-options, g), .5),
    );
}