.g--card-55 {
    @include make-card-55();
    @include make-card-55-modifier(
        $content-font: c,
        $heading-font: f,
        $person-font: f,
        $position-font: f,
        $border-radius: 0,
        $border-color: map-get($color-options, a),
        $border-style: solid,
        $border-width: 1px,
        $content-font-weight: 400,
        $heading-font-weight: 600,
        $hover-background-color: map-get($color-options, g),
        $hover-img-zoom: 1.2,
        $hover-shadow: 0 0 $measure*2 map-get($color-options, g),
        $hover-title-color: map-get($color-options, h),
        $hover-transform: translateY(-$measure),
        $img-aspect-ratio-responsive: 1.7,
        // $img-height-responsive: 1300px,
        $img-position: center,
        $person-font-weight: 600,
        $position-font-weight: 400,
        $change-order-reponsive: true,
        $content-color: map-get($color-options, a),
        $heading-color: map-get($color-options, a),
        $person-color: map-get($color-options, a),
        $position-color: map-get($color-options, a),
        $background-color: lighten(map-get($color-options,a), 82%),
        $text-align: left,
        $breakpoint: $tablets,
    );
}
