@mixin make-layout-04(
    $img-border-radius: false,
    $meta-font,
    $title-font,
    $subtitle-font
) {
    padding: $measure * 15 0;

    @media all and ($viewport-type: $tablets) {
        padding: $measure * 10 0;
    }
    &__media-wrapper{
        width: 100%;
        position: relative;
        min-height: 500px;
        @if $img-border-radius {
            border-radius: $img-border-radius;
            overflow: hidden
        }
        @media all and ($viewport-type: $tablets) {
            min-height: 0;
            height: auto;
            margin-bottom: $measure*5;
        }
        &__media{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            display: block;
            @media all and ($viewport-type: $tablets) {
                position: relative;
                top: auto;
                left: auto;
            }
        }
    }
    &__wrapper{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: $measure*7 0;
        @media all and ($viewport-type: $tablets) {
            padding: 0;
        }
        &__meta{
            @extend .f--font-#{$meta-font} !optional;
            margin-bottom: $measure * 7;
            @media all and ($viewport-type: $tablets) {
                margin-bottom: $measure * 5;
            }
        }
        &__title{
            @extend .f--font-#{$title-font} !optional;
            margin-bottom: $measure*4;
    
            @media all and ($viewport-type: $tablets) {
                margin-bottom: $measure * 3;
            }
        }
        &__subtitle{
            @extend .f--font-#{$subtitle-font} !optional;
        }
    }
}

@mixin make-layout-04-modifier(
    $meta-color,
    $title-color,
    $subtitle-color,
    $background-color: false,
    $text-align: false,
) {
    @if $background-color {
        background-color: $background-color;
    }
    @if $text-align == "center" {
        text-align: center;
    }
    @if $text-align == "left" {
        text-align: left;
    }
    @if $text-align == "right" {
        text-align: right;
    }

    .g--layout-04{
        &__media{}
        &__wrapper{
            &__meta{
                color: $meta-color;
            }
            &__title{
                color: $title-color;
            }
            &__subtitle{
                color: $subtitle-color;
            }
        }
    }
}