.g--layout-04 {
    @include make-layout-04();
    @include make-layout-04-modifier(
        $meta-font: f,
        $meta-font-weight: 400,
        $meta-color: map-get($color-options, a),
        $subtitle-font: d,
        $subtitle-font-weight: 400,
        $subtitle-color: map-get($color-options, a),
        $title-font: c,
        $title-font-weight: 600,
        $title-color: map-get($color-options, a),
        $object-fit: cover,
        // $img-border-radius: false,
        // $img-position: false,
        $change-order-reponsive: true,
        // $background-color: map-get($color-options, d),
        $breakpoint: $tablets
    );
}
