@mixin make-card-12(
    $background-position,
    $background-size,
    $border-radius: false,
    $title-font,
) {
    background-position: $background-position;
    background-repeat: no-repeat;
    background-size: $background-size;
    padding: $measure*7 $measure*5;
    position: relative;
    width: 100%;

    &::before{
        content: '';
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 0;
    }

    &__wrapper{
        position: relative;
        z-index: 1;

        &__media{
            display: block;
            height: 100px;
            margin-bottom: $measure * 2;
            object-fit: cover;
            width: auto;

            @media all and ($viewport-type: $tablets) {
                margin-bottom: $measure;
            }
        }

        &__title{
            @extend .f--font-#{$title-font} !optional;
        }
    }
}

@mixin make-card-12-modifier(
    $mask-color,
    $text-align: false,
    $title-color,
) {
    &::before{
        background: $mask-color;
    }

    @if $text-align == "center" {
        text-align: center;

        .g--card-12 {
            &__wrapper {
                &__media {
                    margin-left: auto;
                    margin-right: auto;
                }
            }
        }
        
    }
    @if $text-align == "left" {
        text-align: left;

        .g--card-12 {
            &__wrapper {
                &__media {
                    margin-left: 0;
                    margin-right: auto;
                }
            }
        }
    }
    @if $text-align == "right" {
        text-align: right;

        .g--card-12 {
            &__wrapper {
                &__media {
                    margin-left: auto;
                    margin-right: 0;
                }
            }
        }
    }
    
    .g--card-12 {
        &__wrapper{
            &__title{
                color: $title-color;
            }
        }
    }
}