@mixin make-link-01() {
    text-decoration: none;
    background-size: 100% 1px;
    background-position: bottom left;
    background-repeat: no-repeat;
    transition: background-size $time-b $ease-standard-a;
    @media (hover: hover) {
        &:hover ,
        &:focus ,
        &:active {
            background-size: 0% 1px;
        }
    }
}

@mixin make-link-01-modifier(
    $text-color,
) {
    color: $text-color;
    background-image: linear-gradient($text-color, $text-color);
}