@mixin make-link-01() {
    background-position: bottom left;
    background-repeat: no-repeat;
    text-decoration: none;
    transition: background-size $time-b $ease-standard-a;
    width: fit-content;
}

@mixin make-link-01-modifier(
    $text-color: false,
    $underline-color: false,
    $underline-height: false
) {
    @if $text-color {
        color: $text-color;
    }
    @if $underline-color {
        background-image: linear-gradient($underline-color, $underline-color);
    }
    @if $underline-height {
        background-size: 100% $underline-height;
    }

    @media (hover: hover) {
        &:hover,
        &:active {
            @if $underline-height {
                background-size: 0% $underline-height;
            }
        }
    }
}
