.g--card-01{
    @include make-card-01(
        $title-font: b,
        $subtitle-font: d,
    );
    @include make-card-01-color(
        $background-color: rgba(map-get($color-options, a), .5),
        $title-color: map-get($color-options, a),
        $subtitle-color: map-get($color-options, a),
    );

    &--second {
        @include make-card-01-color(
        $background-color: rgba(map-get($color-options, h), .5),
        $title-color: map-get($color-options, f),
        $subtitle-color: map-get($color-options, g),
        );
    }
}