.g--layout-08{
    @include make-layout-08(
        $subtitle-font: d,
        $title-font: c,
        // $img-border-radius: default,
        // $img-position: default,
        // $title-font-weight: default,
        // $subtitle-font-weight: default,
        // $change-order-reponsive: true
    );
    @include make-layout-08-modifier(
        $background-color: map-get($color-options, d),
        $subtitle-color: map-get($color-options, a),
        $title-color: map-get($color-options, a),
    );
}