.g--card-14{
    @include make-card-14();
    @include make-card-14-modifier(
        $title-color: map-get($color-options, a),
        $title-font: c,
    );
    &--second{
        @include make-card-14-modifier(
            $subtitle-color: map-get($color-options, g),
            $title-color: map-get($color-options, g),
            $title-font: c,
            $hover-title-color: map-get($color-options, h),
            $hover-transform: translateY(-$measure),
            $subtitle-font: f,
            $subtitle-font-weight: 400,
            $subtitle-max-lines: 3,
           $text-align: left,
            $title-font-weight: 400,
            $title-max-lines: 3,
        );
    }
}