.g--card-20 {
    @include make-card-20();
    &--second{
        @include make-card-20-modifier(
            $hover-title-color: map-get($color-options, e),
            $hover-transform: scale(1.1),
            $meta-color: map-get($color-options, f),
            $meta-font: f,
            $meta-font-weight: false,
            $text-align: center,
            $title-color: map-get($color-options, f),
            $title-font: b,
            $title-font-weight: false,
            $title-max-lines: 2,
        );
    }
}