.g--card-16{
    @include make-card-16(
        $background-size: cover,
        $background-position: center,
        $link-class: g--link-01,
        $title-font: c,
        // $border-radius: default,
    );
    @include make-card-16-modifier(
        $mask-color: rgba(map-get($color-options, b), .5),
        $title-color: map-get($color-options, a),
        // $link-class-modifier: default
        // $text-align: default
    );
}