@mixin make-404-01() {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: $measure * 15 0;
    text-align: center;
    width: 100%;

    @media all and ($viewport-type: $tablets) {
        padding: $measure * 10 0;
    }

    &__media-wrapper {
        margin-bottom: $measure * 4;
        overflow: hidden;

        &__media {
            display: block;
            object-fit: cover;
            margin-left: auto;
            margin-right: auto;
        }
    }

    &__title {
        margin-bottom: $measure * 4;
    }

    &__subtitle {
        margin-bottom: $measure * 4;
    }

    &__btn {
        margin-left: auto;
        margin-right: auto;
    }
}

@mixin make-404-01-modifier(
    $background-color: false,
    $btn-class: false,
    $btn-font: false,
    $title-color: false,
    $title-font: false,
    $title-font-weight: false,
    $text-align: false,
    $min-height: false,
    $img-aspect-ratio: false,
    $img-height: false,
    $img-position: false,
    $img-size: false,
    $img-width: false,
) {
    @if $background-color {
        background: $background-color;
    }

    @if $min-height {
        min-height: $min-height;
    }

    @if $text-align == "center" {
        text-align: center;

        .g--404-01 {
            &__media-wrapper{
                &__media {
                    margin-left: auto;
                    margin-right: auto;
                }
            }
            &__btn{
                margin-left: auto;
                margin-right: auto;
            }
        }
        
    }

    @if $text-align == "left" {
        text-align: left;

        .g--404-01 {
            &__media-wrapper{
                &__media {
                    margin-left: 0;
                    margin-right: auto;
                }
            }
            &__btn{
                margin-left: 0;
                margin-right: auto;
            }
        }
    }

    @if $text-align == "right" {
        text-align: right;

        .g--404-01 {
            &__media-wrapper{
                &__media {
                    margin-left: auto;
                    margin-right: 0;
                }
            }
            &__btn{
                margin-left: auto;
                margin-right: 0;
            }
        }
    }

    .g--404-01 {
        &__media-wrapper {
            @if $img-aspect-ratio {
                aspect-ratio: $img-aspect-ratio;
            }
            @if $img-width {
                width: $img-width;
            }
            @if $img-height {
                height: $img-height;
            }

            &__media {
                @if $img-aspect-ratio {
                    aspect-ratio: $img-aspect-ratio;
                }
                @if $img-width {
                    width: $img-width;
                }
                @if $img-height {
                    height: $img-height;
                }
                @if $img-size{
                    object-fit: $img-size;
                }
                @if $img-position{
                    object-position: $img-position;
                }
            }
        }

        &__title {
            @if $title-color {
                color: $title-color;
            }

            @if $title-font {
                @extend .f--font-#{$title-font} !optional;
            }

            @if $title-font-weight {
                font-weight: $title-font-weight;
            }
        }

        &__btn{
            @if $btn-class {
                @extend .#{$btn-class} !optional;
            }

            @if $btn-font {
                @extend .f--font-#{$btn-font} !optional;
            }
        }
    }
}