.g--404-01 {
    @include make-404-01();
    @include make-404-01-modifier(
        // $background-color: map-get($color-options, e),
        $btn-class: g--btn-02,
        // $btn-font: a,
        $img-aspect-ratio: false,
        $img-height: 100px,
        $img-position: center,
        $img-size: cover,
        $img-width: auto,
        $title-color: map-get($color-options, a),
        $title-font: c,
        $title-font-weight: bold,
        // $text-align: false,
        $min-height: calc(100vh - 109px),
    );

    @media all and ($viewport-type: $tablets) {
        @include make-404-01-modifier(
            $min-height: calc(100vh - 99px),
        );
    }
}