.g--404-01 {
    @include make-404-01(
        $btn-class: g--btn-02,
        $min-height: calc(100vh - 109px),
        $title-font: c,
        // $min-height-desktop: default,
        // $min-height-tabletl: default,
        // $min-height-tabletm: default,
        // $min-height-tablets: default,
        // $min-height-mobile: default
    );
    @include make-404-01-modifier(
        $title-color: map-get($color-options, a),
        // $background-color: default,
        $btn-class-modifier: g--btn-02--second,
        // $text-align: default
    );
}