.g--404-01 {
    @include make-404-01();
    @include make-404-01-modifier(
        $background-color: map-get($color-options, b),
        $btn-class: g--btn-01,
        $btn-font: f,
        $img-aspect-ratio: false,
        $img-fit: cover,
        $img-height: 100px,
        $img-position: center,
        $img-width: auto,
        $min-height: calc(100vh - 109px),
        $text-align: false,
        $title-color: map-get($color-options, a),
        $title-font-weight: bold,
        $title-font: b
    );

    @include make-404-01-modifier($btn-class: g--btn-01--third);

    @media all and ($viewport-type: $tablets) {
        @include make-404-01-modifier($min-height: calc(100vh - 99px));
    }
}
