.g--card-03{
    @include make-card-03(
    );
    @include make-card-03-modifier(
        $title-color: map-get($color-options, a),
        $subtitle-color: map-get($color-options, a),
        // $text-align: default
        $title-font: c,
        $subtitle-font: f,
    );

    &--second {
        @include make-card-03-modifier(
            $title-color: map-get($color-options, e),
            $subtitle-color: map-get($color-options, g),
        );
    }
}