@mixin make-form-textarea-01(
    $border-radius,
    $border-width,
    $font,
    $textarea-height,
    $font-weight: false
) {
    &__item{
        @extend .f--font-#{$font} !optional;
        @if $font-weight {
            font-weight: $font-weight;
        }
        display: block;
        resize: vertical;
        height: $textarea-height;
        border: $border-width solid;
        padding: $measure*.5 $measure;
        width:100%;
        border-radius: $border-radius;
        transition: border-color $time-b $ease-standard-a;
        @media all and ($viewport-type: $mobile){
            font-size: 1rem;
        }
        &:-webkit-autofill, &:-webkit-autofill:hover, &:-webkit-autofill:focus {
            border: $border-width solid;
        }
    }
}

@mixin make-form-textarea-01-modifier(
    $background-color,
    $background-color-autofill,
    $border-color,
    $border-color-focus,
    $error-border-color,
    $placeholder-color,
    $text-color,
) {
    .g--form-textarea-01{
        &__item{
            border-color: $border-color;
            background-color: $background-color !important;
            color: $text-color !important;
            &:-webkit-autofill, &:-webkit-autofill:hover, &:-webkit-autofill:focus {
                border-color: $border-color;
                -webkit-text-fill-color: $text-color;
                -webkit-box-shadow: 0 0 0px 1000px $background-color-autofill inset;
            }
            &::placeholder{
                color: $placeholder-color;
            }
            &:focus,
            &:not(:placeholder-shown){
                border-color: $border-color-focus;
            }
        }
    }
    &.g--form-textarea-01--error{
        .g--form-textarea-01{
            &__item{
                border-color: $error-border-color;
                &:-webkit-autofill, &:-webkit-autofill:hover, &:-webkit-autofill:focus {
                    border-color: $error-border-color;
                }
                &:focus,
                &:not(:placeholder-shown){
                    border-color: $error-border-color;
                }
            }
        }
    }
}