@mixin make-card-9(
    $title-font,
) {
    padding: $measure*7 $measure*5;
    &__media{
        display: block;
        width: auto;
        height: 100px;
        object-fit: cover;
        @include make-bt-a();
    }
    &__title{
        @extend .f--font-#{$title-font} !optional;
    }
}

@mixin make-card-9-color(
    $background-color,
    $title-color,
) {
    background-color: $background-color;
    &__title{
        color: $title-color;
    }
}