.g--card-9{
    @include make-card-9(
        $title-font: c,
    );
    @include make-card-9-color(
        $background-color: rgba(map-get($color-options, a), .5),
        $title-color: map-get($color-options, a),
    );
}