@mixin make-card-18() {
    padding: $measure * 7 $measure * 5;
    width: 100%;
    display: flex;
    position: relative;
    overflow: hidden;
    text-decoration: none;
    &::after {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        z-index: 0;
    }
    &__bg-items {
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        z-index: 0;
        background-repeat: no-repeat;
    }
    &__ft-items {
        width: 100%;
        position: relative;
        z-index: 1;
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        &__title {
            margin-bottom: $measure * 2;
            @media all and ($viewport-type: $tablets) {
                margin-bottom: $measure;
            }
        }

        &__subtitle {
            margin-bottom: $measure * 2;
            @media all and ($viewport-type: $tablets) {
                margin-bottom: $measure;
            }
        }
        &__link {
            margin-top: auto;
        }
    }
}

@mixin make-card-18-modifier(
    $background-color: false,
    $background-position: false,
    $background-size: false,
    $border-color: false,
    $border-style: false,
    $border-width: false,
    $border-radius: false,
    $card-min-height: false,
    $hover-background-color: false,
    $hover-background-img-zoom: false,
    $hover-border-color: false,
    $hover-border-radius: false,
    $hover-mask-color: false,
    $hover-shadow: false,
    $hover-title-color: false,
    $hover-title-underline-color: false,
    $hover-transform: false,
    $link-class: false,
    $link-font: false,
    $mask-color: false,
    $shadow: false,
    $subtitle-color: false,
    $subtitle-font-weight: false,
    $subtitle-font: false,
    $subtitle-max-lines: false,
    $text-align: false,
    $title-color: false,
    $title-font-weight: false,
    $title-font: false,
    $title-max-lines: false
) {
    @if $background-color {
        background: $background-color;
    }

    @if $background-position {
        .g--card-18 {
            &__bg-items {
                background-position: $background-position;
            }
        }
    }

    @if $background-size {
        .g--card-18 {
            &__bg-items {
                background-size: $background-size;
            }
        }
    }

    @if $border-radius {
        border-radius: $border-radius;
    }

    @if $border-color {
        border-color: $border-color;
    }

    @if $border-style {
        border-style: $border-style;
    }

    @if $border-width {
        border-width: $border-width;
    }

    @if $card-min-height {
        min-height: $card-min-height;
    }

    @if $mask-color {
        &::after {
            background: $mask-color;
        }
    }

    @if $shadow {
        box-shadow: $shadow;
    }

    // Handling hover styles
    $hover-options: (
        "background-color": $hover-background-color,
        "border-color": $hover-border-color,
        "border-radius": $hover-border-radius,
        "box-shadow": $hover-shadow,
        "transform": $hover-transform,
    );

    $hover-transition-list: (); // Initialize an empty list for transitions

    @each $property, $value in $hover-options {
        @if $value {
            $transition: unquote("#{$property} #{$time-b} #{$ease-standard-a}");
            $hover-transition-list: append($hover-transition-list, $transition, $separator: comma);
            @media all and (hover: hover) {
                &:hover,
                &:focus,
                &:active {
                    #{$property}: $value;
                }
            }
            // Apply the transitions
            transition: $hover-transition-list;
        }
    }

    @if $hover-title-color and $hover-title-underline-color {
        @media all and (hover: hover) {
            &:hover,
            &:focus,
            &:active {
                @media all and (hover: hover) {
                    &:hover,
                    &:focus,
                    &:active {
                        .g--card-18 {
                            &__ft-items {
                                &__title {
                                    color: $hover-title-color;
                                    text-decoration-color: $hover-title-underline-color;
                                }
                            }
                        }
                    }
                }
            }
        }
    } @else if $hover-title-color {
        @media all and (hover: hover) {
            &:hover,
            &:focus,
            &:active {
                .g--card-18 {
                    &__ft-items {
                        &__title {
                            color: $hover-title-color;
                        }
                    }
                }
            }
        }
    } @else if $hover-title-underline-color {
        @media all and (hover: hover) {
            &:hover,
            &:focus,
            &:active {
                .g--card-18 {
                    &__ft-items {
                        &__title {
                            text-decoration-color: $hover-title-underline-color;
                        }
                    }
                }
            }
        }
    }

    @if $hover-background-img-zoom {
        .g--card-18 {
            &__bg-items {
                transition: transform $time-b $ease-standard-a;
            }
        }
        @media all and (hover: hover) {
            &:hover,
            &:focus,
            &:active {
                .g--card-18 {
                    &__bg-items {
                        transform: scale($hover-background-img-zoom);
                    }
                }
            }
        }
    }

    @if $hover-mask-color {
        &::after {
            transition: background $time-b $ease-standard-a;
        }
        @media all and (hover: hover) {
            &:hover,
            &:focus,
            &:active {
                &::after {
                    background: $hover-mask-color;
                }
            }
        }
    }

    @if $text-align == "center" {
        .g--card-18 {
            &__ft-items {
                text-align: center;
                align-items: center;
            }
        }
    }

    @if $text-align == "left" {
        .g--card-18 {
            &__ft-items {
                text-align: left;
                align-items: flex-start;
            }
        }
    }

    @if $text-align == "right" {
        .g--card-18 {
            &__ft-items {
                text-align: right;
                align-items: flex-end;
            }
        }
    }

    .g--card-18 {
        &__ft-items {
            &__title {
                @if $title-color {
                    color: $title-color;
                }
                @if $title-font {
                    @extend .f--font-#{$title-font} !optional;
                }
                @if $title-font-weight {
                    font-weight: $title-font-weight;
                }
                @if $title-max-lines {
                    overflow: hidden;
                    text-overflow: ellipsis;
                    display: -webkit-box;
                    -webkit-line-clamp: $title-max-lines;
                    -webkit-box-orient: vertical;
                }
                @if $hover-title-underline-color {
                    text-decoration: underline;
                    text-decoration-color: transparent;
                }
                @if $hover-title-color and $hover-title-underline-color {
                    transition: color $time-b $ease-standard-a,
                        text-decoration-color $time-b $ease-standard-a;
                } @else if $hover-title-color {
                    transition: color $time-b $ease-standard-a;
                } @else if $hover-title-underline-color {
                    transition: text-decoration-color $time-b $ease-standard-a;
                }
            }

            &__subtitle {
                @if $subtitle-color {
                    color: $subtitle-color;
                }
                @if $subtitle-font {
                    @extend .f--font-#{$subtitle-font} !optional;
                }
                @if $subtitle-font-weight {
                    font-weight: $subtitle-font-weight;
                }
                @if $subtitle-max-lines {
                    overflow: hidden;
                    text-overflow: ellipsis;
                    display: -webkit-box;
                    -webkit-line-clamp: $subtitle-max-lines;
                    -webkit-box-orient: vertical;
                }
            }
            &__link {
                @if $link-class {
                    @extend .#{$link-class} !optional;
                }
                @if $link-font {
                    @extend .f--font-#{$link-font} !optional;
                }
            }
        }
    }
}
