@mixin make-pill-01() {
    display: inline-block;
    padding: $measure $measure * 2;
    text-align: center;
}

@mixin make-pill-01-modifier(
    $background-color: false,
    $border-color: false,
    $border-radius: false,
    $border-style: false,
    $border-width: false,
    $hover-background-color: false,
    $hover-border-color: false,
    $hover-shadow: false,
    $hover-text-color: false,
    $hover-transform: false,
    $shadow: false,
    $text-color: false,
    $text-font: false,
    $text-font-weight: false,
) {
    @if $background-color {
        background: $background-color;
    }
    @if $border-radius {
        border-radius: $border-radius;
    }
    @if $shadow {
        box-shadow: $shadow;
    }

    @if $hover-background-color and $hover-border-color and $hover-shadow and $hover-transform and $hover-text-color {
        transition: background $time-b $ease-standard-a, border-color $time-b $ease-standard-a, box-shadow $time-b $ease-standard-a, transform $time-b $ease-standard-a, color $time-b $ease-standard-a;
        @media (hover: hover) {
            &:hover,
            &:focus,
            &:active {
                background: $hover-background-color;
                border-color: $hover-border-color;
                box-shadow: $hover-shadow;
                transform: $hover-transform;
                color: $hover-text-color;
            }
        }
    } @else if $hover-background-color and $hover-border-color and $hover-shadow and $hover-transform {
        transition: background $time-b $ease-standard-a, border-color $time-b $ease-standard-a, box-shadow $time-b $ease-standard-a, transform $time-b $ease-standard-a;
        @media (hover: hover) {
            &:hover,
            &:focus,
            &:active {
                background: $hover-background-color;
                border-color: $hover-border-color;
                box-shadow: $hover-shadow;
                transform: $hover-transform;
            }
        }
    } @else if $hover-background-color and $hover-border-color and $hover-shadow and $hover-text-color {
        transition: background $time-b $ease-standard-a, border-color $time-b $ease-standard-a, box-shadow $time-b $ease-standard-a, color $time-b $ease-standard-a;
        @media (hover: hover) {
            &:hover,
            &:focus,
            &:active {
                background: $hover-background-color;
                border-color: $hover-border-color;
                box-shadow: $hover-shadow;
                color: $hover-text-color;
            }
        }
    } @else if $hover-background-color and $hover-border-color and $hover-transform and $hover-text-color {
        transition: background $time-b $ease-standard-a, border-color $time-b $ease-standard-a, transform $time-b $ease-standard-a, color $time-b $ease-standard-a;
        @media (hover: hover) {
            &:hover,
            &:focus,
            &:active {
                background: $hover-background-color;
                border-color: $hover-border-color;
                transform: $hover-transform;
                color: $hover-text-color;
            }
        }
    } @else if $hover-background-color and $hover-shadow and $hover-transform and $hover-text-color {
        transition: background $time-b $ease-standard-a, box-shadow $time-b $ease-standard-a, transform $time-b $ease-standard-a, color $time-b $ease-standard-a;
        @media (hover: hover) {
            &:hover,
            &:focus,
            &:active {
                background: $hover-background-color;
                box-shadow: $hover-shadow;
                transform: $hover-transform;
                color: $hover-text-color;
            }
        }
    } @else if $hover-background-color and $hover-border-color and $hover-shadow {
        transition: background $time-b $ease-standard-a, border-color $time-b $ease-standard-a, box-shadow $time-b $ease-standard-a;
        @media (hover: hover) {
            &:hover,
            &:focus,
            &:active {
                background: $hover-background-color;
                border-color: $hover-border-color;
                box-shadow: $hover-shadow;
            }
        }
    } @else if $hover-background-color and $hover-border-color and $hover-transform {
        transition: background $time-b $ease-standard-a, border-color $time-b $ease-standard-a, transform $time-b $ease-standard-a;
        @media (hover: hover) {
            &:hover,
            &:focus,
            &:active {
                background: $hover-background-color;
                border-color: $hover-border-color;
                transform: $hover-transform;
            }
        }
    } @else if $hover-background-color and $hover-border-color and $hover-text-color {
        transition: background $time-b $ease-standard-a, border-color $time-b $ease-standard-a, color $time-b $ease-standard-a;
        @media (hover: hover) {
            &:hover,
            &:focus,
            &:active {
                background: $hover-background-color;
                border-color: $hover-border-color;
                color: $hover-text-color;
            }
        }
    } @else if $hover-background-color and $hover-shadow and $hover-transform {
        transition: background $time-b $ease-standard-a, box-shadow $time-b $ease-standard-a, transform $time-b $ease-standard-a;
        @media (hover: hover) {
            &:hover,
            &:focus,
            &:active {
                background: $hover-background-color;
                box-shadow: $hover-shadow;
                transform: $hover-transform;
            }
        }
    } @else if $hover-background-color and $hover-shadow and $hover-text-color {
        transition: background $time-b $ease-standard-a, box-shadow $time-b $ease-standard-a, color $time-b $ease-standard-a;
        @media (hover: hover) {
            &:hover,
            &:focus,
            &:active {
                background: $hover-background-color;
                box-shadow: $hover-shadow;
                color: $hover-text-color;
            }
        }
    } @else if $hover-background-color and $hover-transform and $hover-text-color {
        transition: background $time-b $ease-standard-a, transform $time-b $ease-standard-a, color $time-b $ease-standard-a;
        @media (hover: hover) {
            &:hover,
            &:focus,
            &:active {
                background: $hover-background-color;
                transform: $hover-transform;
                color: $hover-text-color;
            }
        }
    } @else if $hover-background-color and $hover-border-color {
        transition: background $time-b $ease-standard-a, border-color $time-b $ease-standard-a;
        @media (hover: hover) {
            &:hover,
            &:focus,
            &:active {
                background: $hover-background-color;
                border-color: $hover-border-color;
            }
        }
    } @else if $hover-background-color and $hover-shadow {
        transition: background $time-b $ease-standard-a, box-shadow $time-b $ease-standard-a;
        @media (hover: hover) {
            &:hover,
            &:focus,
            &:active {
                background: $hover-background-color;
                box-shadow: $hover-shadow;
            }
        }
    } @else if $hover-background-color and $hover-transform {
        transition: background $time-b $ease-standard-a, transform $time-b $ease-standard-a;
        @media (hover: hover) {
            &:hover,
            &:focus,
            &:active {
                background: $hover-background-color;
                transform: $hover-transform;
            }
        }
    } @else if $hover-background-color and $hover-text-color {
        transition: background $time-b $ease-standard-a, color $time-b $ease-standard-a;
        @media (hover: hover) {
            &:hover,
            &:focus,
            &:active {
                background: $hover-background-color;
                color: $hover-text-color;
            }
        }
    } @else if $hover-border-color and $hover-shadow and $hover-transform and $hover-text-color {
        transition: border-color $time-b $ease-standard-a, box-shadow $time-b $ease-standard-a, transform $time-b $ease-standard-a, color $time-b $ease-standard-a;
        @media (hover: hover) {
            &:hover,
            &:focus,
            &:active {
                border-color: $hover-border-color;
                box-shadow: $hover-shadow;
                transform: $hover-transform;
                color: $hover-text-color;
            }
        }
    } @else if $hover-border-color and $hover-shadow and $hover-transform {
        transition: border-color $time-b $ease-standard-a, box-shadow $time-b $ease-standard-a, transform $time-b $ease-standard-a;
        @media (hover: hover) {
            &:hover,
            &:focus,
            &:active {
                border-color: $hover-border-color;
                box-shadow: $hover-shadow;
                transform: $hover-transform;
            }
        }
    } @else if $hover-border-color and $hover-shadow and $hover-text-color {
        transition: border-color $time-b $ease-standard-a, box-shadow $time-b $ease-standard-a, color $time-b $ease-standard-a;
        @media (hover: hover) {
            &:hover,
            &:focus,
            &:active {
                border-color: $hover-border-color;
                box-shadow: $hover-shadow;
                color: $hover-text-color;
            }
        }
    } @else if $hover-border-color and $hover-transform and $hover-text-color {
        transition: border-color $time-b $ease-standard-a, transform $time-b $ease-standard-a, color $time-b $ease-standard-a;
        @media (hover: hover) {
            &:hover,
            &:focus,
            &:active {
                border-color: $hover-border-color;
                transform: $hover-transform;
                color: $hover-text-color;
            }
        }
    } @else if $hover-border-color and $hover-shadow {
        transition: border-color $time-b $ease-standard-a, box-shadow $time-b $ease-standard-a;
        @media (hover: hover) {
            &:hover,
            &:focus,
            &:active {
                border-color: $hover-border-color;
                box-shadow: $hover-shadow;
            }
        }
    } @else if $hover-border-color and $hover-transform {
        transition: border-color $time-b $ease-standard-a, transform $time-b $ease-standard-a;
        @media (hover: hover) {
            &:hover,
            &:focus,
            &:active {
                border-color: $hover-border-color;
                transform: $hover-transform;
            }
        }
    } @else if $hover-border-color and $hover-text-color {
        transition: border-color $time-b $ease-standard-a, color $time-b $ease-standard-a;
        @media (hover: hover) {
            &:hover,
            &:focus,
            &:active {
                border-color: $hover-border-color;
                color: $hover-text-color;
            }
        }
    } @else if $hover-shadow and $hover-transform and $hover-text-color {
        transition: box-shadow $time-b $ease-standard-a, transform $time-b $ease-standard-a, color $time-b $ease-standard-a;
        @media (hover: hover) {
            &:hover,
            &:focus,
            &:active {
                box-shadow: $hover-shadow;
                transform: $hover-transform;
                color: $hover-text-color;
            }
        }
    } @else if $hover-shadow and $hover-transform {
        transition: box-shadow $time-b $ease-standard-a, transform $time-b $ease-standard-a;
        @media (hover: hover) {
            &:hover,
            &:focus,
            &:active {
                box-shadow: $hover-shadow;
                transform: $hover-transform;
            }
        }
    } @else if $hover-shadow and $hover-text-color {
        transition: box-shadow $time-b $ease-standard-a, color $time-b $ease-standard-a;
        @media (hover: hover) {
            &:hover,
            &:focus,
            &:active {
                box-shadow: $hover-shadow;
                color: $hover-text-color;
            }
        }
    } @else if $hover-transform and $hover-text-color {
        transition: transform $time-b $ease-standard-a, color $time-b $ease-standard-a;
        @media (hover: hover) {
            &:hover,
            &:focus,
            &:active {
                transform: $hover-transform;
                color: $hover-text-color;
            }
        }
    } @else if $hover-background-color {
        transition: background $time-b $ease-standard-a;
        @media (hover: hover) {
            &:hover,
            &:focus,
            &:active {
                background: $hover-background-color;
            }
        }
    } @else if $hover-border-color {
        transition: border-color $time-b $ease-standard-a;
        @media (hover: hover) {
            &:hover,
            &:focus,
            &:active {
                border-color: $hover-border-color;
            }
        }
    } @else if $hover-shadow {
        transition: box-shadow $time-b $ease-standard-a;
        @media (hover: hover) {
            &:hover,
            &:focus,
            &:active {
                box-shadow: $hover-shadow;
            }
        }
    } @else if $hover-transform {
        transition: transform $time-b $ease-standard-a;
        @media (hover: hover) {
            &:hover,
            &:focus,
            &:active {
                transform: $hover-transform;
            }
        }
    } @else if $hover-text-color {
        transition: color $time-b $ease-standard-a;
        @media (hover: hover) {
            &:hover,
            &:focus,
            &:active {
                color: $hover-text-color;
            }
        }
    }

    @if $border-width {
        border-width: $border-width;
    }

    @if $border-style {
        border-style: $border-style;
    }

    @if $border-color {
        border-color: $border-color;
    }

    @if $text-color {
        color: $text-color;
    }

    @if $text-font {
        @extend .f--font-#{$text-font} !optional;
    }

    @if $text-font-weight {
        font-weight: $text-font-weight;
    }
}

