@mixin make-pill-01($font) {
    @extend .f--font-#{$font} !optional;
    padding: $measure $measure * 2;
    border-radius: 100px;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    transition: all $time-b $ease-standard-a;
}

@mixin make-pill-01-modifier($background-color, $background-color-hover: false, $text-color, $text-color-hover: false) {
    background: $background-color;
    color: $text-color;

    @if $background-color-hover {
        @media (hover : hover) {
            &:hover ,
            &:focus ,
            &:active {
                background: $background-color-hover;
            }
        }
    }
    
    @if $text-color-hover {
        @media (hover : hover) {
            &:hover ,
            &:focus ,
            &:active {
                color: $text-color-hover;
            }
        }
    }
}

