.g--pill-01 {
  @include make-pill-01();
  @include make-pill-01-modifier(
    $background-color: lighten(map-get($color-options, a), 75%),
    // $border-color: map-get($color-options, e),
    // $border-style: solid,
    // $border-width: 1px,
    $hover-background-color: map-get($color-options, a),
    // $hover-border-color: map-get($color-options, a),
    // $hover-shadow: 0 0 $measure*2 map-get($color-options, h),
    $hover-text-color: map-get($color-options, b),
    // $hover-transform: translateY(-$measure),
    $text-color: map-get($color-options, a),
    // $text-font-weight: 600,
    $text-font: f
  );

  &--second {
    @include make-pill-01-modifier(
      $background-color: map-get($color-options, g),
      $border-color: map-get($color-options, e),
      $border-radius: 100px,
      $border-style: dotted,
      $border-width: 3px,
      $hover-background-color: map-get($color-options, f),
      $hover-border-color: map-get($color-options, b),
      $hover-shadow: 0 0 $measure*2 map-get($color-options, h),
      $hover-text-color: map-get($color-options, b),
      $hover-transform: translateY(-$measure),
      $text-color: map-get($color-options, a),
      $text-font-weight: false,
      $text-font: f,
    );
  }
}
