.g--icon-01 {
    width: $measure * 6;
    height: $measure * 6;
    border: 1px solid;
    border-color: map-get($color-options, a );
    border-radius: 100%;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
    transition: all $time-a $ease-standard-a;

    @media (hover : hover) {
        &:hover {
            border-color: map-get($color-options, g );
        }

        &:hover & {
            &__artwork {
                path {
                    fill: map-get($color-options, g )
                }
            }
        }
    }

    &__artwork {
        path {
            fill: map-get($color-options, a )
        }
        transition: all $time-b $ease-standard-a;
    }

    // &--second {

    //     @media (hover : hover) {
    //         &:hover {
    //             background: map-get($color-options, a );
    //         }
    
    //         &:hover & {
    //             &__artwork {
    //                 path {
    //                     fill: map-get($color-options, b )
    //                 }
    //             }
    //         }
    //     }
    // }
}