.g--btn-3{
    @include make-btn-3(
        $font: b,
        $border-width: 1px,
        $border-color: map-get($color-options, a),
        $text-color: map-get($color-options, a),
        $border-color-hover: map-get($color-options, g),
        $text-color-hover: map-get($color-options, g),
    );
}