@mixin make-hero-02() {
    display: block;
    width: 100%;

    &__wrapper {
        padding-bottom: $measure * 10;
        padding-top: $measure * 14;

        @media all and ($viewport-type: $tablets) {
            padding-bottom: $measure * 5;
        }

        &__tagline {
            margin-bottom: $measure * 4;

            @media all and ($viewport-type: $tablets) {
                margin-bottom: $measure * 3;
            }
        }
        &__title {
        }
    }

    &__media-wrapper {
        overflow: hidden;

        &__media {
            display: block;
            position: relative;
            min-height: 100%;
            width: 100%;
        }
    }
}

@mixin make-hero-02-modifier(
    $background-color: false,
    $header-height: false,
    $img-height: false,
    $img-object-fit: false,
    $img-position: false,
    $tagline-color: false,
    $tagline-font-weight: false,
    $tagline-font: false,
    $text-align: false,
    $title-color: false,
    $title-font-weight: false,
    $title-font: false
) {
    @if $background-color {
        background: $background-color;
    }

    @if $text-align == "center" {
        text-align: center;
    }

    @if $text-align == "left" {
        text-align: left;
    }

    @if $text-align == "right" {
        text-align: right;
    }

    .g--hero-02 {
        &__wrapper {
            @if $header-height {
                padding-top: calc(#{$measure} * 14 + #{$header-height});

                @media all and ($viewport-type: $tablets) {
                    padding-top: calc(#{$measure} * 7 + #{$header-height});
                }
            }

            &__title {
                @if $title-color {
                    color: $title-color;
                }

                @if $title-font {
                    @extend .f--font-#{$title-font} !optional;
                }

                @if $title-font-weight {
                    font-weight: $title-font-weight;
                }
            }

            &__tagline {
                @if $tagline-color {
                    color: $tagline-color;
                }

                @if $tagline-font {
                    @extend .f--font-#{$tagline-font} !optional;
                }

                @if $tagline-font-weight {
                    font-weight: $tagline-font-weight;
                }
            }
        }

        &__media-wrapper {
            @if $img-height {
                height: $img-height;
            }

            &__media {
                @if $img-position {
                    object-position: $img-position;
                }

                @if $img-object-fit {
                    object-fit: $img-object-fit;
                }
            }
        }
    }
}
