.g--hero-02 {
    @include make-hero-02();
    @include make-hero-02-modifier(
        $background-color:  map-get($color-options, d),
        $header-height: 96px,
        $img-height: 500px,
        $img-position: center,
        $img-object-fit: cover,
        $tagline-color: map-get($color-options, f),
        $tagline-font: d,
        // $tagline-font-weight: false,
        $title-color: map-get($color-options, a),
        $title-font: a,
        $title-font-weight: bold,
        // $text-align: false
    );

    @media all and ( $viewport-type: $tabletm) {
        @include make-hero-01-modifier(
            $img-height: 400px,
        );
    }

    @media all and ( $viewport-type: $tablets) {
        @include make-hero-01-modifier(
            $header-height: 86px,
            $img-height: 300px,
        );
    }
}