.g--cta-09 {
    @include make-cta-09();
    @include make-cta-09-modifier(
        // $background-color: linear-gradient(226deg, #e0ff4f 0%, #36ba9f 100%),
        $background-position: left top,
        $background-size: cover,
        // $border-color: map-get($color-options, a),
        // $border-radius: 0,
        // $border-style: solid,
        // $border-width: 1px,
        $btn-child-class: g--btn-01--second,
        // $btn-child-font: g,
        $btn-child: 2,
        $btn-class: g--btn-01,
        $btn-font: g,
        // $cta-min-height: 300px,
        // $hover-background-color: map-get($color-options, h),
        // $hover-border-color: map-get($color-options, f),
        // $hover-border-radius: $measure * 4,
        // $hover-background-img-zoom: 1.5,
        // $hover-mask-color: rgba(map-get($color-options, a), 0.5),
        // $hover-shadow: 0 0 $measure * 4 map-get($color-options, a),
        // $hover-subtitle-color: map-get($color-options, f),
        // $hover-title-color: map-get($color-options, f),
        // $hover-title-underline-color: map-get($color-options, f),
        // $hover-transform: translateY(-$measure),
        $mask-color: rgba(map-get($color-options, a), 0.1),
        // $shadow: 0 0 $measure * 2 map-get($color-options, g),
        $subtitle-color: map-get($color-options, a),
        // $subtitle-font-weight: 400,
        $subtitle-font: d,
        // $subtitle-max-lines: 2,
        $text-align: center,
        $title-color: map-get($color-options, a),
        // $title-font-weight: bold,
        $title-font: b,
        // $title-max-lines: 3
    );
}
