.g--card-11{
    @include make-card-11();
    @include make-card-11-modifier(
        $link-class: g--link-02,
        $title-color: map-get($color-options, a),
        $title-font: c,
    );
    &--second{
        @include make-card-11-modifier(
            $title-color: map-get($color-options, g),
            $title-font: c,
            $hover-img-zoom: 1.2,
            $hover-title-color: map-get($color-options, h),
            $hover-transform: translateY(-$measure),
            $img-aspect-ratio:calc(1 / 1),
            $img-height: 100px,
            $img-fit: cover,
            $img-position: center,
            $img-width: auto,
            $link-font: f,
           $text-align: left,
            $title-font-weight: 400,
            $title-max-lines: 3,
        );
    }
}