.g--card-58{
    @include make-card-58(
        // $img-border-radius: default,
        $title-font: d,
        $subtitle-font: f,
    );
    @include make-card-58-modifier(
        // $text-align: default,
        $title-color: map-get($color-options, a),
        $subtitle-color: map-get($color-options, a),
    );
}