@mixin make-layout-01(
    $btn-class,
    $subtitle-font,
    $title-font,
    $title-font-weight: false,
    $subtitle-font-weight: false,
) {
    padding: $measure * 15 0;
    text-align: center;

    @media all and ($viewport-type: $tablets) {
        padding: $measure * 10 0;
    }

    &__title{
        @extend .f--font-#{$title-font} !optional;
        @if $title-font-weight {
            font-weight: $title-font-weight;
        }
        margin-bottom: $measure*4;

        @media all and ($viewport-type: $tablets) {
            margin-bottom: $measure * 3;
        }
    }
    &__subtitle{
        @extend .f--font-#{$subtitle-font} !optional;
        @if $subtitle-font-weight {
            font-weight: $subtitle-font-weight;
        }
        margin-bottom: $measure*4;

        @media all and ($viewport-type: $tablets) {
            margin-bottom: $measure * 3;
        }
    }

    &__btn{
        @extend .#{$btn-class} !optional;
        margin-left: auto;
        margin-right: auto;
    }
}

@mixin make-layout-01-modifier(
    $subtitle-color,
    $title-color,
    $background-color: false,
    $btn-class-modifier: false,
) {
    @if $background-color {
        background: $background-color;
    }

    .g--layout-01{
        &__title{
            color: $title-color;
        }
        &__subtitle{
            color: $subtitle-color;
        }
        
        @if $btn-class-modifier {
            &__btn{
                @extend .#{$btn-class-modifier} !optional;
            }
        }
    }
}
