.g--layout-01 {
    @include make-layout-01();
    @include make-layout-01-modifier(
        $title-font: c,
        $title-font-weight: 600,
        $title-color: map-get($color-options, a),
        $subtitle-font: d,
        $subtitle-font-weight: 400,
        $subtitle-color: map-get($color-options, a),
        $btn-font: f,
        $btn-class: g--btn-01,
        // $background-color: map-get($color-options, d),
        // $btn-class-modifier: false
    );
}
