@mixin make-spinner-01() {
    svg {
        animation: spinner 1.5s infinite;
    }
}

@mixin make-spinner-01-modifier(
    $spinner-color,
) {
    svg {
        path {
            fill: $spinner-color
        }
    }
}

@keyframes spinner {
	0% {
        transform: rotate(0deg);
    }

	100% { 
        transform: rotate(360deg);
    }
}