@mixin make-btn-01() {
    border-radius: 200px;
    display: inline-block;
    padding: $measure $measure * 3;
    text-align: center;
    text-decoration: none;

    @media all and ($viewport-type: $mobile) {
        display: block;
        width: 100%;
    }
}

@mixin make-btn-01-modifier(
    $border-color: false,
    $border-color-hover: false,
    $border-width: false,
    $border-style: false,
    $font: false,
    $font-weight: false,
    $text-color: false,
    $text-color-hover: false,
    $background-color: false,
    $background-color-hover: false
) {

    @if $border-color {
        border-color: $border-color;
    }
    @if $border-width {
        border-width: $border-width;
    }
    @if $border-style {
        border-style: $border-style;
    }
    @if $text-color {
        color: $text-color;
    }
    @if $font {
        @extend .f--font-#{$font} !optional;
    }
    @if $font-weight {
        font-weight: $font-weight;
    }

    @if $background-color {
        background: $background-color;
    }

    @if $background-color-hover and $border-color-hover and $text-color-hover {
        transition: border-color $time-b $ease-standard-a, color $time-b $ease-standard-a, background $time-b $ease-standard-a;
        @media (hover: hover) {
            &:hover,
            &:focus,
            &:active {
                background: $background-color-hover;
                border-color: $border-color-hover;
                color: $text-color-hover;
            }
        }
    } @else if $background-color-hover and $border-color-hover{
        transition: border-color $time-b $ease-standard-a, background $time-b $ease-standard-a;
        @media (hover: hover) {
            &:hover,
            &:focus,
            &:active {
                background: $background-color-hover;
                border-color: $border-color-hover;
            }
        }
    } @else if $background-color-hover and $text-color-hover {
        transition: color $time-b $ease-standard-a, background $time-b $ease-standard-a;
        @media (hover: hover) {
            &:hover,
            &:focus,
            &:active {
                background: $background-color-hover;
                color: $text-color-hover;
            }
        }
    } @else if $background-color-hover {
        transition: background $time-b $ease-standard-a;
        @media (hover: hover) {
            &:hover,
            &:focus,
            &:active {
                background: $background-color-hover;
            }
        }
    } @else if $border-color-hover and $text-color-hover {
        transition: border-color $time-b $ease-standard-a, color $time-b $ease-standard-a;
        @media (hover: hover) {
            &:hover,
            &:focus,
            &:active {
                border-color: $border-color-hover;
                color: $text-color-hover;
            }
        }
    } @else if $border-color-hover {
        transition: border-color $time-b $ease-standard-a;
        @media (hover: hover) {
            &:hover,
            &:focus,
            &:active {
                border-color: $border-color-hover;
            }
        }
    } @else if $text-color-hover {
        transition: color $time-b $ease-standard-a;
        @media (hover: hover) {
            &:hover,
            &:focus,
            &:active {
                color: $text-color-hover;
            }
        }
    }
}
