.g--card-35 {
    @include make-card-35();
    @include make-card-35-modifier(
        $background-color: map-get($color-options, e),
        $border-color: map-get($color-options, a),
        $border-style: dashed,
        $border-width: 2px,
        $border-radius: $measure,
        $full-image-height: false,
        $hover-background-color: map-get($color-options, g),
        $hover-img-zoom: 1.1,
        $hover-shadow: 0 0 16px 0 rgba(map-get($color-options, a), 0.5),
        $hover-title-color: map-get($color-options, e),
        $hover-transform: translateY(-5%),
        $img-aspect-ratio-width: 16,
        $img-aspect-ratio-height: 9,
        // $img-height: 100px,
        $img-position: center,
        $link-class: g--link-01,
        $link-font: f,
        $meta-color: map-get($color-options, a),
        $meta-font: f,
        $meta-font-weight: 600,
        $text-align: right,
        $title-color: map-get($color-options, a),
        $title-font: c,
        $title-font-weight: 600,
        $title-max-lines: 3
    );

    &--second {
        @include make-card-35-modifier(
            $background-color: rgba(map-get($color-options,a), 5%),
            $border-color: map-get($color-options, a),
            $border-style: solid,
            $border-width: 1px,
            $border-radius: 0,
            // $full-image-height: true,
            $hover-background-color: map-get($color-options, g),
            $hover-img-zoom: 1.5,
            $hover-shadow: 0 0 16px 0 rgba(map-get($color-options, a), 0.5),
            $hover-title-color: map-get($color-options, e),
            $hover-transform: scale(105%),
            // $img-aspect-ratio: 2,
            // $img-height: 400px,
            $img-position: center,
            $link-class: g--link-01,
            $link-font: f,
            $meta-color: map-get($color-options, a),
            $meta-font: f,
            $meta-font-weight: 600,
            $text-align: center,
            $title-color: map-get($color-options, a),
            $title-font: c,
            $title-font-weight: 600,
            $title-max-lines: 3
        );
    }
}
