.g--card-27{
    @include make-card-27(
        $title-font: c,
        $subtitle-font: f,
    );
    @include make-card-27-modifier(
        $title-color: map-get($color-options, a),
        $subtitle-color: map-get($color-options, a),
        // $text-align: default
    );
}