@mixin make-accordion-01() {
    display: block;
    padding: $measure 0;
    width: 100%;

    @media all and ($viewport-type: $tablets) {
        padding: 0 $measure;
    }

    &__hd {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        padding: $measure * 3 $measure*2;
        width: 100%;
        text-align: left;

        &__title {
            margin-bottom: 0 !important;
            margin-right: $measure * 2;
            text-decoration: none !important;
        }

        &__icon {
            display: flex;
            align-items: center;
            justify-content: center;
            svg{
                width: 50%;
                height: 60%;
                transition: transform $time-b $ease-standard-a;
            }
        }
    }

    &__bd {
        padding: 0 $measure*2;
        max-height: 0;
        overflow: hidden;
        transition: max-height $time-c cubic-bezier(0,1,0,1);

        &__content {
            padding: 0 $measure * 4 $measure * 3 0;
        }
    }

    &--is-active & {
        &__hd {
            &__icon {
                svg{
                    transform: rotate(180deg);
                }
            }
        }

        &__bd {
            max-height: 99em;
            transition: max-height $time-c cubic-bezier(1,0,1,0);
        }
    }
}

@mixin make-accordion-01-modifier(
    $active-background-color: false,
    $active-title-color: false,
    $active-icon-color: false,
    $border-color: false,
    $border-style: false,
    $border-width: false,
    $hover-title-color: false,
    $hover-icon-background: false,
    $hover-icon-border-color: false,
    $hover-icon-border-radius: false,
    $hover-icon-color: false,
    $icon-background: false,
    $icon-border-color: false,
    $icon-border-radius: false,
    $icon-border-style: false,
    $icon-border-width: false,
    $icon-color: false,
    $icon-top: false,
    $icon-width: false,
    $title-color: false,
    $title-font: false,
    $title-font-weight: false,
) {
    @if $border-width {
        border-bottom: $border-width;
    }

    @if $border-style {
        border-bottom-style: $border-style;
    }
    
    @if $border-color {
        border-bottom-color: $border-color;
    }

    @if $active-background-color {
        transition: background $time-b $ease-standard-a;
    }

    .g--accordion-01 {
        &__hd {

            &__title {
                @if $title-color {
                    color: $title-color;
                }
    
                @if $title-font {
                    @extend .f--font-#{$title-font} !optional;
                }
    
                @if $title-font-weight {
                    font-weight: $title-font-weight;
                }

                @if $hover-title-color or $active-title-color{
                    transition: color $time-b $ease-standard-a;
                }
                @if $icon-width {
                    max-width: calc(100% - #{$icon-width*2} - #{$measure*2});
                }
            }

            &__icon {
                @if $icon-background {
                    background: $icon-background;
                }
                @if $icon-border-color {
                    border-color: $icon-border-color;
                }
                @if $icon-border-radius {
                    border-radius: $icon-border-radius;
                }
                @if $icon-border-style {
                    border-style: $icon-border-style;
                }
                @if $icon-border-width {
                    border-width: $icon-border-width;
                }
                @if $icon-width {
                    width: $icon-width*2;
                    height: $icon-width*2;
                }
                @if $hover-icon-background and $hover-icon-border-color and $hover-icon-border-radius {
                    transition: background $time-b $ease-standard-a, border-color $time-b $ease-standard-a, border-radius $time-b $ease-standard-a;
                } @else if $hover-icon-background and $hover-icon-border-color{
                    transition: background $time-b $ease-standard-a, border-color $time-b $ease-standard-a;
                } @else if $hover-icon-background and $hover-icon-border-radius{
                    transition: background $time-b $ease-standard-a, border-radius $time-b $ease-standard-a;
                } @else if $hover-icon-border-color and $hover-icon-border-radius {
                    transition: border-color $time-b $ease-standard-a, border-radius $time-b $ease-standard-a;
                } @else if $hover-icon-background {
                    transition: background $time-b $ease-standard-a;
                } @else if $hover-icon-border-color {
                    transition: border-color $time-b $ease-standard-a;
                } @else if $hover-icon-border-radius {
                    transition: border-radius $time-b $ease-standard-a;
                }
                svg{
                    @if $icon-top {
                        margin-top: $icon-top;
                    }
                    * {
                        @if $icon-color {
                            fill: $icon-color;
                        }
                        @if $hover-icon-color or $active-icon-color{
                            transition: fill $time-b $ease-standard-a, transform $time-b $ease-standard-a;
                        }
                    }
                }
            }
            @if $hover-title-color{
                @media all and (hover : hover) {
                    &:hover,
                    &:focus-visible,
                    &:active {
                        .g--accordion-01{
                            &__hd{
                                &__title{
                                    color: $hover-title-color;
                                }
                            }
                        }
                    }
                }
            }
            @if $hover-icon-color{
                @media all and (hover : hover) {
                    &:hover,
                    &:focus-visible,
                    &:active {
                        .g--accordion-01{
                            &__hd{
                                &__icon{
                                    path{
                                        fill: $hover-icon-color;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            @if $hover-icon-background{
                @media all and (hover : hover) {
                    &:hover,
                    &:focus-visible,
                    &:active {
                        .g--accordion-01{
                            &__hd{
                                &__icon{
                                    background: $hover-icon-background;
                                }
                            }
                        }
                    }
                }
            }
            @if $hover-icon-border-color{
                @media all and (hover : hover) {
                    &:hover,
                    &:focus-visible,
                    &:active {
                        .g--accordion-01{
                            &__hd{
                                &__icon{
                                    border-color: $hover-icon-border-color;
                                }
                            }
                        }
                    }
                }
            }
            @if $hover-icon-border-radius{
                @media all and (hover : hover) {
                    &:hover,
                    &:focus-visible,
                    &:active {
                        .g--accordion-01{
                            &__hd{
                                &__icon{
                                    border-radius: $hover-icon-border-radius;
                                }
                            }
                        }
                    }
                }
            }
        }
        
    }
    &.g--accordion-01--is-active {
        @if $active-background-color{
            background: $active-background-color;
        }
        .g--accordion-01{
            &__hd {
                @if $active-title-color{
                    &__title{
                        color: $active-title-color;
                    }
                }
                @if $active-icon-color{
                    &__icon{
                        path{
                            fill: $active-icon-color;
                        }
                    }
                }
            }
        }
    }
}