@mixin make-accordion-01(
    $border-width,
    $title-font,
    $title-font-weight: false,
) {
    border-bottom: $border-width solid;
    padding: $measure $measure*2;

    @media all and ($viewport-type: $tablets) {
        padding: 0 $measure;
    }

    &__hd {
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
        position: relative;
        padding: $measure * 3 0;
        width: 100%;
        text-align: left;

        &__title {
            @extend .f--font-#{$title-font} !optional;
            @if $title-font-weight {
                font-weight: $title-font-weight;
            }
            margin-bottom: 0 !important;
            margin-right: $measure * 2;
            text-decoration: none !important;
        }

        &__icon {
            height: $measure * 3;
            min-height: $measure * 3 importat !important;
            width: $measure * 2;
            min-width: $measure * 2 !important;
            transition: transform $time-b $ease-standard-a;
        }
    }

    &__bd {
        max-height: 0;
        overflow: hidden;
        transition: max-height $time-c cubic-bezier(0,1,0,1);

        &__content {
            padding: 0 $measure * 4 $measure * 3 0;
        }
    }

    &--is-active & {
        &__hd {
            &__icon {
                transform: rotate(180deg);
                transition: transform $time-b $ease-standard-a;
            }
        }

        &__bd {
            max-height: 99em;
            transition: max-height $time-c cubic-bezier(1,0,1,0);
        }
    }
}

@mixin make-accordion-01-modifier(
    $border-color,
    $icon-color,
    $title-color,
) {
    border-color: $border-color;

    .g--accordion-01 {
        &__hd {

            &__title {
                color: $title-color;
            }

            &__icon {
                path {
                    fill: $icon-color;
                }
            }
        }
    }
}