.g--accordion-01 {
    @include make-accordion-01(
        $border-width: 1px,
        $title-font: d
    );

    @include make-accordion-01-modifier(
        $border-color: map-get($color-options, a),
        $icon-color: map-get($color-options, a),
        $title-color: map-get($color-options, a),
        // $background-color-hd: default,
    );
}