.g--card-08{
    @include make-card-08(
        $background-size: cover,
        $background-position: center,
        $link-class: g--link-01,
        // $border-radius: default,
    );
    @include make-card-08-modifier(
        $mask-color: rgba(map-get($color-options, b), .5),
        $subtitle-color: map-get($color-options, a),
        $title-color: map-get($color-options, a),
        $subtitle-font: f,
        $title-font: c,
        // $link-class-modifier: default
        // $text-align: default
    );
}