.g--card-08{
    @include make-card-08();
    @include make-card-08-modifier(
        $background-position: center,
        $background-size: cover,
        $link-class: g--link-01,
        $link-font: d,
        $mask-color: rgba(map-get($color-options, b), .5),
        $title-color: map-get($color-options, a),
        $title-font: b,
    );
    &--second{
        @include make-card-08-modifier(
            $background-position: bottom right,
            $background-size: cover,
            $link-font: e,
            $mask-color: rgba(map-get($color-options, g), .5),
            $subtitle-color: map-get($color-options, b),
            $title-color: map-get($color-options, d),
            $title-font: c,
            $border-radius: $measure*2,
            $hover-background-img-zoom: 2,
            $hover-img-zoom: 1.2,
            $hover-shadow: 0 0 $measure*4 map-get($color-options, a),
            $hover-title-color: map-get($color-options, h),
            $hover-transform: translateY(-$measure),
            $img-aspect-ratio: calc(1 / 1),
            $img-height: 50px,
            $img-size: cover,
            $img-position: center,
            $img-width: auto,
            $subtitle-font: d,
            $subtitle-font-weight: 400,
            $subtitle-max-lines: 3,
            $text-align: center,
            $title-font-weight: 700,
            $title-max-lines: 2,
        );
    }
}