.g--card-08 {
    @include make-card-08();
    @include make-card-08-modifier($title-color: map-get($color-options, a), $title-font: c);
    &--second {
        @include make-card-08-modifier(
            $hover-img-border-radius: $measure,
            $hover-img-zoom: 1.2,
            $hover-title-color: map-get($color-options, h),
            $hover-title-underline-color: map-get($color-options, a),
            $hover-transform: translateY(-$measure),
            $img-aspect-ratio: calc(1 / 1),
            $img-fit: cover,
            $img-height: 100px,
            $img-position: center,
            $img-width: auto,
            $text-align: left,
            $title-color: map-get($color-options, g),
            $title-font-weight: 400,
            $title-font: c,
            $title-max-lines: 3
        );
    }
}
