@mixin make-btn-02() {
    text-decoration: none;
    width: fit-content;
    display: flex;
    align-items: center;

    svg {
        height: auto;
        margin-left: $measure;
    }
}

@mixin make-btn-02-modifier(
    $artwork-color-fill: false,
    $artwork-color-stroke: false,
    $btn-font-weight: false,
    $btn-font: false,
    $hover-artwork-color: false,
    $hover-text-color: false,
    $hover-icon-transform: false,
    $icon-top: false,
    $icon-width: false,
    $text-color: false,
) {
    @if $text-color {
        color: $text-color;
    }
    @if $hover-text-color {
        transition: color $ease-standard-a $time-b;
    }
    @if $btn-font {
        @extend .f--font-#{$btn-font} !optional;
    }
    @if $btn-font-weight {
        font-weight: $btn-font-weight;
    }
    svg {
        @if $icon-width {
            width: $icon-width;
        }

        @if $icon-top {
            position: relative;
            top: $icon-top;
        }
        @if $hover-icon-transform {
            transition: transform $ease-standard-a $time-b;
        }
        * {
            @if $artwork-color-fill {
                fill: $artwork-color-fill;
            }
            @if $artwork-color-stroke {
                stroke: $artwork-color-stroke;
            }
            @if $hover-artwork-color and $artwork-color-fill {
                transition: fill $ease-standard-a $time-b;
            }
            @if $hover-artwork-color and $artwork-color-stroke {
                transition: stroke $ease-standard-a $time-b;
            }
        }
    }
    @media (hover: hover) {
        &:hover,
        &:active {
            @if $hover-text-color {
                color: $hover-text-color;
            }
        }
    }
    @media (hover: hover) {
        &:hover,
        &:active {
            svg {
                @if $hover-icon-transform {
                    transform: $hover-icon-transform;
                }
                path {
                    @if $hover-artwork-color and $artwork-color-fill {
                        fill: $hover-artwork-color;
                    }
                    @if $hover-artwork-color and $artwork-color-stroke {
                        stroke: $hover-artwork-color;
                    }
                }
            }
        }
    }
}
