@mixin make-btn-02(
    $border-width,
    $font,
) {
    @extend .f--font-#{$font} !optional;
    border: $border-width solid;
    border-radius: 0;
    display: inline-block;
    padding: $measure $measure*3;
    text-align: center;
    text-decoration: none;
    transition: border-color $time-b $ease-standard-a, color $time-b $ease-standard-a;
    @media all and ($viewport-type: $mobile) {
        display: block;
        width: 100%;
    }
}

@mixin make-btn-02-modifier(
    $border-color,
    $border-color-hover,
    $text-color,
    $text-color-hover,
    $background-color: false,
    $background-color-hover: false,
) {
    border-color: $border-color;
    color: $text-color;
    @media (hover: hover) {
        &:hover ,
        &:focus ,
        &:active {
            border-color: $border-color-hover;
            color: $text-color-hover;
        }
    }
    @if $background-color {
        background: $background-color;
    }

    @if $background-color-hover {
        transition: border-color $time-b $ease-standard-a, color $time-b $ease-standard-a, background $time-b $ease-standard-a;

        @media (hover: hover) {
            &:hover ,
            &:focus ,
            &:active {
                background: $background-color-hover;
            }
        }
    } @else {
        transition: border-color $time-b $ease-standard-a, color $time-b $ease-standard-a;
    }
}