.g--btn-02{
    @include make-btn-02(
        $font: c,
        $border-width: 1px,
    );
    @include make-btn-02-color(
        $border-color: map-get($color-options, a),
        $text-color: map-get($color-options, a),
        $border-color-hover: map-get($color-options, g),
        $text-color-hover: map-get($color-options, g),
    );

    &--second {
        @include make-btn-02-color(
            $border-color: map-get($color-options, a),
            $text-color: map-get($color-options, a),
            $border-color-hover: map-get($color-options, a),
            $text-color-hover: map-get($color-options, b),
            $background-color: transparent,
            $background-color-hover: map-get($color-options, a)
        );
    }
}