.g--card-17{
    @include make-card-17();
    @include make-card-17-modifier(
        $link-class: g--link-02,
        $title-color: map-get($color-options, a),
        $title-font: c,
    );
    &--second{
        @include make-card-17-modifier(
            $subtitle-color: map-get($color-options, g),
            $title-color: map-get($color-options, g),
            $title-font: b,
            $hover-title-color: map-get($color-options, h),
            $hover-transform: translateY(-$measure),
            $link-font: e,
            $subtitle-font: d,
            $subtitle-font-weight: 400,
            $subtitle-max-lines: 3,
            $text-align: center,
            $title-font-weight: 700,
            $title-max-lines: 2,
        );
    }
}