@mixin make-card-29() {
    overflow: hidden;
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    text-decoration: none;
    &__media-wrapper {
        overflow: hidden;
        position: relative;
        z-index: 1;
        &__media {
            display: block;
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }

    &__wrapper {
        padding: $measure * 6 $measure * 5;
        position: relative;
        z-index: 1;
        &::before {
            content: "";
            position: absolute;
            top: 100%;
            left: 0;
            width: 100%;
            height: 300%;
            z-index: 0;
        }
        &__meta {
            margin-bottom: $measure * 3;
            margin-right: $measure;
        }
    }
}

@mixin make-card-29-modifier(
    $background-color: false,
    $border-color: false,
    $border-radius: false,
    $border-style: false,
    $border-width: false,
    $full-image-height: false,
    $hover-background-color: false,
    $hover-border-color: false,
    $hover-border-radius: false,
    $hover-img-zoom: false,
    $hover-shadow: false,
    $hover-title-color: false,
    $hover-title-underline-color: false,
    $hover-title-underline-height: false,
    $hover-transform: false,
    $img-aspect-ratio: false,
    $img-height: false,
    $img-position: false,
    $meta-color: false,
    $meta-font: false,
    $meta-font-weight: false,
    $text-align: false,
    $title-color: false,
    $title-font: false,
    $title-font-weight: false,
    $title-max-lines: false
) {
    @if $border-radius {
        border-radius: $border-radius;
    }
    @if $border-color {
        border-color: $border-color;
    }
    @if $border-style {
        border-style: $border-style;
    }
    @if $border-width {
        border-width: $border-width;
    }

    @if $hover-border-color and $hover-border-radius and $hover-shadow and $hover-transform {
        transition: border-color $time-b $ease-standard-a, border-radius $time-b $ease-standard-a, box-shadow $time-b $ease-standard-a, transform $time-b $ease-standard-a;
        @media all and (hover: hover) {
            &:hover,
            &:focus,
            &:active {
                border-color: $hover-border-color;
                border-radius: $hover-border-radius;
                box-shadow: $hover-shadow;
                transform: $hover-transform;
            }
        }
    } @else if $hover-border-color and $hover-border-radius and $hover-shadow {
        transition: border-color $time-b $ease-standard-a, border-radius $time-b $ease-standard-a, box-shadow $time-b $ease-standard-a;
        @media all and (hover: hover) {
            &:hover,
            &:focus,
            &:active {
                border-color: $hover-border-color;
                border-radius: $hover-border-radius;
                box-shadow: $hover-shadow;
            }
        }
    } @else if $hover-border-color and $hover-border-radius and $hover-transform {
        transition: border-color $time-b $ease-standard-a, border-radius $time-b $ease-standard-a, transform $time-b $ease-standard-a;
        @media all and (hover: hover) {
            &:hover,
            &:focus,
            &:active {
                border-color: $hover-border-color;
                border-radius: $hover-border-radius;
                transform: $hover-transform;
            }
        }
    } @else if $hover-border-color and $hover-shadow and $hover-transform {
        transition: border-color $time-b $ease-standard-a, box-shadow $time-b $ease-standard-a, transform $time-b $ease-standard-a;
        @media all and (hover: hover) {
            &:hover,
            &:focus,
            &:active {
                border-color: $hover-border-color;
                box-shadow: $hover-shadow;
                transform: $hover-transform;
            }
        }
    } @else if $hover-border-color and $hover-border-radius {
        transition: border-color $time-b $ease-standard-a, border-radius $time-b $ease-standard-a;
        @media all and (hover: hover) {
            &:hover,
            &:focus,
            &:active {
                border-color: $hover-border-color;
                border-radius: $hover-border-radius;
            }
        }
    } @else if $hover-border-color and $hover-shadow {
        transition: border-color $time-b $ease-standard-a, box-shadow $time-b $ease-standard-a;
        @media all and (hover: hover) {
            &:hover,
            &:focus,
            &:active {
                border-color: $hover-border-color;
                box-shadow: $hover-shadow;
            }
        }
    } @else if $hover-border-color and $hover-transform {
        transition: border-color $time-b $ease-standard-a, transform $time-b $ease-standard-a;
        @media all and (hover: hover) {
            &:hover,
            &:focus,
            &:active {
                border-color: $hover-border-color;
                transform: $hover-transform;
            }
        }
    } @else if $hover-border-color {
        transition: border-color $time-b $ease-standard-a;
        @media all and (hover: hover) {
            &:hover,
            &:focus,
            &:active {
                border-color: $hover-border-color;
            }
        }
    } @else if $hover-border-radius and $hover-shadow and $hover-transform {
        transition: border-radius $time-b $ease-standard-a, box-shadow $time-b $ease-standard-a, transform $time-b $ease-standard-a;
        @media all and (hover: hover) {
            &:hover,
            &:focus,
            &:active {
                border-radius: $hover-border-radius;
                box-shadow: $hover-shadow;
                transform: $hover-transform;
            }
        }
    } @else if $hover-border-radius and $hover-shadow {
        transition: border-radius $time-b $ease-standard-a, box-shadow $time-b $ease-standard-a;
        @media all and (hover: hover) {
            &:hover,
            &:focus,
            &:active {
                border-radius: $hover-border-radius;
                box-shadow: $hover-shadow;
            }
        }
    } @else if $hover-border-radius and $hover-transform {
        transition: border-radius $time-b $ease-standard-a, transform $time-b $ease-standard-a;
        @media all and (hover: hover) {
            &:hover,
            &:focus,
            &:active {
                border-radius: $hover-border-radius;
                transform: $hover-transform;
            }
        }
    } @else if $hover-border-radius {
        transition: border-radius $time-b $ease-standard-a;
        @media all and (hover: hover) {
            &:hover,
            &:focus,
            &:active {
                border-radius: $hover-border-radius;
            }
        }
    } @else if $hover-shadow and $hover-transform {
        transition: box-shadow $time-b $ease-standard-a, transform $time-b $ease-standard-a;
        @media all and (hover: hover) {
            &:hover,
            &:focus,
            &:active {
                box-shadow: $hover-shadow;
                transform: $hover-transform;
            }
        }
    } @else if $hover-shadow {
        transition: box-shadow $time-b $ease-standard-a;
        @media all and (hover: hover) {
            &:hover,
            &:focus,
            &:active {
                box-shadow: $hover-shadow;
            }
        }
    } @else if $hover-transform {
        transition: transform $time-b $ease-standard-a;
        @media all and (hover: hover) {
            &:hover,
            &:focus,
            &:active {
                transform: $hover-transform;
            }
        }
    }
    
    @if $hover-background-color {
        .g--card-29 {
            &__wrapper {
                transition: background $time-b $ease-standard-a;
                &::before {
                    transition: background $time-b $ease-standard-a;
                }
                @media all and (hover: hover) {
                    &:hover,
                    &:focus,
                    &:active {
                        &::before {
                            background: $hover-background-color;
                        }
                    }
                }
            }
        }

        @media all and (hover: hover) {
            &:hover,
            &:focus,
            &:active {
                .g--card-29 {
                    &__wrapper {
                        background: $hover-background-color;
                    }
                }
            }
        }
    }
    @if $hover-title-color {
        .g--card-29 {
            &__wrapper {
                &__title {
                    transition: color $time-b $ease-standard-a;
                }
            }
        }

        @media all and (hover: hover) {
            &:hover,
            &:focus,
            &:active {
                .g--card-29 {
                    &__wrapper {
                        &__title {
                            color: $hover-title-color;
                        }
                    }
                }
            }
        }
    }

    @if $hover-img-zoom {
        .g--card-29 {
            &__media-wrapper {
                &__media {
                    transition: transform $time-b $ease-standard-a;
                }
            }
        }
        @media all and (hover: hover) {
            &:hover,
            &:focus,
            &:active {
                .g--card-29 {
                    &__media-wrapper {
                        &__media {
                            transform: scale($hover-img-zoom);
                        }
                    }
                }
            }
        }
    }

    @if $text-align == "center" {
        .g--card-29 {
            &__wrapper {
                text-align: center;
            }
        }
    }

    @if $text-align == "left" {
        .g--card-29 {
            &__wrapper {
                text-align: left;
            }
        }
    }

    @if $text-align == "right" {
        .g--card-29 {
            &__wrapper {
                text-align: right;
            }
        }
    }

    .g--card-29 {
        &__media-wrapper {
            @if $full-image-height {
                height: 100%;
            }
            &__media {
                @if $img-aspect-ratio {
                    aspect-ratio: $img-aspect-ratio;
                    height: auto;
                } @else {
                    height: 100%;
                }
                @if $img-height {
                    height: $img-height;
                } @else {
                    height: 100%;
                }
                @if $img-position {
                    object-position: $img-position;
                }
            }
        }
        &__wrapper {
            @if $full-image-height {
                height: auto;
            }
            @if $background-color {
                background: $background-color;
            }
            @if $background-color {
                &::before {
                    background: $background-color;
                }
            }
            &__meta {
                @if $meta-color {
                    color: $meta-color;
                }
                @if $meta-font-weight {
                    font-weight: $meta-font-weight;
                }
                @if $meta-font {
                    @extend .f--font-#{$meta-font} !optional;
                }
            }
            &__title {
                @if $title-color {
                    color: $title-color;
                }
                @if $title-font {
                    @extend .f--font-#{$title-font} !optional;
                }
                @if $title-font-weight {
                    font-weight: $title-font-weight;
                }
                @if $title-max-lines {
                    overflow: hidden;
                    text-overflow: ellipsis;
                    display: -webkit-box;
                    -webkit-line-clamp: $title-max-lines;
                    -webkit-box-orient: vertical;
                }
            }
        }
    }
}
