.g--btn-4{
    @include make-btn-4(
        $font: b,
        $border-width: 1px,
    );
    @include make-btn-4-color(
        $border-color: map-get($color-options, a),
        $text-color: map-get($color-options, a),
        $background-color: transparent,
        $border-color-hover: map-get($color-options, a),
        $text-color-hover: map-get($color-options, b),
        $background-color-hover: map-get($color-options, a)
    );
}