@mixin make-social-01() {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;

    &__item{
        &:not(:last-child){
            margin-right: $measure * 2;
        }

        &__link {}
    }
}

@mixin make-social-01-modifier(
    $icon-class: false,
) {
    .g--social-01 {
        &__item {
            &__link {
                @if $icon-class {
                    @extend .#{$icon-class} !optional;
                }
            }
        }
    }
}