.g--card-69 {
    @include make-card-69(
        $border-width: 2px,
        $link-class: g--link-01,
        $meta-font: g,
        $author-font: g,
        $title-font: c,
        $pill-class: g--pill-01,
        // $border-radius: default
    );
    @include make-card-69-modifier(
        $border-color: map-get($color-options, a),
        $background-color: map-get($color-options, g),
        $meta-color: map-get($color-options, a),
        $author-color: map-get($color-options, a),
        $title-color: map-get($color-options, a),
        $title-color-hover: map-get($color-options, b),
        $background-color-hover: map-get($color-options, f),
        // $pill-class-modifier: default,
        // $text-align: default 
    );
}