.g--card-62 {
    @include make-card-62(
        $meta-font: g,
        $title-font: f,
        // $border-radius: default
    );
    @include make-card-62-modifier(
        $background-color: map-get($color-options, e),
        $meta-color: map-get($color-options, a),
        $title-color: map-get($color-options, a),
        // $full-image-height: default,
        // $background-color-hover: default,
        // $text-align: default,
        // $title-color-hover: default
    );
}