.g--hero-03 {
    @include make-hero-03();
    @include make-hero-03-modifier(
        $header-height: 96px,
        $img-position: center,
        $img-object-fit: cover,
        $link-class: g--link-01,
        // $link-font: false,    
        $title-color: map-get($color-options, a),
        $title-font: c,
        // $title-font-weight: false,
        $subtitle-color: map-get($color-options, a),
        $subtitle-font: f,
        $subtitle-font-weight: bold,
        $text-align: left,
        $breakpoint: $tablets
    );
}