.g--card-04{
    @include make-card-04();
    @include make-card-04-modifier(
        $background-color: rgba(map-get($color-options, h), .2),
        $link-class: g--btn-01,
        $title-color: map-get($color-options, a),
        $title-font: b,
    );
    &--second{
        @include make-card-04-modifier(
            $background-color: rgba(map-get($color-options, g), .7),
            $subtitle-color: map-get($color-options, b),
            $title-color: map-get($color-options, d),
            $title-font: c,
            // $border-radius: false,
            $hover-background-color: map-get($color-options, g),
            $hover-img-zoom: 1.2,
            $hover-shadow: 0 0 $measure*2 map-get($color-options, h),
            $hover-title-color: map-get($color-options, h),
            $hover-transform: translateY(-$measure),
            $img-aspect-ratio: calc(1 / 1),
            $img-height: 50px,
            $img-fit: cover,
            $img-position: center,
            $img-width: auto,
            $link-class: g--btn-01--second,
            // $link-font: false,
            $subtitle-font: d,
            $subtitle-font-weight: 400,
            $subtitle-max-lines: 3,
            $text-align: center,
            $title-font-weight: 700,
            $title-max-lines: 2,
        );
    }
    &--third{
        @include make-card-04-modifier(
            $background-color: rgba(map-get($color-options, e), .2),
            $border-color: map-get($color-options, e),
            $border-style: dotted,
            $border-width: 4px 8px,
            $border-radius: $measure*3 $measure*6,
            $link-class: g--btn-01,
            $title-color: map-get($color-options, a),
            $title-font: b,
            $title-max-lines: 2,
        );
    }
    &--fourth{
        @include make-card-04-modifier(
            $background-color: rgba(map-get($color-options, g), .7),
            $border-color: map-get($color-options, a),
            $border-style: solid,
            $border-width: 0 0 8px,
            $subtitle-color: map-get($color-options, b),
            $title-color: map-get($color-options, d),
            $title-font: c,
            // $border-radius: false,
            $hover-background-color: map-get($color-options, g),
            $hover-img-zoom: 1.2,
            $hover-shadow: 0 0 $measure*2 map-get($color-options, h),
            $hover-title-color: map-get($color-options, h),
            $hover-transform: translateY(-$measure),
            $img-aspect-ratio: calc(1 / 1),
            $img-height: 50px,
            $img-fit: cover,
            $img-position: center,
            $img-width: auto,
            $link-class: g--btn-01--second,
            // $link-font: false,
            $subtitle-font: d,
            $subtitle-font-weight: 400,
            $subtitle-max-lines: 3,
            $text-align: center,
            $title-font-weight: 700,
            $title-max-lines: 2,
        );
    }
}