@mixin make-card-30(
    $link-class,
    $border-width,
    $border-radius: false,
) {
    display: flex;
    flex-direction: column;
    padding: $measure * 7 $measure * 5;
    border: $border-width solid;
    width: 100%;
    @if $border-radius {
        border-radius: $border-radius;
    }

    &__title{
        margin-bottom: $measure * 2;
        
        @media all and ($viewport-type: $tablets) {
            margin-bottom: $measure;
        }
    }

    &__subtitle{
        margin-bottom: $measure * 2;
        
        @media all and ($viewport-type: $tablets) {
            margin-bottom: $measure;
        }
    }

    &__link{
        @extend .#{$link-class} !optional;
        margin-top: auto;
    }
}

@mixin make-card-30-modifier(
    $border-color,
    $background-color,
    $subtitle-color,
    $title-color,
    $link-class-modifier: false,
    $text-align: false,
    $subtitle-font: false,
    $title-font: false,
    $title-font-weight: false,
    $subtitle-font-weight: false,
) {
    border-color: $border-color;
    background: $background-color;

    @if $text-align == "center" {
        text-align: center;
    }

    @if $text-align == "left" {
        text-align: left;
    }

    @if $text-align == "right" {
        text-align: right;
    }

    .g--card-30 {
        @if $link-class-modifier {
            &__link{
                @extend .#{$link-class-modifier} !optional;
            }
        }

        &__title{
            color: $title-color;
            @if $title-font {
                @extend .f--font-#{$title-font} !optional;
            }
            @if $title-font-weight {
                font-weight: $title-font-weight;
            }
        }
        &__subtitle{
            color: $subtitle-color;
            @if $subtitle-font {
                @extend .f--font-#{$subtitle-font} !optional;
            }
            @if $subtitle-font-weight {
                font-weight: $subtitle-font-weight;
            }
        }
    }
}