.g--card-30 {
    @include make-card-30();
    @include make-card-30-modifier(
        $img-aspect-ratio: calc(16 / 9),
    );
    &--second{
        @include make-card-30-modifier(
            $hover-img-zoom: 1.5,
            $hover-title-color: map-get($color-options, h),
            $img-border-radius: $measure*2 $measure*4,
            $meta-color: map-get($color-options, h),
            $title-color: map-get($color-options, f),
            $title-max-lines: 5,
        );
    }
}