@mixin make-icon-01(
    $border-width,
    $height,
    $width,
) {
    border: $border-width solid;
    border-radius: 100%;
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: $measure * 1.5;
    position: relative;
    height: $height;
    width: $width;
    svg {
        // width: calc(100% - #{$measure} * 3);
        // height: calc(100% - #{$measure} * 3);
    }
}

@mixin make-icon-01-modifier(
    $background-color,
    $border-color,
    $path-fill-color,
    $border-color-hover,
    $path-fill-color-hover,
    $background-color-hover: false,
) {
    background-color: $background-color;
    border-color: $border-color;
    transition: $border-color $time-b $ease-standard-a;
    svg {
        path {
            fill: $path-fill-color;
            transition: fill $time-b $ease-standard-a;
        }
    }

    @if $background-color-hover {
        transition: border-color $time-b $ease-standard-a, background-color $time-b $ease-standard-a;

        @media (hover: hover) {
            &:hover ,
            &:focus ,
            &:active {
                background-color: $background-color-hover;
            }
        }
    } @else {
        transition: border-color $time-b $ease-standard-a;
    }

    @media (hover : hover) {
        &:hover,
        &:focus,
        &:active {
            border-color: $border-color-hover;

            svg {
                path {
                    fill: $path-fill-color-hover;
                }
            }
        }
    }
}