@mixin make-icon-01(
    $border-width,
    $height,
    $width,
) {
    border: $border-width solid;
    border-radius: 100%;
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: $height;
    width: $width;
}

@mixin make-icon-01-modifier(
    $background-color,
    $border-color,
    $path-fill-color,
    $border-color-hover,
    $path-fill-color-hover,
    $background-color-hover: false,
) {
    background-color: $background-color;
    border-color: $border-color;

    @media (hover : hover) {
        &:hover,
        &:focus,
        &:active {
            border-color: $border-color-hover;

            .g--icon-01 {
                &__artwork {
                    path {
                        fill: $path-fill-color-hover;
                    }
                }
            }
        }
    }

    @if $background-color-hover {
        transition: border-color $time-a $ease-standard-a, fill $time-b $ease-standard-a, background-color $time-a $ease-standard-a;

        @media (hover: hover) {
            &:hover ,
            &:focus ,
            &:active {
                background-color: $background-color-hover;
            }
        }
    } @else {
        transition: border-color $time-a $ease-standard-a, fill $time-a $ease-standard-a;
    }

    .g--icon-01 {
        &__artwork {
            path {
                fill: $path-fill-color;
            }
        }
    }

}