.g--icon-01 {
    @include make-icon-01();
    @include make-icon-01-modifier(
        $artwork-height: $measure * 2,
        $artwork-width: $measure*3,
        $background-color: transparent,
        $border-color: map-get($color-options, a),
        $border-radius: 100%,
        $border-style: solid,
        $border-width: 1px,
        $height: $measure * 6,
        $hover-background-color: map-get($color-options, a),
        $hover-border-color: map-get($color-options, g),
        $hover-path-fill-color: map-get($color-options, g),
        $hover-shadow: 0 0 $measure * 2 map-get($color-options, h),
        $hover-transform: translateY(-$measure),
        $path-fill-color: map-get($color-options, a),
        $width: $measure * 6,
    );

    &--second {
        @include make-icon-01-modifier(
            $border-radius: 0,
            $hover-background-color: map-get($color-options, a),
            $border-style: dotted,
            $border-color: map-get($color-options, g),
            $hover-border-color: map-get($color-options, f),
            $path-fill-color: map-get($color-options, a),
            $hover-path-fill-color: map-get($color-options, b),
            $hover-shadow: 0 0 $measure * 2 map-get($color-options, a),
            $hover-transform: none,
            $shadow: 0 0 $measure*2 map-get($color-options, g),
        );
    }

    &--third {
        @include make-icon-01-modifier(
            $border-radius: 0,
            $background-color: map-get($color-options, a),
            $hover-background-color: map-get($color-options, g),
            $border-width: 1px,
            $border-style: solid,
            $border-color: map-get($color-options, f),
            $hover-border-color: map-get($color-options, e),
            $path-fill-color: map-get($color-options, b),
            $hover-path-fill-color: map-get($color-options, b),
            $hover-shadow: 0 0 $measure * 2 map-get($color-options, h),
            $hover-transform: translateY($measure)
        );
    }

    &--fourth {
        @include make-icon-01-modifier(
            $background-color: map-get($color-options, a),
            $hover-background-color: transparent,
            $border-color: map-get($color-options, a),
            $hover-border-color: map-get($color-options, a),
            $path-fill-color: map-get($color-options, b),
            $hover-path-fill-color: map-get($color-options, a),
            $hover-shadow: 0 0 $measure * 2 map-get($color-options, h),
            $hover-transform: translateY($measure)
        );
    }
}
