.g--icon-01 {
    @include make-icon-01();

    @include make-icon-01-modifier(
        $background-color: transparent,
        // $hover-background-color: false,
        $border-width: 1px,
        $border-style: solid,
        $border-color: map-get($color-options, a ),
        $hover-border-color: map-get($color-options, g ),
        $path-fill-color: map-get($color-options, a ),
        $hover-path-fill-color: map-get($color-options, g ),
        $hover-shadow: 0 0 $measure*2 map-get($color-options, h),
        $hover-transform: translateY(-$measure),
        $height: $measure * 6,
        $width: $measure * 6,
        $artwork-height: $measure*2,
        // $artwork-width: $measure*3,
    );

    &--second {
        @include make-icon-01-modifier(
            $border-radius: 100%,
            $hover-background-color: map-get($color-options, a ),
            $border-style: dotted,
            $border-color: map-get($color-options, g ),
            $hover-border-color: map-get($color-options, f ),
            $path-fill-color: map-get($color-options, a ),
            $hover-path-fill-color: map-get($color-options, b ),
            $hover-shadow: 0 0 $measure*2 map-get($color-options, a),
            $hover-transform: none
        );
    }

    &--third {
        @include make-icon-01-modifier(
            $border-radius: $measure*2,
            $background-color: map-get($color-options, a ),
            $hover-background-color: map-get($color-options, g ),
            $border-width: 1px,
            $border-style: solid,
            $border-color: map-get($color-options, f ),
            $hover-border-color: map-get($color-options, e ),
            $path-fill-color: map-get($color-options, b ),
            $hover-path-fill-color: map-get($color-options, b ),
            $hover-shadow: 0 0 $measure*2 map-get($color-options, h),
            $hover-transform: translateY($measure),
        );
    }

    &--fourth {
        @include make-icon-01-modifier(
            $background-color: map-get($color-options, a ),
            $hover-background-color: transparent,
            $border-color: map-get($color-options, a ),
            $hover-border-color: map-get($color-options, a ),
            $path-fill-color: map-get($color-options, b ),
            $hover-path-fill-color: map-get($color-options, a ),
            $hover-shadow: 0 0 $measure*2 map-get($color-options, h),
            $hover-transform: translateY($measure),
        );
    }
}