.g--banner-02 {
    @include make-banner-02();
    @include make-banner-02-modifier(
        $background-color: map-get($color-options, a),
        $title-font:f,
        $title-font-weight: 400,
        $title-color: map-get($color-options, b),
        $btn-font: f,
        $btn-class: g--link-02,
        $breakpoint: $tablets
    );
}
