@mixin make-sp-a {
    margin-bottom: $measure * 2;
    @media all and ($viewport-type: $tablets) {
        margin-bottom: $measure;
    }
}

@mixin make-sp-b {
    margin-bottom: $measure * 3;
    @media all and ($viewport-type: $tablets) {
        margin-bottom: $measure * 2;
    }
}

@mixin make-sp-c {
    margin-bottom: $measure * 4;
    @media all and ($viewport-type: $tablets) {
        margin-bottom: $measure * 3;
    }
}

@mixin make-sp-d {
    margin-bottom: $measure * 6;
    @media all and ($viewport-type: $tablets) {
        margin-bottom: $measure * 4;
    }
}

@mixin make-sp-e {
    margin-bottom: $measure * 7;
    @media all and ($viewport-type: $tablets) {
        margin-bottom: $measure * 5;
    }
}