.g--layout-06{
    @include make-layout-06(
        $meta-font: f,
        $subtitle-font: f,
        $title-font: b,
        // $img-border-radius: $measure*4,
        $change-order-reponsive: true
    );
    @include make-layout-06-modifier(
        $background-color: map-get($color-options, d),
        $meta-color: map-get($color-options, f),
        $subtitle-color: map-get($color-options, a),
        $title-color: map-get($color-options, c),
    );
}