@mixin make-card-3(
    $title-font,
    $subtitle-font,
) {
    padding: $measure*7 $measure*5;
    &__media{
        width: auto;
        height: 100px;
        object-fit: cover;
        @include make-bt-a();
    }
    &__title{
        @extend .f--font-#{$title-font} !optional;
        @include make-bt-a();
    }
    &__subtitle{
        @extend .f--font-#{$subtitle-font} !optional;
    }
}

@mixin make-card-3-color(
    $title-color,
    $subtitle-color,
) {
    &__title{
        color: $title-color;
    }
    &__subtitle{
        color: $subtitle-color;
    }
}