.g--card-45 {
    @include make-card-45();
    @include make-card-45-modifier(
        $content-font: d,
        $heading-font: c,
        $border-radius: $measure,
        $content-font-weight: 400,
        $heading-font-weight: 600,
        $change-order-reponsive: true,
        $content-color: map-get($color-options, a),
        $heading-color: map-get($color-options, g),
        $background-color: map-get($color-options, e),
        $img-background-color: map-get($color-options, g),
        $text-align: left,
        $breakpoint: $tablets
    );
}
