.g--card-45 {
    @include make-card-45();
    @include make-card-45-modifier(
        $content-font: d,
        $content-max-lines: 3,
        $heading-font: c,
        $border-radius: $measure,
        $border-color: map-get($color-options, g),
        $border-style: solid,
        $border-width: 2px,
        $hover-background-color: map-get($color-options, b),
        $hover-img-zoom: 1.2,
        $hover-shadow: 0 0 $measure*2 map-get($color-options, g),
        $hover-title-color: map-get($color-options, h),
        $hover-transform: translateY(-$measure),
        $img-aspect-ratio: 2,
        // $img-height: 300px,
        $img-position: center,
        // $img-fit: contain,
        // $img-width: auto,
        $content-font-weight: 400,
        $heading-font-weight: 600,
        $change-order-reponsive: true,
        $content-color: map-get($color-options, a),
        $heading-color: map-get($color-options, g),
        $background-color: lighten(map-get($color-options,a), 82%),
        $img-background-color: map-get($color-options, g),
        $text-align: left,
        $breakpoint: $tablets
    );
}
