.g--card-39 {
    @include make-card-39();
    @include make-card-39-modifier(
        $author-font: g,
        $author-font-weight: 600,
        $author-color: map-get($color-options, a),
        $background-color: map-get($color-options, e),
        $background-color-hover: map-get($color-options, g),
        $border-color: map-get($color-options, a),
        $border-style: dashed,
        $border-width: 2px,
        $border-radius: 4px,
        $full-image-height: true,
        $img-position: bottom,
        $link-class: g--link-01,
        $link-font: f,    
        $meta-font: g,
        $meta-font-weight: 400,
        $meta-color: map-get($color-options, a),
        $text-align: left,
        $title-font: f,
        $title-font-weight: 600,
        $title-color: map-get($color-options, a),
        $title-color-hover: map-get($color-options, e),
        $translate-hover: translateY(-5%),
        $pill-class: g--pill-01,
        $shadow-hover: 0 0 16px 0 rgba(map-get($color-options, a), .5),
        $zoom-hover: 1.1
    );
}