@mixin make-form-file-01() {
  &__item {
    cursor: pointer;
    position: relative;
    -webkit-padding-before: 0 !important;
    -webkit-padding-after: 0 !important;
    -webkit-padding-start: 0 !important;
    display: block;
    padding: $measure * 0.5 $measure;
    width: 100%;
    transition: border-color $time-b $ease-standard-a;
    &::-webkit-file-upload-button {
      cursor: pointer;
      height: 100%;
      padding: $measure * 0.5 $measure * 3;
      appearance: none;
      -webkit-appearance: none;
      border: none;
      margin-right: $measure;
      transition: all $time-a ease-in-out;
    }
  }
}

@mixin make-form-file-01-modifier(
  $background-color: false,
  $border-color: false,
  $border-color-focus: false,
  $border-radius: false,
  $border-style: false,
  $border-width: false,
  $btn-background: false,
  $btn-background-position: false,
  $btn-background-repeat: false,
  $btn-background-size: false,
  $btn-border-color: false,
  $btn-border-style: false,
  $btn-border-width: false,
  $btn-font: false,
  $btn-font-weight: false,
  $btn-text-color: false,
  $btn-transition: false,
  $error-border-color: false,
  $font: false,
  $font-size-mobile: false,
  $font-weight: false,
  $hover-btn-background-color: false,
  $hover-btn-background-position: false,
  $hover-btn-background-size: false,
  $hover-btn-border-color: false,
  $hover-btn-text-color: false,
  $text-color: false,
) {
  .g--form-file-01 {
    &__item {
      @if $border-color {
        border-color: $border-color;
      }
      @if $background-color {
        background-color: $background-color !important;
      }
      @if $text-color {
        color: $text-color !important;
      }
      @if $font {
        @extend .f--font-#{$font} !optional;
      }
      @if $font-weight {
        font-weight: $font-weight;
      }
      @if $border-width {
        border-width: $border-width;
      }
      @if $border-style {
        border-style: $border-style;
      }
      @if $border-radius {
        border-radius: $border-radius;
      }
      @if $font-size-mobile {
        @media all and ($viewport-type: $mobile) {
          font-size: $font-size-mobile;
        }
      }
      &::-webkit-file-upload-button {
        @if $btn-background {
            background: $btn-background;
        }
        @if $btn-background-size {
            background-size: $btn-background-size;
        }
        @if $btn-background-position {
            background-position: $btn-background-position;
        }
        @if $btn-background-repeat {
            background-repeat: $btn-background-repeat;
        }
        @if $btn-border-color {
            border-color: $btn-border-color;
        }
        @if $btn-border-style {
            border-style: $btn-border-style;
        }
        @if $btn-border-width {
            border-width: $btn-border-width;
        }
        @if $btn-text-color {
            color: $btn-text-color;
        }
        @if $btn-font {
            @extend .f--font-#{$btn-font} !optional;
        }
        @if $btn-font-weight {
          font-weight: $btn-font-weight;
        }
        @if $btn-transition {
          transition: $btn-transition;
        }
      }
      &:hover,
      &:focus,
      &:valid {
        @if $border-color-focus {
            border-color: $border-color-focus;
        }
      }
      &:hover,
      &:focus {
        &::-webkit-file-upload-button {
          @if $hover-btn-background-color {
              background-color: $hover-btn-background-color;
          }
          @if $hover-btn-text-color {
              color: $hover-btn-text-color;
          }
          @if $hover-btn-border-color {
              border-color: $hover-btn-border-color;
          }
          @if $hover-btn-background-size {
              background-size: $hover-btn-background-size;
          }
          @if $hover-btn-background-position {
              background-position: $hover-btn-background-position;
          }
        }
      }
    }
  }
  &.g--form-file-01--error {
    .g--form-file-01 {
      &__item {
        @if $error-border-color {
            border-color: $error-border-color;
            &:focus,
            &:valid {
              border-color: $error-border-color;
            }
        }
      }
    }
  }
}
