@mixin make-form-input-01() {
    &__item{
        display: block;
        padding: $measure*.5 $measure;
        width:100%;
        transition: border-color $time-b $ease-standard-a;
    }
}

@mixin make-form-input-01-modifier(
    $background-color: false,
    $background-color-autofill: false,
    $border-color: false,
    $border-color-focus: false,
    $error-border-color: false,
    $placeholder-color: false,
    $text-color: false,
    $border-radius: false,
    $border-style: false,
    $border-width: false,
    $font: false,
    $font-weight: false,
    $mobile-font-size: false,
) {
    .g--form-input-01{
        &__item{
            @if $font-weight {
                font-weight: $font-weight;
            }
            @if $font {
                @extend .f--font-#{$font} !optional;
            }
            @if $border-color {
                border-color: $border-color;
            }
            @if $border-width {
                border-width: $border-width;
            }
            @if $border-style {
                border-style: $border-style;
            }
            @if $border-radius {
                border-radius: $border-radius;
            }
            @if $background-color {
                background-color: $background-color !important;
            }
            @if $text-color {
                color: $text-color !important;
            }
            @if $mobile-font-size {
                @media all and ($viewport-type: $mobile){
                    font-size: $mobile-font-size;
                }
            }
            &:-webkit-autofill, &:-webkit-autofill:hover, &:-webkit-autofill:focus {
                @if $border-color {
                    border-color: $border-color;
                }
                @if $border-width {
                    border-width: $border-width;
                }
                @if $border-style {
                    border-style: $border-style;
                }
                @if $text-color {
                    -webkit-text-fill-color: $text-color;
                }
                @if $background-color-autofill {
                    -webkit-box-shadow: 0 0 0px 1000px $background-color-autofill inset;
                }
            }
            @if $placeholder-color {
                &::placeholder{
                    color: $placeholder-color;
                }
            }
            @if $border-color-focus {
                &:focus,
                &:not(:placeholder-shown){
                    border-color: $border-color-focus;
                }
            }
        }
    }
    &.g--form-input-01--error{
        .g--form-input-01{
            &__item{
                @if $error-border-color {
                    border-color: $error-border-color;
                    &:-webkit-autofill, &:-webkit-autofill:hover, &:-webkit-autofill:focus {
                        border-color: $error-border-color;
                    }
                    &:focus,
                    &:not(:placeholder-shown){
                        border-color: $error-border-color;
                    }
                }
            }
        }
    }
}