.g--card-56 {
    @include make-card-56();
    @include make-card-56-modifier(
        // $background-color: map-get($color-options, e),
        // $border-color: map-get($color-options, f),
        // $border-radius: $measure * 2,
        // $border-style: solid,
        // $border-width: 2px,
        $breakpoint: $tablets,
        $card-min-height: 100%,
        $company-color: map-get($color-options, a),
        // $company-font-weight: bold,
        $company-font: g,
        // $hover-background-color: map-get($color-options, g),
        // $hover-company-color: map-get($color-options, e),
        // $hover-company-underline-color: map-get($color-options, e),
        // $hover-img-zoom: 1.2,
        // $hover-mask-color: transparent,
        // $hover-person-color: map-get($color-options, e),
        // $hover-person-underline-color: map-get($color-options, e),
        // $hover-quote-color: map-get($color-options, e),
        // $hover-quote-underline-color: map-get($color-options, e),
        // $hover-shadow: 0 0 $measure * 2 map-get($color-options, g),
        // $hover-transform: translateY(-$measure),
        $img-aspect-ratio: calc(1 / 1),
        $img-border-radius: 50%,
        $img-fit: cover,
        $img-height: 156px,
        $img-position: center,
        $img-width: 156px,
        $mask-color: rgba(map-get($color-options, a), 0.2),
        $person-color: map-get($color-options, a),
        $person-font-weight: bold,
        $person-font: f,
        $quote-color: map-get($color-options, a),
        // $quote-font-weight: bold,
        $quote-font: d,
        // $shadow: 0 0 $measure * 2 map-get($color-options, g),
        // $text-align: center,
    );
}
