.g--card-49 {
    @include make-card-49();
    @include make-card-49-modifier(
        $title-font: e,
        $subtitle-font: f,
        // $img-border-radius: false,
        // $img-object-fit: false,
        // $img-position: false,
        // $img-width: false,
        // $img-height: false,
        // $img-aspect-ratio: false,
        // $title-font-weight: false,
        // $subtitle-font-weight: false,
        $title-color: map-get($color-options, a),
        $subtitle-color: map-get($color-options, a),
        $img-background-color: map-get($color-options, a),
        $hover-img-background-color: map-get($color-options, g),
        $icon-class:  g--icon-01,
        $text-align: center,
        $img-align: center,
        $hover-title-color: map-get($color-options, g),
        $hover-img-zoom: 1.1,
        $hover-translate: translateY(-5%)
    );
}
