@mixin make-card-21() {
    overflow: hidden;
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    padding: $measure * 6 $measure * 5;
    text-decoration: none;

    &__hd {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        &__meta {
            margin-bottom: $measure * 3;
            margin-right: $measure;
        }
        &__author {
            margin-bottom: $measure * 3;
        }
    }

    &__title {
        margin-bottom: $measure * 3;
    }
    &__list-group {
        display: flex;
        flex-wrap: wrap;
        column-gap: $measure * 2;
        row-gap: $measure;
        margin-top: auto;
    }
}

@mixin make-card-21-modifier(
    $author-color: false,
    $author-font-weight: false,
    $author-font: false,
    $background-color: false,
    $border-color: false,
    $border-radius: false,
    $border-style: false,
    $border-width: false,
    $card-min-height: false,
    $hover-background-color: false,
    $hover-border-color: false,
    $hover-border-radius: false,
    $hover-shadow: false,
    $hover-title-color: false,
    $hover-title-underline-color: false,
    $hover-transform: false,
    $meta-color: false,
    $meta-font-weight: false,
    $meta-font: false,
    $pill-class: false,
    $shadow: false,
    $title-color: false,
    $title-font-weight: false,
    $title-font: false,
    $title-max-lines: false
) {
    @if $background-color {
        background-color: $background-color;
    }

    @if $border-radius {
        border-radius: $border-radius;
    }

    @if $border-color {
        border-color: $border-color;
    }

    @if $border-style {
        border-style: $border-style;
    }

    @if $border-width {
        border-width: $border-width;
    }

    @if $card-min-height {
        min-height: $card-min-height;
    }

    @if $shadow {
        box-shadow: $shadow;
    }

    // Handling hover styles
    $hover-options: (
        "background-color": $hover-background-color,
        "border-color": $hover-border-color,
        "border-radius": $hover-border-radius,
        "box-shadow": $hover-shadow,
        "transform": $hover-transform,
    );

    $hover-transition-list: (); // Initialize an empty list for transitions

    @each $property, $value in $hover-options {
        @if $value {
            $transition: unquote("#{$property} #{$time-b} #{$ease-standard-a}");
            $hover-transition-list: append($hover-transition-list, $transition, $separator: comma);
            @media all and (hover: hover) {
                &:hover,
                &:focus,
                &:active {
                    #{$property}: $value;
                }
            }
            // Apply the transitions
            transition: $hover-transition-list;
        }
    }

    @if $hover-title-color and $hover-title-underline-color {
        @media all and (hover: hover) {
            &:hover,
            &:focus,
            &:active {
                @media all and (hover: hover) {
                    &:hover,
                    &:focus,
                    &:active {
                        .g--card-21 {
                            &__title {
                                color: $hover-title-color;
                                text-decoration-color: $hover-title-underline-color;
                            }
                        }
                    }
                }
            }
        }
    } @else if $hover-title-color {
        @media all and (hover: hover) {
            &:hover,
            &:focus,
            &:active {
                .g--card-21 {
                    &__title {
                        color: $hover-title-color;
                    }
                }
            }
        }
    } @else if $hover-title-underline-color {
        @media all and (hover: hover) {
            &:hover,
            &:focus,
            &:active {
                .g--card-21 {
                    &__title {
                        text-decoration-color: $hover-title-underline-color;
                    }
                }
            }
        }
    }

    .g--card-21 {
        &__hd {
            &__meta {
                @if $meta-font {
                    @extend .f--font-#{$meta-font} !optional;
                }
                @if $meta-font-weight {
                    font-weight: $meta-font-weight;
                }
                @if $meta-color {
                    color: $meta-color;
                }
            }
            &__author {
                @if $author-font {
                    @extend .f--font-#{$author-font} !optional;
                }
                @if $author-font-weight {
                    font-weight: $author-font-weight;
                }
                @if $author-color {
                    color: $author-color;
                }
            }
        }
        &__title {
            @if $title-color {
                color: $title-color;
            }
            @if $title-font {
                @extend .f--font-#{$title-font} !optional;
            }
            @if $title-font-weight {
                font-weight: $title-font-weight;
            }
            @if $title-max-lines {
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: $title-max-lines;
                -webkit-box-orient: vertical;
            }
            @if $hover-title-underline-color {
                text-decoration: underline;
                text-decoration-color: transparent;
            }
            @if $hover-title-color and $hover-title-underline-color {
                transition: color $time-b $ease-standard-a,
                    text-decoration-color $time-b $ease-standard-a;
            } @else if $hover-title-color {
                transition: color $time-b $ease-standard-a;
            } @else if $hover-title-underline-color {
                transition: text-decoration-color $time-b $ease-standard-a;
            }
        }

        &__list-group {
            &__list-item {
                @if $pill-class {
                    @extend .#{$pill-class} !optional;
                }
            }
        }
    }
}
