.g--card-31{
    @include make-card-31(
        $link-class: g--link-01,
    );
    @include make-card-31-modifier(
        $title-color: map-get($color-options, a),
        $subtitle-color: map-get($color-options, a),
        $title-font: c,
        $subtitle-font: f,
        // $text-align: default
        // $link-class-modifier: default
    );
}