@mixin make-form-error-01(
    $font,
    $font-weight: false,
) {
    @extend .f--font-#{$font} !optional;
    @if $font-weight {
        font-weight: $font-weight;
    }
    margin-top: $measure*.5;
    display: block;
}

@mixin make-form-error-01-modifier(
    $text-color
) {
    color: $text-color;
}