@mixin make-form-error-01(
) {
    margin-top: $measure*.5;
    display: block;
}

@mixin make-form-error-01-modifier(
    $font: false,
    $font-weight: false,
    $position-absolute: false,
    $text-color: false,
) {
    @if $font {
        @extend .f--font-#{$font} !optional;
    }
    @if $font-weight {
        font-weight: $font-weight;
    }
    @if $text-color {
        color: $text-color;
    }
    @if $position-absolute {
        position: absolute;
        top: 100%;
        left: 0;
    } @else{
        position: relative;
        top: auto;
        left: auto;
    }
}