@mixin make-accordion-02() {
    display: block;
    padding: $measure $measure*2;
    width: 100%;

    @media all and ($viewport-type: $tablets) {
        padding: 0 $measure;
    }

    &__hd {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        padding: $measure * 3 0;
        width: 100%;
        text-align: left;

        &__title {
            margin-bottom: 0 !important;
            margin-right: $measure * 2;
            text-decoration: none !important;
        }

        &__icon {
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;

            &::before {
                content: '';
                display: block;
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                opacity: 1;
                width: 50%;
                transition: opacity $time-b $ease-standard-a;
            }
            &::after {
                content: '';
                display: block;
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                opacity: 1;
                height: 50%;
                transition: opacity $time-b $ease-standard-a;
            }
        }
    }

    &__bd {
        max-height: 0;
        overflow: hidden;
        transition: max-height $time-c cubic-bezier(0,1,0,1);

        &__content {
            padding: 0 $measure * 4 $measure * 3 0;
        }
    }

    &--is-active & {
        &__hd {
            &__icon {
                &::after {
                    opacity: 0;
                    transition: opacity $time-b $ease-standard-a;
                }
            }
        }

        &__bd {
            max-height: 99em;
            transition: max-height $time-c cubic-bezier(1,0,1,0);
        }
    }
}

@mixin make-accordion-02-modifier (
    $active-background-color: false,
    $active-icon-background: false,
    $active-icon-border-color: false,
    $active-icon-border-radius: false,
    $active-icon-color: false,
    $active-title-color: false,
    $border-color: false,
    $border-style: false,
    $border-width: false,
    $hover-icon-background: false,
    $hover-icon-border-color: false,
    $hover-icon-border-radius: false,
    $hover-icon-color: false,
    $hover-title-color: false,
    $icon-background: false,
    $icon-color: false,
    $icon-border-color: false,
    $icon-border-radius: false,
    $icon-border-style: false,
    $icon-border-width: false,
    $icon-height: false,
    $icon-width: false,
    $title-color: false,
    $title-font: false,
    $title-font-weight: false,
) {
    @if $border-width {
        border-bottom: $border-width;
    }

    @if $border-style {
        border-bottom-style: $border-style;
    }
    
    @if $border-color {
        border-bottom-color: $border-color;
    }

    @if $active-background-color {
        transition: background $time-b $ease-standard-a;
    }

    .g--accordion-02 {
        &__hd {
            &__title {
                @if $title-color {
                    color: $title-color;
                }
    
                @if $title-font {
                    @extend .f--font-#{$title-font} !optional;
                }
    
                @if $title-font-weight {
                    font-weight: $title-font-weight;
                }
                @if $hover-title-color or $active-title-color{
                    transition: color $time-b $ease-standard-a;
                }
            }

            &__icon {
                @if $icon-color {
                    &::before,
                    &::after {
                        background: $icon-color;
                    }
                }

                @if $icon-background {
                    background: $icon-background;
                }
                @if $hover-icon-color or $active-icon-color{
                    &::before,
                    &::after {
                        transition: background $time-b $ease-standard-a;
                    }
                }
                @if $icon-border-color {
                    border-color: $icon-border-color;
                }
                @if $icon-border-radius {
                    border-radius: $icon-border-radius;
                }
                @if $icon-border-style {
                    border-style: $icon-border-style;
                }
                @if $icon-border-width {
                    border-width: $icon-border-width;
                }
                @if $icon-width {
                    width: $icon-width*2;
                    height: $icon-width*2;
                }
                @if $icon-height {
                    &::before {
                        height: $icon-height;
                    }
                    &::after {
                        width: $icon-height;
                    }
                }
                @if $hover-icon-background and $hover-icon-border-color and $hover-icon-border-radius {
                    transition: background $time-b $ease-standard-a, border-color $time-b $ease-standard-a, border-radius $time-b $ease-standard-a;
                } @else if $hover-icon-background and $hover-icon-border-color{
                    transition: background $time-b $ease-standard-a, border-color $time-b $ease-standard-a;
                } @else if $hover-icon-background and $hover-icon-border-radius{
                    transition: background $time-b $ease-standard-a, border-radius $time-b $ease-standard-a;
                } @else if $hover-icon-border-color and $hover-icon-border-radius {
                    transition: border-color $time-b $ease-standard-a, border-radius $time-b $ease-standard-a;
                } @else if $hover-icon-background {
                    transition: background $time-b $ease-standard-a;
                } @else if $hover-icon-border-color {
                    transition: border-color $time-b $ease-standard-a;
                } @else if $hover-icon-border-radius {
                    transition: border-radius $time-b $ease-standard-a;
                }
            }
            @if $hover-title-color{
                @media all and (hover : hover) {
                    &:hover,
                    &:active {
                        .g--accordion-02{
                            &__hd{
                                &__title{
                                    color: $hover-title-color;
                                }
                            }
                        }
                    }
                }
            }
            
            @if $hover-icon-background{
                @media all and (hover : hover) {
                    &:hover,
                    &:active {
                        .g--accordion-02{
                            &__hd{
                                &__icon{
                                    background: $hover-icon-background;
                                }
                            }
                        }
                    }
                }
            }
            @if $hover-icon-border-color{
                @media all and (hover : hover) {
                    &:hover,
                    &:active {
                        .g--accordion-02{
                            &__hd{
                                &__icon{
                                    border-color: $hover-icon-border-color;
                                }
                            }
                        }
                    }
                }
            }
            @if $hover-icon-border-radius{
                @media all and (hover : hover) {
                    &:hover,
                    &:active {
                        .g--accordion-02{
                            &__hd{
                                &__icon{
                                    border-radius: $hover-icon-border-radius;
                                }
                            }
                        }
                    }
                }
            }
            @if $hover-icon-color{
                @media all and (hover : hover) {
                    &:hover,
                    &:active {
                        .g--accordion-02{
                            &__hd{
                                &__icon{
                                    &::before,
                                    &::after {
                                        background: $hover-icon-color;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    &.g--accordion-02--is-active {
        @if $active-background-color{
            background: $active-background-color;
        }
        .g--accordion-02{
            &__hd {
                @if $active-title-color{
                    &__title{
                        color: $active-title-color;
                    }
                }
                &__icon{
                    @if $active-icon-background {
                        background: $active-icon-background;
                    }
                    @if $active-icon-border-color {
                        border-color: $active-icon-border-color;
                    }
                    @if $active-icon-border-radius {
                        border-radius: $active-icon-border-radius;
                    }
                    @if $active-icon-color{
                        &::before,
                        &::after {
                            background: $active-icon-color;
                        }
                    }
                }
            }
        }
    }
}