.g--accordion-02 {
    @include make-accordion-02();
    @include make-accordion-02-modifier(
        $border-color: map-get($color-options, a),
        $border-style: solid,
        $border-width: 1px,
        $icon-color: map-get($color-options, g),
        $title-color: map-get($color-options, a),
        $title-font: c,
        $hover-title-color: map-get($color-options, g),
        $active-title-color: map-get($color-options, e),
        $active-icon-color: map-get($color-options, e),
        // $title-font-weight: false,
    );
}