.g--accordion-02 {
    @include make-accordion-02();
    @include make-accordion-02-modifier(
        $active-background-color: rgba(map-get($color-options, h), .2),
        $hover-icon-background: map-get($color-options, h),
        $hover-icon-border-color: map-get($color-options, a),
        $icon-border-radius: 50%,
        $icon-border-style: solid,
        $icon-border-width: 1px,
        $icon-height: 1px,
        $icon-width: $measure*2,
        $border-color: map-get($color-options, a),
        $border-style: solid,
        $border-width: 1px,
        $icon-color: map-get($color-options, a),
        $title-color: map-get($color-options, a),
        $title-font: c,
    );
}