@mixin make-card-50() {
    width: 100%;
    position: relative;
    display: flex;
    text-decoration: none;
    &__bg-items {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        &__artwork {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 0;
            transition: height $time-b $ease-standard-a;
            &::before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }
        }
        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }
    &__ft-items {
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: $measure*5 $measure*7 $measure*5 $measure*5;
        position: relative;
        z-index: 1;
        &__meta {
            margin-bottom: $measure*2;
        }
        &__title {
            margin-bottom: $measure*3;
        }
        &__list-group {
            display: flex;
            flex-wrap: wrap;
            gap: $measure $measure * 2;
            margin-bottom: $measure*3;
            &__badge {}
        }
        &__wrapper {
            margin-top: auto;
        }
    }

    @media all and (hover: hover) {
        &:hover,
        &:focus,
        &:active {
            .g--card-50 {
                &__bg-items {
                    &__artwork {
                        height: 100%;
                    }
                }
            }
        }
    }
}

@mixin make-card-50-modifier(
    $background-color: false,
    $background-position: false,
    $background-repeat: false,
    $background-size: false,
    $border-color: false,
    $border-radius: false,
    $border-style: false,
    $border-width: false,
    $card-aspect-ratio: false,
    $card-height: false,
    $hover-background-color: false,
    $hover-background-position: false,
    $hover-background-repeat: false,
    $hover-background-size: false,
    $hover-mask-background-color: false,
    $hover-meta-color: false,
    $hover-shadow: false,
    $hover-title-color: false,
    $hover-transform: false,
    $meta-color: false,
    $meta-font: false,
    $meta-font-weight: false,
    $link-class: false,
    $link-hide-by-default: false,
    $mask-background-color: false,
    $pill-class: false,
    $text-align: false,
    $title-color: false,
    $title-font: false,
    $title-font-weight: false,
    $title-max-lines: false,
) {
    @if $border-radius {
        border-radius: $border-radius;
        overflow: hidden;
    }
    @if $border-color {
        border-color: $border-color;
    }
    @if $border-style {
        border-style: $border-style;
    }
    @if $border-width {
        border-width: $border-width;
    }

    @if $background-color {
        background: $background-color;
    }

    @if $text-align == "center" {
        text-align: center;
        .g--card-50 {
            &__ft-items {
                padding: $measure*5 $measure*7;
                &__list-group {
                    justify-content: center;
                }
            }
        }
        
    }
    @if $text-align == "left" {
        text-align: left;
        .g--card-50 {
            &__ft-items {
                padding: $measure*5 $measure*7 $measure*5 $measure*5;
                &__list-group {
                    justify-content: flex-start;
                }
            }
        }
    }
    @if $text-align == "right" {
        text-align: right;
        .g--card-50 {
            &__ft-items {
                padding: $measure*5 $measure*5 $measure*5 $measure*7;
                &__list-group {
                    justify-content: flex-end;
                }
            }
        }
    }

    @if $hover-transform and $hover-shadow {
        transition: transform $time-b $ease-standard-a, box-shadow $time-b $ease-standard-a;
        @media all and (hover: hover) {
            &:hover,
            &:focus,
            &:active {
                transform: $hover-transform;
                box-shadow: $hover-shadow;
            }
        }
    } @else if $hover-transform {
        transition: transform $time-b $ease-standard-a;
        @media all and (hover: hover) {
            &:hover,
            &:focus,
            &:active {
                transform: $hover-transform;
            }
        }
    } @else if $hover-shadow {
        transition: box-shadow $time-b $ease-standard-a;
        @media all and (hover: hover) {
            &:hover,
            &:focus,
            &:active {
                box-shadow: $hover-shadow;
            }
        }
    }
    @if $hover-meta-color {
        @media all and (hover: hover) {
            &:hover,
            &:focus,
            &:active {
                .g--card-50 {
                    &__ft-items {
                        &__meta {
                            color: $hover-meta-color;
                        }
                    }
                }
            }
        }
    }
    @if $hover-title-color {
        @media all and (hover: hover) {
            &:hover,
            &:focus,
            &:active {
                .g--card-50 {
                    &__ft-items {
                        &__title {
                            color: $hover-title-color;
                        }
                    }
                }
            }
        }
    }

    @if $link-hide-by-default {
        @media all and (hover: hover) {
            &:hover,
            &:focus,
            &:active {
                .g--card-50 {
                    &__ft-items{
                        &__wrapper{
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }

    .g--card-50{
        &__bg-items{
            @if $background-position {
                background-position: $background-position;
            }
            @if $background-repeat {
                background-repeat: $background-repeat;
            }
            @if $background-size {
                background-size: $background-size;
            }
            &__artwork{
                @if $hover-background-color {
                    background: $hover-background-color;
                }
                @if $hover-background-position {
                    background-position: $hover-background-position;
                }
                @if $hover-background-repeat {
                    background-repeat: $hover-background-repeat;
                }
                @if $hover-background-size {
                    background-size: $hover-background-size;
                }
                @if $hover-mask-background-color {
                    &::before{
                        background: $hover-mask-background-color;
                    }
                }
            }
            @if $mask-background-color {
                &::before{
                    background: $mask-background-color;
                }
            }
        }
        &__ft-items{
            @if $card-height {
                min-height: $card-height;
            }
            @if $card-aspect-ratio {
                aspect-ratio: $card-aspect-ratio;
            }
            &__meta{
                @if $meta-color {
                    color: $meta-color;
                }
                @if $meta-font {
                    @extend .f--font-#{$meta-font} !optional;
                }
                @if $meta-font-weight {
                    font-weight: $meta-font-weight;
                }
                @if $hover-meta-color {
                    transition: color $time-b $ease-standard-a;
                }
            }
            &__title{
                @if $title-color {
                    color: $title-color;
                }
                @if $title-font {
                    @extend .f--font-#{$title-font} !optional;
                }
                @if $title-font-weight {
                    font-weight: $title-font-weight;
                }
                @if $title-max-lines {
                    overflow: hidden;
                    text-overflow: ellipsis;
                    display: -webkit-box;
                    -webkit-line-clamp: $title-max-lines;
                    -webkit-box-orient: vertical;
                }
                @if $hover-title-color {
                    transition: color $time-b $ease-standard-a;
                }
            }
            &__list-group{
                &__badge{
                    @if $pill-class {
                        @extend .#{$pill-class} !optional;
                    }
                }
            }
            &__wrapper{
                @if $link-hide-by-default == true {
                    @media all and (hover: hover) {
                        opacity: 0;
                        transition: opacity $time-b $ease-standard-a;
                    }
                } @else if $link-hide-by-default == "no" {
                    opacity: 1;
                }
                &__link{
                    @if $link-class {
                        @extend .#{$link-class} !optional;
                    }
                }
            }
        }
    }
}