.g--card-50{
    @include make-card-50(
        $subtitle-font: f,
        $title-font: d,
        // $border-radius: default,
    );
    @include make-card-50-modifier(
        $background-color: rgba(map-get($color-options, a), .1),
        $subtitle-color: map-get($color-options, a),
        $title-color: map-get($color-options, a),
    );
}