@mixin make-card-46(
    $btn-class,
    $content-font,
    $heading-font,
    $person-font,
    $position-font,
    $border-radius: false,
    $content-font-weight: false,
    $heading-font-weight: false,
    $person-font-weight: false,
    $position-font-weight: false,
    $change-order-reponsive: false,
) {
    display: flex;
    flex-wrap: wrap;
    width: 100%;

    @if $border-radius {
        border-radius: $border-radius;
        overflow: hidden;
    }

    &__wrapper{
        width: 50%;
        padding: $measure*10;

        @media all and ($viewport-type: $tabletm) {
            padding: $measure*10 $measure*4;
        }

        @media all and ($viewport-type: $tablets) {
            width: 100%;
            @if $change-order-reponsive{
                order: 1;
            }
        }

        &__hd{
            @extend .f--font-#{$heading-font} !optional;
            @if $heading-font-weight {
                font-weight: $heading-font-weight;
            }
            margin-bottom: $measure * 3;

            @media all and ($viewport-type: $tablets) {
                margin-bottom: $measure * 2;
            }
        }

        &__bd{
            @extend .f--font-#{$content-font} !optional;
            @if $content-font-weight {
                font-weight: $content-font-weight;
            }
            margin-bottom: $measure * 3;

            @media all and ($viewport-type: $tablets) {
                margin-bottom: $measure * 2;
            }
        }
        &__ft{
            &__title{
                @extend .f--font-#{$person-font} !optional;
                @if $person-font-weight {
                    font-weight: $person-font-weight;
                }
            }
            &__subtitle{
                @extend .f--font-#{$position-font} !optional;
                @if $position-font-weight {
                    font-weight: $position-font-weight;
                }
            }
        }

        &__btn{
            @extend .#{$btn-class} !optional;
            margin-top: $measure * 4;
            display: inline-block;
            @media all and ($viewport-type: $tablets) {
                margin-top: $measure * 3;
            }
        }
    }

    &__media-wrapper{
        position: relative;
        width: 50%;

        @media all and ($viewport-type: $tablets) {
            width: 100%;
            padding: $measure*14 $measure*4;
        }

        &__media{
            display: block;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 65%;
            height: 52%;
            max-width: 400px;
            max-height: 300px;
            object-fit: contain;
            object-position: center center;

            @media all and ($viewport-type: $tablets) {
                position: relative;
                top: auto;
                left: auto;
                height: auto;
                transform: none;
                width: 100%;
                height: auto;
                max-width: 275px;
                max-height: 275px;
                margin: 0 auto;
            }
        }
    }
}

@mixin make-card-46-modifier(
    $content-color,
    $heading-color,
    $person-color,
    $position-color,
    $background-color: false,
    $btn-class-modifier: false,
    $img-background-color: false,
    $text-align: false,
) {
    @if $background-color {
        background: $background-color;   
    }

    @if $text-align == "center" {
        text-align: center;
        
        .g--card-46 {
            &__wrapper{
                &__btn{
                    margin-left: auto;
                    margin-right: auto;
                }
            }
        }
    }

    @if $text-align == "left" {
        text-align: left;

        .g--card-46 {
            &__wrapper{
                &__btn{
                    margin-left: 0;
                    margin-right: auto;
                }
            }
        }
    }

    @if $text-align == "right" {
        text-align: right;

        .g--card-46 {
            &__wrapper{
                &__btn{
                    margin-left: auto;
                    margin-right: 0;
                }
            }
        }
    }
    
    .g--card-46 {
        &__wrapper{
            &__hd{
                color: $heading-color;
            }

            &__bd{
                color: $content-color;
            }

            &__ft{
                &__title{
                    color: $person-color;
                }
                &__subtitle{
                    color: $position-color;
                }
            }

            @if $btn-class-modifier {
                &__btn{
                    @extend .#{$btn-class-modifier} !optional;
                }
            }
        }
        @if $img-background-color {
            &__media-wrapper{
                background: $img-background-color;
            }
        }
    }
}