@mixin make-form-radio-01(
    $circle-border-width,
    $circle-width,
    $font,
    $font-weight: false,
) {
    position: relative;
    &__item{
        position: absolute;
        opacity: 0;
        cursor: pointer;
        left:0;
        top:0;
        width: 100%;
        height: 100%;
        z-index: 0;
        padding: 0;
        &:checked + .g--form-radio-01__title::after{
            opacity: 1;
        }
    }
    &__title{
        @extend .f--font-#{$font} !optional;
        @if $font-weight {
            font-weight: $font-weight;
        }
        position: relative;
        display: block;
        padding-left: calc(#{$measure} + #{$circle-width});
        cursor: pointer;
        &::before{
            content: '';
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            height: $circle-width;
            width: $circle-width;
            border: $circle-border-width solid;
            border-radius: 50%;
        }
        &::after{
            content: '';
            position: absolute;
            width: $circle-width*.75;
            height: $circle-width*.75;
            top: 50%;
            left: $circle-width*.5;
            transform: translate(-50%, -50%);
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
            opacity: 0;
            border-radius: 50%;
            transition: opacity $time-b $ease-standard-a;
        }
    }
}

@mixin make-form-radio-01-modifier(
    $artwork-color,
    $circle-color,
    $circle-color-focus,
    $error-border-color,
    $text-color,
) {
    .g--form-radio-01{
        &__item{
            &:focus + .g--form-radio-01__title::before,
            &:checked + .g--form-radio-01__title::before{
                border-color: $circle-color-focus;
            }
        }
        &__title{
            color: $text-color;
            &::before{
                border-color: $circle-color;
            }
            &::after{
                background: $artwork-color;
            }
        }
    }
    &.g--form-radio-01--error{
        .g--form-radio-01{
            &__item{
                &:focus + .g--form-radio-01__title::before,
                &:checked + .g--form-radio-01__title::before{
                    border-color: $error-border-color;
                }
            }
            &__title{
                &::before {
                    border-color: $error-border-color;
                }
            }
        }
    }
}