@mixin make-form-radio-01() {
    position: relative;
    &__item{
        position: absolute;
        opacity: 0;
        cursor: pointer;
        left:0;
        top:0;
        width: 100%;
        height: 100%;
        z-index: 0;
        padding: 0;
        &:checked + .g--form-radio-01__title::after{
            opacity: 1;
        }
    }
    &__title{
        position: relative;
        display: block;
        padding-left: $measure;
        cursor: pointer;
        &::before{
            content: '';
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            border-radius: 50%;
        }
        &::after{
            content: '';
            position: absolute;
            top: 50%;
            transform: translate(-50%, -50%);
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
            opacity: 0;
            border-radius: 50%;
            transition: opacity $time-b $ease-standard-a;
        }
    }
}

@mixin make-form-radio-01-modifier(
    $artwork-color: false,
    $circle-color: false,
    $circle-color-focus: false,
    $error-border-color: false,
    $text-color: false,
    $circle-border-width: false,
    $circle-border-style: false,
    $circle-width: false,
    $font: false,
    $font-weight: false,
) {
    .g--form-radio-01{
        &__item{
            @if $circle-color-focus {
                &:focus + .g--form-radio-01__title::before,
                &:checked + .g--form-radio-01__title::before{
                    border-color: $circle-color-focus;
                }
            }
        }
        &__title{
            @if $font {
                @extend .f--font-#{$font} !optional;
            }
            @if $font-weight {
                font-weight: $font-weight;
            }
            @if $text-color {
                color: $text-color;
            }
            @if $circle-width {
                padding-left: calc(#{$measure} + #{$circle-width});
            }
            @if $circle-color {
                &::before{
                    border-color: $circle-color;
                }
            }
            @if $circle-width {
                &::before{
                    height: $circle-width;
                    width: $circle-width;
                }
            }
            @if $circle-border-width {
                &::before{
                    border-width: $circle-border-width;
                }
            }
            @if $circle-border-style {
                &::before{
                    border-style: $circle-border-style;
                }
            }
            @if $artwork-color {
                &::after{
                    background: $artwork-color;
                }
            }
            @if $circle-width {
                &::after{
                    width: $circle-width*.75;
                    height: $circle-width*.75;
                    left: $circle-width*.5;
                }
            }
        }
    }
    @if $error-border-color {
        &.g--form-radio-01--error{
            .g--form-radio-01{
                &__item{
                    &:focus + .g--form-radio-01__title::before,
                    &:checked + .g--form-radio-01__title::before{
                        border-color: $error-border-color;
                    }
                }
                &__title{
                    &::before {
                        border-color: $error-border-color;
                    }
                }
            }
        }
    }
}