@mixin make-back-top-01(
    $icon-height,
    $icon-width,
    $margin-bottom,
    $margin-right
) {
    position: sticky;
    top: calc(100% - #{$icon-height} - #{$margin-bottom});
    left: calc(100% - #{$icon-width} - #{$margin-right});
    opacity: 0;
    pointer-events: none;
    transition: opacity $time-b $ease-standard-a;
    z-index: 1000;
    &--is-active{
        opacity: 1;
        pointer-events: all;
    }
}

@mixin make-back-top-01-modifier(
    $breakpoint: false,
    $icon-height-responsive: false,
    $icon-width-responsive: false,
    $margin-bottom-responsive: false,
    $margin-right-responsive: false,
) {
    @if $breakpoint{
        @media all and ($viewport-type: $breakpoint) {
            top: calc(100% - #{$icon-height-responsive} - #{$margin-bottom-responsive});
            left: calc(100% - #{$icon-width-responsive} - #{$margin-right-responsive});
        }
    }
    & + * {
        margin-top: -$icon-height;
        @if $breakpoint{
            @media all and ($viewport-type: $breakpoint) {
                margin-top: -$icon-height-responsive;
            }
        }
    }
}