@mixin make-back-top-01() {
    display: block;
    position: sticky;
    opacity: 0;
    pointer-events: none;
    transition: opacity $time-b $ease-standard-a;
    z-index: 1000;
    
    &--is-active{
        opacity: 1;
        pointer-events: all;
    }
}

@mixin make-back-top-01-modifier(
    $icon-height: false,
    $icon-width: false,
    $margin-bottom: false,
    $margin-right: false,
){
    @if $icon-height and $margin-bottom{
        top: calc(100% - #{$icon-height} - #{$margin-bottom});
    } @else if $icon-height{
        top: calc(100% - #{$icon-height});
    } @else if $margin-bottom{
        top: calc(100% - #{$margin-bottom});
    }

    @if $icon-width and $margin-right{
        left: calc(100% - #{$icon-width} - #{$margin-right});
    } @else if $icon-width {
        left: calc(100% - #{$icon-width});
    } @else if $margin-right {
        left: calc(100% - #{$margin-right});
    }

    & + * {
        @if $icon-height {
            margin-top: -$icon-height;
        }
    }
}