.g--back-top-01 {
    @include make-back-top-01();

    @include make-back-top-01-modifier(
        $icon-height: $measure*6,
        $icon-width: $measure*6,
        $margin-bottom: $measure*5,
        $margin-right: $measure*3,
    );

    &--second {
        @include make-back-top-01-modifier(
            $icon-height: $measure * 6,
            $icon-width: $measure * 6,
            $margin-bottom: $measure * 3,
            $margin-right: $measure * 6,
        );
    }
}