@mixin make-card-51(
    $title-font,
    $media-max-width,
    $border-radius: false,
    $change-order-reponsive: false,
    $title-font-weight: false,
) {
    display: flex;
    flex-wrap: wrap;

    @if $border-radius {
        border-radius: $border-radius;
        overflow: hidden;
    }
    &__wrapper {
        padding: $measure*10;
        width: 50%;

        &__title {
            @extend .f--font-#{$title-font} !optional;
            @if $title-font-weight {
                font-weight: $title-font-weight;
            }
            margin-bottom: $measure * 3;

            @media all and ($viewport-type: $tablets) {
                margin-bottom: $measure * 2;
            }
        }

        @media all and ($viewport-type: $tablets) {
            width: 100%;
            padding: $measure*5;
            @if $change-order-reponsive {
                order: 2;
            }
        }

    }
    &__media-wrapper {
        position: relative;
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: $measure*10;

        @media all and ($viewport-type: $tablets) {
            width: 100%;
            padding: $measure*5;
            @if $change-order-reponsive {
                order: 1;
            }
        }

        &__media {
            position:relative;
            height: auto;
            max-width: $media-max-width;
            width: 100%;
            height: auto;
        }
    }
}

@mixin make-card-51-modifier(
    $title-color,
    $background-color: false,
    $media-background-color: false,
) {
    @if $background-color {
        background: $background-color;   
    }

    @if $media-background-color {
        .g--card-51{
            &__media-wrapper{
                background: $media-background-color;   
            }
        }
    }

    .g--card-51{
        &__wrapper{
            &__title{
                color: $title-color;
            }
            
        }
    }
}