@mixin make-card-51(
    $title-font,
    $border-radius: false,
    $change-order-reponsive: false,
    $title-font-weight: false,
) {
    display: flex;
    flex-wrap: wrap;

    @if $border-radius {
        border-radius: $border-radius;
        overflow: hidden;
    }
    &__wrapper {
        padding: $measure*10;
        width: 50%;

        &__title {
            @extend .f--font-#{$title-font} !optional;
            @if $title-font-weight {
                font-weight: $title-font-weight;
            }
            margin-bottom: $measure * 3;

            @media all and ($viewport-type: $tablets) {
                margin-bottom: $measure * 2;
            }
        }

        @media all and ($viewport-type: $tablets) {
            width: 100%;
            padding: $measure*5;
            @if $change-order-reponsive {
                order: 2;
            }
        }

    }
    &__media-wrapper {
        position: relative;
        width: 50%;

        @media all and ($viewport-type: $tablets) {
            width: 100%;
            @if $change-order-reponsive {
                order: 1;
            }
        }

        &__media {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            @media all and ($viewport-type: $tablets) {
                position: relative;
                top: auto;
                left: auto;
                height: auto;
            }
        }
    }
}

@mixin make-card-51-modifier(
    $background-color: false,
    $title-color,
) {
    @if $background-color {
        background: $background-color;   
    }

    .g--card-49 {
        &__wrapper{
            &__title{
                color: $title-color;
            }
            
        }
    }
}