.g--card-51{
    @include make-card-51(
        $media-max-width: 150px,
        $title-font: d,
        // title-font-weight: default
        // $change-order-reponsive: default
        // $border-radius: default,
    );
    @include make-card-51-modifier(
        $background-color: rgba(map-get($color-options, a), .1),
        $media-background-color: rgba(map-get($color-options, a), .5),
        $title-color: map-get($color-options, a),
    );
}