@mixin make-card-32(
    $link-class,
    $background-position,
    $background-size,
    $title-font,
    $subtitle-font,
    $border-radius: false,
    $title-font-weight: false,
    $subtitle-font-weight: false
) {
    background-position: $background-position;
    background-repeat: no-repeat;
    background-size: $background-size;
    padding: $measure*7 $measure*5;
    position: relative;
    width: 100%;

    &::before{
        content: '';
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        z-index: 0;
        width: 100%;
    }

    @if $border-radius {
        border-radius: $border-radius;
        overflow: hidden;
    }

    &__wrapper{
        position: relative;
        z-index: 1;

        &__title{
            @extend .f--font-#{$title-font} !optional;
            @if $title-font-weight {
                font-weight: $title-font-weight;
            }

            margin-bottom: $measure * 2;
        
            @media all and ($viewport-type: $tablets) {
                margin-bottom: $measure;
            }
        }

        &__subtitle{
            @extend .f--font-#{$subtitle-font} !optional;
            @if $subtitle-font-weight {
                font-weight: $subtitle-font-weight;
            }
            margin-bottom: $measure * 2;
        
            @media all and ($viewport-type: $tablets) {
                margin-bottom: $measure;
            }

        }

        &__link{
            @extend .#{$link-class} !optional;
            margin-top: auto;
        }

    }

    
}

@mixin make-card-32-modifier(
    $mask-color,
    $title-color,
    $subtitle-color,
    $link-class-modifier: false,
    $text-align: false,
) {
    &::before{
        background: $mask-color;
    }

    @if $text-align == "center" {
        text-align: center;
    }
    @if $text-align == "left" {
        text-align: left;

    }
    @if $text-align == "right" {
        text-align: right;

    }
    
    .g--card-32 {
        &__wrapper{

            @if $link-class-modifier {
                &__link{
                    @extend .#{$link-class-modifier} !optional;
                }
            }

            &__title{
                color: $title-color;
            }

            &__subtitle{
                color: $subtitle-color;
            }
        }
    }
}