.g--card-32{
    @include make-card-32(
        $link-class: g--link-01,
        $background-size: cover,
        $background-position: center,
        // $border-radius: default,
    );
    @include make-card-32-modifier(
        $mask-color: rgba(map-get($color-options, b), .5),
        $title-color: map-get($color-options, a),
        $subtitle-color: map-get($color-options, a),
        $title-font: e,
        $subtitle-font: f,
        // $title-font-weight: default,
        // $subtitle-font-weight: default,
        //$link-class-modifier: default,
        // $text-align: default
    );
}