@mixin make-card-48() {
    padding: 0 $measure * 2;
    width: 100%;

    @media all and ($viewport-type: $tabletm) {
        padding: 0;
    }

    &__media-wrapper {
        margin-bottom: $measure * 1.5;
        width: 100%;

        @media all and ($viewport-type: $mobile) {
            height: auto;
        }

        &__media {
            display: block;
        }
    }

    &__title {
        margin-bottom: $measure * 0.5;
    }
}

@mixin make-card-48-modifier(
    $subtitle-font: false,
    $title-font: false,
    $img-border-radius: false,
    $img-object-fit: false,
    $img-position: false,
    $img-width: false,
    $img-height: false,
    $img-aspect-ratio: false,
    $title-font-weight: false,
    $subtitle-font-weight: false,
    $subtitle-color: false,
    $title-color: false,
    $img-background-color: false,
    $img-background-color-hover: false,
    $text-align: false,
    $title-color-hover: false,
    $zoom-hover:false,
    $translate-hover: false,
) {
    @if $text-align == "center" {
        text-align: center;
    }

    @if $text-align == "left" {
        text-align: left;
    }

    @if $text-align == "right" {
        text-align: right;
    }

    @if $img-background-color-hover or $title-color-hover {
        text-decoration: none !important;
        display: block;
    }

    @if $img-background-color-hover and $title-color-hover {
        .g--card-48 {
            &__media-wrapper {
                transition: background $time-b $ease-standard-a;
            }
            &__title {
                transition: color $time-b $ease-standard-a;
            }
        }

        @media all and (hover: hover) {
            &:hover,
            &:focus,
            &:active {
                .g--card-48 {
                    &__media-wrapper {
                        background: $img-background-color-hover;
                    }
                    &__title {
                        color: $title-color-hover;
                    }
                }
            }
        }
    } @else if $img-background-color-hover {
        .g--card-48 {
            &__media-wrapper {
                transition: background $time-b $ease-standard-a;
            }
        }

        @media all and (hover: hover) {
            &:hover,
            &:focus,
            &:active {
                .g--card-48 {
                    &__media-wrapper {
                        background: $img-background-color-hover;
                    }
                }
            }
        }
    } @else if $title-color-hover {
        .g--card-48 {
            &__title {
                transition: color $time-b $ease-standard-a;
            }
        }

        @media all and (hover: hover) {
            &:hover,
            &:focus,
            &:active {
                .g--card-48 {
                    &__title {
                        color: $title-color-hover;
                    }
                }
            }
        }
    }

    @if $translate-hover{
        transition: transform $time-b $ease-standard-a;
        @media all and (hover : hover) {
            &:hover,
            &:focus,
            &:active {
                transform: $translate-hover;
            }
        }
    }

    @if $zoom-hover {
        .g--card-48 {
            &__media-wrapper {
                overflow: hidden;
                &__media {
                    transition: transform $time-b $ease-standard-a;
                }
            }
        }
        @media all and (hover: hover) {
            &:hover,
            &:focus,
            &:active {
                .g--card-48 {
                    &__media-wrapper {
                        &__media {
                            transform: scale($zoom-hover);
                        }
                    }
                }
            }
        }
    }

    .g--card-48 {
        &__media-wrapper {
            @if $img-border-radius {
                border-radius: $img-border-radius;
                overflow: hidden;
            }
            @if $img-background-color {
                background: $img-background-color;
            }

            &__media {
                @if $img-object-fit {
                    object-fit: $img-object-fit;
                } @else {
                    object-fit: contain;
                }

                @if $img-position {
                    object-position: $img-position;
                } @else {
                    object-position: bottom center;
                }

                @if $img-width {
                    width: $img-width;
                } @else {
                    width: 100%;
                }

                @if $img-height {
                    height: $img-height;
                } @else {
                    height: auto;
                }

                @if $img-aspect-ratio {
                    aspect-ratio: $img-aspect-ratio;
                }
            }
        }

        &__title {
            @if $title-color {
                color: $title-color;
            }
            @if $title-font {
                @extend .f--font-#{$title-font} !optional;
            }
            @if $title-font-weight {
                font-weight: $title-font-weight;
            }
        }

        &__subtitle {
            @if $subtitle-color {
                color: $subtitle-color;
            }
            @if $subtitle-font {
                @extend .f--font-#{$subtitle-font} !optional;
            }
            @if $subtitle-font-weight {
                font-weight: $subtitle-font-weight;
            }
        }
    }
}
