.g--cta-03{
    @include make-cta-03();
    @include make-cta-03-modifier(
        $background-color: rgba(map-get($color-options, a), .5),
        // $hover-background-color: false,
        $btn-class: g--btn-02,
        // $btn-font: false,
        // $border-radius: false,
        $subtitle-color: map-get($color-options, b),
        // $hover-subtitle-color: false,
        $subtitle-font: d,
        // $subtitle-font-weight: false,
        // $subtitle-max-lines: false,
        $title-color: map-get($color-options, b),
        // $hover-title-color: false,
        $title-font: b,
        // $title-font-weight: false,
        // $title-max-lines: false,
        $text-align: left,
        // $hover-shadow: false,
        // $hover-transform: false,
    );

    @include make-cta-03-modifier(
        $btn-class: g--btn-02--second,
    );
}