.g--cta-06 {
    @include make-cta-06();
    @include make-cta-06-modifier(
        $background-color: lighten(map-get($color-options, a), 82%),
        $btn-class: g--btn-01,
        $change-order-reponsive: true,
        $img-position: center,
        $one-col-bkt: $tabletm,
        $subtitle-color: map-get($color-options, a),
        $subtitle-font: f,
        $title-color: map-get($color-options, a),
        $title-font: c,
        // $border-radius: false,
        // $btn-font: false,
        // $hide-img-reponsive: false,
        // $hover-background-color: false,
        // $hover-img-zoom: false,
        // $hover-shadow: false,
        // $hover-subtitle-color: false,
        // $hover-title-color: false,
        // $hover-transform: false,
        // $subtitle-font-weight: false,
        // $subtitle-max-lines: fasle,
        // $text-align: false,
        // $title-font-weight: false,
        // $title-max-lines: false,
    );
    @include make-cta-06-modifier($btn-class: g--btn-01--second);
}
