.g--cta-06{
    @include make-cta-06();
    @include make-cta-06-modifier(
        $background-color: map-get($color-options, h),
        $hover-background-color: map-get($color-options, g),
        $btn-class: g--btn-01,
        // $btn-font: false,
        $border-radius: 90px,
        $subtitle-color: map-get($color-options, b),
        $hover-subtitle-color: map-get($color-options, a),
        $subtitle-font: f,
        // $subtitle-font-weight: false,
        $subtitle-max-lines: 1,
        $title-color: map-get($color-options, b),
        $hover-title-color: map-get($color-options, a),
        $title-font: d,
        $title-font-weight: bold,
        $title-max-lines: 1,
        // $text-align: false,
        $one-col-bkt: $tabletm,
        $change-order-reponsive: true,
        // $hide-img-reponsive: false,
        $img-position: center,
        $hover-shadow: 0 0 $measure*2 map-get($color-options, h),
        $hover-transform: translateY(-$measure),
        $hover-img-zoom: 1.1,
    );
}