@mixin make-grid-01() {
    height: 100vh;
    overflow: hidden;
    // overflow-y: auto;
    // &__wrapper{
    //     display: grid;
    //     gap: 32px;
    //     grid-auto-rows: 1fr;
    //     &__item{
    //         display: flex;
    //     }
    // }
    &__wrapper{
        display: flex;
        flex-wrap: wrap;
        gap: 32px;
        &__item{
            display: flex;
            flex-direction: column;
            row-gap: 32px;
            &__content{
                display: flex;
            }
        }
    }
    
}

@mixin make-grid-01-modifier(
    $columns: false,
    $item-background-color: false,
    $item-min-height: false,
) {

    .g--grid-01 {
        &__wrapper {
            &__item{
                @if $columns {
                    width: calc(((100% - (32px * (#{$columns} - 1))) / #{$columns}));
                }
                &__content{
                    @if $item-background-color {
                        background: $item-background-color;
                    }
                    @if $item-min-height {
                        min-height: $item-min-height;
                    }
                }
            }
        }
    }
}
