.g--cta-08 {
    @include make-cta-08();
    @include make-cta-08-modifier(
        $background-color: linear-gradient(226deg, #e0ff4f 0%, #36ba9f 100%),
        // $border-radius: $measure,
        $btn-child-class: g--btn-01--second,
        // $btn-child-font: c,
        $btn-child: 2,
        $btn-class: g--btn-02,
        $btn-font: g,
        // $cta-min-height: 300px,
        // $hover-background-color: map-get($color-options, g),
        // $hover-border-radius: 0px,
        // $hover-shadow: 0 0 $measure * 4 map-get($color-options, a),
        // $hover-subtitle-color: map-get($color-options, f),
        // $hover-title-color: map-get($color-options, f),
        // $hover-title-underline-color: map-get($color-options, f),
        // $hover-transform: translateY(-$measure),
        // $shadow: 0 0 $measure * 2 map-get($color-options, g),
        $subtitle-color: map-get($color-options, a),
        // $subtitle-font-weight: 400,
        $subtitle-font: d,
        // $subtitle-max-lines: 2,
        $text-align: center,
        $title-color: map-get($color-options, a),
        // $title-font-weight: bold,
        $title-font: b,
        // $title-max-lines: 3
    );
}
