@mixin make-message-01(
    $text-font
) {
    padding: $measure * 10 $measure * 15;
    text-align: center;

    @media all and ($viewport-type: $tablets) {
        padding: $measure * 10 $measure * 5;
    }

    &__content {
        @extend .f--font-#{$text-font} !optional;
    }
}

@mixin make-message-01-modifier(
    $text-color,
    $background-color: false,
) {
    @if $background-color {
        background-color: $background-color;
    }

    .g--message-01 {
        &__content {
            color: $text-color;
        }
    }
}