.g--message-01 {
    @include make-message-01(
        $text-font: d
    );

    @include make-message-01-modifier(
        $background-color: map-get($color-options, g),
        $text-color: map-get($color-options, a)
    );
}