.g--message-01 {
    @include make-message-01();
    @include make-message-01-modifier(
        $background-color: lighten(map-get($color-options,a), 82%),
        $border-color: map-get($color-options, a),
        $border-radius: 0,
        $border-style: solid,
        $border-width: 1px,
        $text-align: center,
        $text-color: map-get($color-options, a),
        $text-font-weight: 400,
        $text-font: f,
        $text-max-lines: 5,
    );

    &--second {
        @include make-message-01-modifier(
            $background-color: lighten(map-get($color-options,a), 82%),
            $border-radius: 20px 20px 90px 20px,
            $border-width: 3px,
            $border-style: solid dotted dotted solid,
            $border-color: map-get($color-options, f),
            $message-min-height: 300px,
            $shadow: 0 0 $measure*2 map-get($color-options, g),
            $text-color: map-get($color-options, a),
            $text-font: d,
            $text-font-weight: bold,
            $text-max-lines: 2,
            $text-align: left,
            
        );
    }
}